.portfolio-comment {
  .comment {
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 40px 0;
    font-weight: 300;
    padding: 0 50px 50px;
    margin: auto;

    .comment-info {
      width: 100%;
      float: left;
      text-align: center;
      .comment-job {

      }
      img {
        max-width: 150px;
        margin: -50px auto 15px;
        border-radius: 50%;
        box-shadow: 0 8px 32px 0 rgba(179,104,0,0.15);
      }
    }
    .comment-opinion {
      float: left;
      width: 100%;
      .comment-company {
        max-width: 100px;
        margin: 20px 0;
        display: block;
      }
    }
    a {
      display: block;
      float: left;
      margin-top: 30px;
    }
  }
}

@media (min-width: 992px) {
  .portfolio-comment .comment {
    width: 900px;
    .comment-opinion {
      width: 80%;
      padding-left: 4%;
    }
    .comment-info {
      width: 16%;
    }
  }
}
