.deal-banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  align-items: center;
  grid-template-rows: 1fr;
  background-size: cover;
  background-position: center;
  color: $color-white;
  border-radius: 5px;
  margin-top: 50px;

  .deal-text {
    padding: 40px 30px;

    .purple {
      color: $color-main-project-muted;
    }

    .banner-logo {
      width: 160px;
    }

    .lvcloud {
      height: 50px;
      width: auto;
    }

    h1 {
      max-width: 425px;
      margin: 30px 0;
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .deal-image {
    padding: 20px;
    text-align: center;

    img {
      max-height: 420px;
      margin-top: 30px;
    }
  }

  p {
    font-weight: 200;
    font-size: 1.5rem;
  }

  span {
    font-size: 0.9rem;
    font-weight: 300;
  }
}

.deal-step {
  margin-top: 70px;

  .step {
    display: grid;

    .main-point {
      margin: 0;
    }

    h2,
    span,
    p,
    img {
      margin: 0;
      margin-top: 30px;
    }

    img {
      grid-row: 3;
      border-radius: 5px;
      box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    }

    .stack {
      display: flex;
      max-width: 300px;
      margin-left: 30px;

      img {
        max-height: 50px;
        margin-right: 40px;
        box-shadow: none;
      }
    }

    .image-right,
    .image-left {
      max-width: 500px;
      height: auto;
    }

    .step-image {
      display: grid;
      grid-template-columns: .7fr 1fr;
      justify-items: end;
      grid-gap: 10px;
      margin-top: 30px;

      img {
        margin-top: 0;
      }

      &-1 {
        grid-column: 2;
        grid-row: 1;
        align-self: end;
        width: 70%;
      }

      &-2 {
        grid-column: 1;
        grid-row: 1 / 3;
        align-self: center;
        width: 60%;
        margin-right: 30px;
      }

      &-3 {
        grid-column: 2;
        grid-row: 2;
        width: 100%;
        margin-right: 30px;
      }
    }
  }

  h2 {
    margin-top: 30px;
    font-weight: 600;
  }
  p {
    max-width: 350px;
    margin-top: 30px;
    font-weight: 200;
  }
}

.portfolio-comment {
  margin-top: 70px;

  .project-comment {
    margin-top: 70px;

    .comment {
      min-height: 190px;
    }

    .comment-opinion p {
      margin-bottom: 0;
    }
  }
}

.portfolio-slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;

  .slide-left {
    justify-self: start;
  }

  .slide-right {
    justify-self: end;
    text-align: right;

    .slide-arrow {
      justify-self: end;
    }
  }

  .project-logo {
    grid-column: 1 / 3;
    grid-row: 2;
    width: 150px;
    margin-top: 10px;

  }

  a {
    display: grid;

    span {
      grid-row: 1;
      color: $color-global-font;
      font-weight: 200;
      font-size: 0.9rem;
      margin-top: -5px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .slide-arrow {
    grid-row: 1;
    margin: 0 10px;
    width: 25px;
  }
}

@media (min-width: 475px) {
  .deal-step .step .step-image {
    grid-gap: 20px;
  }
}

@media (min-width: 811px) {
  .deal-banner {
    margin-top: 180px;
  }
}

@media (min-width: 992px) {
  .deal-banner {
    grid-template-columns: 1fr 1.4fr;
    min-height: 540px;

    .deal-image {
      grid-column: 2;

      img {
        margin: 0;
      }
    }
    .deal-text {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: calc(100% - 135px);
      padding: 75px 0 60px 75px;
    }
  }
  .deal-step {
    margin-top: 130px;

    .step-left {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      span, h2, p {
        grid-column: 1;
      }

      .stack {
        margin-left: 60px;
      }

      .image-right {
        grid-column: 2;
        grid-row: 1 / 5;
        margin-top: 100px;
        margin-left: 100px;
      }
    }

    .step-right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      span, h2, p {
        grid-column: 2;
      }

      .image-left {
        grid-column: 1;
        grid-row: 1 / 5;
        margin-top: 100px;
      }
    }

    .step-last {
      display: block;

      img {
        margin-top: 0;
      }

      .step-image {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 35px;
        margin-top: -100px;

        &-2 {
          width: 50%;
          margin-top: -100px;
          margin-right: 30px;
        }
      }
    }

    .step {

      h2 {
        margin-left: 32px;
      }

      p {
        margin-left: 32px;
        padding: 30px;
      }
    }
  }

  .portfolio-comment {
    margin-top: 150px;

    .project-comment {
      margin-top: 115px;
    }
  }

  .portfolio-slide {
    margin-bottom: 70px;
  }
}
