.portfolio-gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 60px;
  margin-top: 0;

  .project {
    background-image: url(../assets/images/projects-background-purple.png);
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 40px 1fr 30px 20px;
    margin-bottom: 30px;

    .project-image img {
      margin-top: -20px;
    }

    .project-text {
      color: $color-white;
      margin-top: 10px;

      &:hover {
        color: $color-white;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 992px) {
  .portfolio-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
    margin-bottom: 0;

    .project {
      margin-top: 60px;
    }

    .lower {
      margin-top: 0;
      margin-bottom: 60px;
    }
  }
}
