.portfolio-showcase {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 200px;
  margin-bottom: 110px;

  .showcase-image {
    grid-row: 1;
  }

  span {
    font-weight: 200;
    display: block;
  }
  p {
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 56px;
    max-width: 425px;
  }
}

@media (min-width: 992px) {
  .portfolio-showcase {
    grid-template-columns: 1fr 1.4fr;
    .showcase-image {
      grid-column: 2;
    }
  }
}
