---
layout: default
title: Terms of service
---
<div class="error__wave"></div>

<div class="l-content l-tos-container">
  <div class="tos-content">
    <div id="terms">
      <h2>
        <span class="big-point">
          Terms of service
        </span>
      </h2>
      <p>
        By accessing or using <a href="/">Naturaily.com</a> you agree to be bound by these Terms of use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree to be bound by all of these Terms of use, do not access or use the Website. All materials on the Website are protected by applicable copyright and trade mark law.
      </p>
      <p>
        The Website is owned and controlled by by Naturaily, LLC ("Naturaily").
      </p>
    </div>
    <div id="materials">
      <h2>Materials</h2>
      <p>
        The materials on the Website are provided "as is". Naturaily makes no warranties, expressed or implied, and hereby disclaim and negate all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Naturaily does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on the Website or otherwise relating to such materials or on any sites linked to this site.
      </p>
    </div>
    <div id="analytics">
      <h2>Display Advertising and Google Analytics Remarketing</h2>
      <p>
        Naturaily has implemented and uses Display Advertising and Google Analytics Remarketing features, you can opt-out and customize Google Display Network ads using the Ads Preferences Manager.
      </p>
    </div>
    <div  id="cookies">
      <h2>Cookies</h2>
      <p>
        Cookies are small text files that are saved to your computer. Naturaily uses cookies to remember users during a visit and are required to enable certain functionality within the site. In addition, cookies are used to help Naturaily understand how customers use the Website. Naturaily does not use cookies to collect or store personally identifiable information about you.
      </p>
      <p>
        If you wish to restrict or block the use of cookies on your computer when you visit the Website, you can do this through your browser settings. The "Help" function within your browser should give details of how to manage cookies and how to delete cookies already on your computer.
      </p>
      <p>
        Some functionality on the Website may not work when viewed with your browser set to have cookies disabled.
      </p>
      <p class="text-link">
      For further information on cookies and how you can control how these are used, you can visit <a href="http://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a>.
      </p>
    </div>
  </div>
  <div class="tos-nav">
    <ul class="tos-nav-list" id="tosNav">
      <li data-target-terms=''>
        <a href="#terms">
          Terms of service
        </a>
      </li>
      <li data-target-materials=''>
        <a href="#materials">
          Materials
        </a>
      </li>
      <li data-target-analytics=''>
        <a href="#analytics">
          Display Advertising nd Google Analytics Remarketing
        </a>
      </li>
      <li data-target-cookies=''>
        <a href="#cookies">
          Cookies
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="wave main-wave-2 tos-wave">
  <div class="wave-tail"></div>
  <img src="/assets/images/blue-wave.png" alt="">
</div>

<div class="l-full-page">
  {% include form.html %}
</div>

<script type="text/javascript">
  {% include tos-nav.js %}
</script>
