.band {
  padding: 0 100px;
  margin-bottom: 150px;

  .tour-numbers {
    margin-bottom: 50px;
  }

  .tour-circle {
    position: static;
    width: 10px;
    height: 10px;
    margin-right: 15px;

    &.red {
      background-color: #FF5E45;
    }

    &.orange {
      background-color: #ffac07;
    }

    &.blue {
      background-color: #84f7ff;
    }
  }

  .headings--h2 {
    margin-top: -10px;
  }

  .headings--h3 {
    grid-column: 3 / 5;
    grid-row: 3;
    text-align: right;

    span {
      color: #FF5E45;
    }
  }

  &-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 300px) 1fr;
    grid-column-gap: 25px;
    margin-bottom: 5px;
    z-index: 2;

    a {
      text-decoration: none;
    }

    .icon {
      filter: grayscale(1);
      opacity: 0.2;
      transition: filter .2s;
      margin-right: 20px;
      max-width: 13px;

      &:hover {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }

  &-shadow {
    position: absolute;
    top: 140px;
    margin: 0 -160px;
    z-index: -1;
    color: #FFF7F1;
    font-size: 175px;
    font-weight: bold;
  }

  &-person {
    border-radius: 4px;

    &-name {
      margin: 25px 0 0;
      font-weight: 300;
    }

    &-role {
      opacity: .5;
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 30px;
    }

    &-description {
      display: flex;
      align-items: baseline;

      p {
        max-width: 190px;
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 200;
        line-height: 24px;
        opacity: .5;
      }
    }
  }
}

@media (max-width: 1399px) {
  .band {
    padding: 0 60px;

    &-content {
      grid-template-columns: repeat(3, 250px) 1fr;
    }

    &-shadow {
      top: 110px;
      margin: 0 -130px;
      font-size: 160px;
    }
  }
}

@media (max-width: 1199px) {
  .band {
    padding: 0 60px;

    &-content {
      grid-template-columns: repeat(3, 200px) 1fr;
    }

    &-shadow {
      top: 80px;
      font-size: 140px;
    }
  }
}

@media (max-width: 991px) {
  .band {

    .tour-numbers {
      margin-bottom: 30px;
    }

    &-content {
      grid-template-columns: 1fr;

      .headings--h2 {
        grid-row: 1;
        margin-bottom: 40px;
      }

      .headings--h3 {
        grid-column: 1;
        grid-row: 9;
        margin-top: 20px;
      }
    }

    &-person {

      &-name {
        margin-top: 20px;
      }

      &-role {
        margin-bottom: 20px;
      }

      &-description p {
        margin-bottom: 10px;
      }
    }

    &-social {
      &-first {
        grid-row: 3;
        margin-bottom: 20px;
      }

      &-second {
        grid-row: 5;
        margin-bottom: 20px;
      }

      &-third {
        grid-row: 7;
        margin-bottom: 20px;
      }
    }

    &-shadow {
      display: none;
    }
  }
}

@media (max-width: 575px) {
  .band {
    padding: 0 30px;

    .headings--h2 span {
      display: block;
    }
  }
}

@media (max-width: 469px) {
  .band {
    &-content {

      .headings--h3 {
        font-size: 20px;

        span {
          display: block;
        }

        br {
          display: none;
        }
      }
    }
  }
}
