.banner {
  position: relative;
  margin: 0 -52px;
  margin-bottom: 150px;

  .shadow {

    &-number {
      position: absolute;
      z-index: -2;
      top: -20px;
      right: 30px;
      color: #FFF7F1;
      font-size: 50px;
      font-weight: bold;
    }

    &-text {
      position: absolute;
      z-index: -2;
      top: -50px;
      width: 100%;
      color: #FFF7F1;
      font-size: 175px;
      font-weight: bold;
      text-align: center;
    }
  }

  &-box {
    display: flex;
    width: 580px;
    margin: 200px auto -20px;
  }

  &-logo {
    position: relative;
    top: -10px;
    width: 135px;
    margin-right: 35px;
  }

  &-tour {
    font-size: 120px;

    &::after {
      content: '';
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-left: -22px;
      background: #ffb848;
      border-radius: 50%;
    }
  }

  &-text {
    margin: 0;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;

    b {
      font-weight: 600;
    }
  }
}

.hangover {
  margin-bottom: 170px;
  padding: 50px 0 30px;
  background-color: $color-white;

  p {
    opacity: .7;
    font-weight: 300;
    line-height: 24px;
    text-align: center;

    b {
      font-weight: 600;
    }
  }

  &-lines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
    text-align: right;

    b {
      font-weight: 600;
    }

    & > div {
      padding-bottom: 15px;
      border-bottom: 1px solid #FFE6E6;

      &:first-child {
        width: 60%;
      }

      &:last-child {
        justify-self: end;
        width: 60%;
      }
    }

    span {
      position: relative;
      font-weight: 300;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -17px;
        display: inline-block;
        width: 75px;
        height: 3px;
        background: #FFB040;
      }
    }
  }

  &-line {
    position: relative;
    top: 39px;
    grid-row: 3;
    height: 1px;
    padding: 50px 0 30px;
    background: #FFF;

    & > div {
      height: 1px;
      background-color: #FFE6E6;
    }

    &.left {
      grid-column: 1;
    }

    &.right {
      grid-column: 3;
    }
  }
}

@media (max-width: 1399px) {
  .banner {

    .shadow {
      &-number {
        top: -20px;
        right: 80px;
      }

      &-text {
        top: -30px;
        font-size: 145px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .banner {
    margin: 0 0 150px 0;

    .shadow {
      &-number {
        top: 0;
        right: 40px;
      }

      &-text {
        top: 0;
        font-size: 120px;
      }
    }
  }
}

@media (max-width: 991px) {
  .banner {

    &-box {
      justify-content: center;
      margin: 100px auto -20px;
    }

    &-tour {
      font-size: 100px;
    }

    &-text {
      max-width: 450px;
      margin: 0 auto;

      br {
        display: none;
      }
    }

    .shadow {
      &-number, &-text {
        display: none;
      }
    }
  }

  .hangover {
    margin-bottom: 100px;
  }
}

@media (max-width: 575px) {
  .banner {
    margin-bottom: 80px;

    &-box {
      flex-direction: column;
      margin: 0 auto;
    }

    &-logo {
      top: 25px;
    }

    &-tour {
      font-size: 80px;
    }

    &-text {
      max-width: none;
      margin: 0;
      text-align: left;
    }
  }

  .hangover {
    margin-bottom: 80px;
  }
}

@media (max-width: 469px) {
  .banner {
    margin-bottom: 0;
  }

  .hangover {
    display: none;
  }
}
