.cooperation {
  margin-bottom: 100px;
  padding: 0 100px;

  .headings--h2 {
    max-width: 500px;
  }

  .tour-numbers {
    margin-bottom: 50px;
  }

  &-circles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 811px;
    height: 811px;
    z-index: -1;

    span {
      top: 50%;
      left: 50%;
      margin: -6px;
      width: 12px;
      height: 12px;
      animation-duration: 25s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      &.red {
        background-color: #FF5E45;
        animation-name: red-center-animation;
      }

      &.orange {
        background-color: #ffac07;
        animation-name: orange-center-animation;
      }

      &.blue {
        background-color: #84f7ff;
        animation-name: blue-center-animation;
      }
    }
  }

  &-lets-talk {
    position: relative;
    z-index: 2;
    text-align: center;

    p {
      margin: 15px 0 40px;
      font-size: 14px;
      font-weight: 300;
      opacity: .7;
    }

    a.btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 160px;
      margin: 0 auto;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 12px;
      font-weight: 300;

      img {
        margin: 0;
        margin-left: 40px;
      }
    }
  }

  &-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    max-width: 610px;
    margin: 40px 0;
    opacity: .7;

    p {
      margin: 0;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
    }

    .red {
      color: #FF5E45;
    }
  }

  &-problems {
    position: relative;
    z-index: 10;
    max-width: 300px;
    margin-bottom: 120px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 1399px) {
  .cooperation {
    padding: 0 60px;
  }
}

@media (max-width: 991px) {
  .cooperation {

    .headings--h2 {
      font-size: 37px;
    }

    &-circles {
      width: 600px;
      height: 600px;

      span {
        margin: -7px;
        width: 14px;
        height: 14px;
        animation-duration: 20s;

        &.red {
          animation-name: red-animation;
        }

        &.orange {
          animation-name: orange-animation;
        }

        &.blue {
          animation-name: blue-animation;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .cooperation {
    margin-bottom: 80px;
    padding: 0 30px;

    .headings--h2 {
      font-size: 36px;
    }

    .tour-numbers {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 469px) {
  .cooperation {

    &-description {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }

    &-problems {
      margin-bottom: 80px;
    }
  }
}

@media (max-width: 349px) {
  .cooperation {

    .headings--h2 {
      font-size: 33px;
    }

    &-problems {
      max-width: 240px;
    }
  }
}
