.dates {
  max-width: 1160px;
  padding: 65px 0 65px 100px;
  margin-bottom: 100px;
  border-radius: 4px 0 0 4px;
  position: relative;
  z-index: 1;

  &-background {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 402px;
      background-color: #FFF7F1;
      z-index: -1;
    }
  }

  .tour-numbers {
    margin-bottom: 40px;
  }

  .headings--h2 {
    margin-left: -100px;
    margin-bottom: 65px;
    text-align: center;
  }

  &-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 140px;
  }

  &-details {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 94, 69, .17);

    div {
      font-size: 12px;
      font-weight: 300;

      &:last-child {
        opacity: .5;
      }

      span {
        color: #FF5E45;
      }
    }
  }
}

@media (max-width: 1399px) {
  .dates {
    max-width: 1060px;
    padding-left: 60px;
  }
}

@media (max-width: 1199px) {
  .dates {
    max-width: 900px;
  }
}

@media (max-width: 991px) {
  .dates {
    max-width: none;
    padding: 40px 60px;

    .headings--h2 {
      margin-left: 0;
    }

    &-background {

      &::before {
        height: 474px;
      }
    }

    &-group {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 575px) {
  .dates {
    margin-bottom: 80px;
    padding: 30px;

    .headings--h2 {
      margin-bottom: 40px;
    }

    &-background {

      &::before {
        height: 439px;
      }
    }
  }
}

@media (max-width: 469px) {
  .dates {

    .tour-numbers {
      margin-bottom: 20px;
    }

    .headings--h2 {
      margin-bottom: 50px;
      text-align: left;
    }

    &-details {
      position: relative;
      margin-bottom: 40px;
      padding-bottom: 20px;

      & > div:first-child {
        position: absolute;
        top: -20px;
      }
    }

    &-background {

      &::before {
        height: 419px;
      }
    }
  }
}
