footer.on-tour {
  grid-template-columns: repeat(5, 1fr);

  .social-icons {
    grid-column: 1 / 4;
    grid-row: 4;
    margin-top: 10px;

    a:first-child {
      margin-left: 0;
    }
  }

  .footer {

    &-contact {
      display: block;

      a {
        display: inline-block;
      }
    }

    &-services {
      font-weight: 200;
    }

    &-offer {

      p {
        margin: 0;
      }
    }

    &-regon {
      grid-row: 5;
    }

    &-hr {
      grid-column: 1 / 6;
    }
  }
}

@media (max-width: 1399px) {
  footer.on-tour {
  }
}

@media (max-width: 1199px) {
  footer.on-tour {
    // grid-template-columns: repeat(4, 1fr);

  }
}

@media (max-width: 991px) {
  footer.on-tour {
    grid-template-columns: repeat(4, 1fr);

    .footer {
      &-hr {
        grid-column: 1 / 5;
      }

      &-services {
        a {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 810px) {
  footer.on-tour {
    grid-template-columns: 1fr;
    grid-gap: 10px;

    .social-icons {
      grid-column: 1;
      grid-row: 6;
      margin: 20px 0 10px;
    }

    .footer {

      &-hr {
        grid-column: 1;
      }

      &-services {
        grid-column: 1;
        grid-row: 4;
        padding: 0;
      }

      &-offer {
        grid-column: 1;
        grid-row: 5;
        padding: 0;
      }

      &-regon {
        grid-column: 1;
        grid-row: 7;
      }
    }
  }
}
