.form {
  position: relative;
  margin-bottom: 200px;
  text-align: center;

  .headings--h2 {
    margin: 30px 0 20px;
  }

  & &-description {
    margin-bottom: 40px;
  }

  p {
    margin: 15px 0;
    font-weight: 300;
    opacity: .7;
  }

  &-circles {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: rotate(180deg)
               translateX(50%)
               scaleX(-1);
    z-index: -1;
    width: 810px;
    height: 810px;

    span {
      top: 50%;
      left: 50%;
      margin: -6px;
      width: 12px;
      height: 12px;
      animation-duration: 25s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      &.red {
        background-color: #FF5E45;
        animation-name: red-center-animation;
      }

      &.orange {
        background-color: #ffac07;
        animation-name: orange-center-animation;
      }

      &.blue {
        background-color: #84f7ff;
        animation-name: blue-center-animation;
      }
    }
  }
}

@media (max-width: 991px) {
  .form {

    .headings--h2 {
      max-width: 350px;
      margin: 30px auto 20px;
    }

    & &-description {
      max-width: 400px;
      margin: 0 auto 20px;
    }

    &-circles {
      top: 50%;
      width: 600px;
      height: 600px;
      transform: rotate(180deg)
                 translateX(50%)
                 translateY(50%)
                 scaleX(-1);

        span {
          margin: -7px;
          width: 14px;
          height: 14px;
          animation-duration: 20s;

          &.red {
            animation-name: red-animation;
          }

          &.orange {
            animation-name: orange-animation;
          }

          &.blue {
            animation-name: blue-animation;
          }
        }
    }
  }
}

@media (max-width: 575px) {
  .form {
    margin-bottom: 80px;
  }
}

@media (max-width: 348px) {
  .form {

    .headings--h2 {

      span {
        display: block;
      }
    }
  }
}
