.logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 150px;

  &-header {
    color: #FF5E45;
    font-size: 24px;
    font-weight: 300;
  }

  .logotypes {
    padding: 60px 100px;

    &-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 70px;
      align-items: center;
      margin-top: 120px;
      padding: 0 20px;

      img {
        max-width: 110px;
      }
    }
  }

  &-dates {
    background-color: #FFF7F1;
    border-radius: 4px;
    padding: 60px 100px;
    position: relative;

    &-text {
      margin: 130px auto;
      max-width: 340px;
      text-align: center;
    }

    &-button.btn {
      display: flex;
      justify-content: flex-end;
      width: 180px;
      padding-top: 15px;
      padding-bottom: 15px;
      align-items: center;
      font-weight: 300;

      img {
        margin-left: 30px;
      }
    }

    .tour-circle {

      &.red {
        top: 35px;
        right: 100px;
        background-color: #FF5E45;
      }

      &.orange {
        left: 50px;
        bottom: 170px;
        background-color: #ffac07;
      }

      &.blue {
        right: -11px;
        bottom: 60px;
        background-color: #84f7ff;
      }
    }
  }
}

@media (max-width: 1399px) {
  .logos {

    .logotypes {
      padding: 60px;
    }

    &-dates {
      padding: 60px;
    }
  }
}

@media (max-width: 991px) {
  .logos {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;

    .logotypes {

      &-box {
        justify-items: center;
        margin-top: 60px;
      }
    }

    &-dates {

      &-text {
        margin: 100px auto;
      }
    }
  }
}

@media (max-width: 575px) {
  .logos {
    margin-bottom: 80px;

    .logotypes {
      padding: 60px 30px;

      &-box {
        justify-items: center;
      }
    }

    &-dates {
      padding: 60px 30px;
    }
  }
}

@media (max-width: 469px) {
  .logos {

    .logotypes {
      padding: 40px 30px;

      &-box {
        grid-row-gap: 50px;
        margin-top: 40px;
        padding: 0;
      }
    }

    &-dates {
      padding: 40px 30px;

      &-text {
        margin: 60px auto;
        font-size: 34px;
      }

      .tour-circle {

        &.red {
          top: 15px;
          right: 50px;
        }

        &.orange {
          left: 10px;
          bottom: 120px;
        }
      }
    }
  }
}
