.rhythm {
  margin-bottom: 160px;
  text-align: center;

  &-header {
    margin: 40px 0 20px;
  }

  &-expertise {
    margin: 40px 0 50px;
    font-size: 14px;
    font-weight: 300;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 650px;
    margin: 0 auto;
    font-size: 14px;

    h4 {
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 600;
    }

    p {
      margin-bottom: 10px;
      font-weight: 300;
      font-size: 16px;
    }
  }

  &-opacity {
    opacity: .7;
    font-size: 14px;
    font-weight: 300;
  }
}

@media (max-width: 575px) {
  .rhythm {
    margin-bottom: 80px;

    &-header {
      margin-top: 30px;
    }
  }
}

@media (max-width: 469px) {
  .rhythm {

    &-opacity {

      br {
        display: none;
      }
    }
  }
}

@media (max-width: 349px) {
  .rhythm {

    &-grid {
      grid-template-columns: 1fr;
      grid-gap: 35px;
    }
  }
}
