.tour {

  &-top-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1260px;
    margin: 56px auto;

    ul {
      display: flex;
      list-style: none;
      margin: 0;

      li {
        margin: 0 25px;

        &:first-child {
          margin-left: 0;
        }

        a {
          color: $color-global-font;
          font-weight: 300;
          text-decoration: none;

          &:hover {
            color: $color-accent-yellow;
          }

          &.active {
            color: $color-primary;
          }
        }
      }
    }
  }
}

.social-icons {

  a {
    margin: 0 20px;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }

    img {
      filter: grayscale(1);
      opacity: 0.3;
      transition: all .2s;
    }

    .facebook, .github {
      opacity: 0.2;
    }

    &:hover {
      img {
        filter: none;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1399px) {
  .tour {

    &-top-bar {

      ul li {
        margin: 0 15px;
      }
    }
  }
}

@media (max-width: 1299px) {
  .tour {

    &-top-bar {
      max-width: 960px;

      ul li {
        margin: 0 10px;
      }
    }
  }

  .l-tour-header .social-icons {
    margin: 0 10px;
  }
}

@media (max-width: 991px) {
  .tour {

    &-top-bar {
      flex-direction: column;

      ul {
        justify-content: space-between;
        margin: 0 20px;
      }
    }

  }

  .l-tour-header .social-icons {
    align-self: flex-end;
    margin: 20px;
  }
}
