.videos {
  margin-bottom: 125px;
  padding: 0 100px;

  .btn-youtube {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 1;
  }

  .tour-numbers {
    margin-bottom: 50px;
  }

  &-background-box {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    border-radius: 4px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    max-width: 760px;

    .headings--h2 {
      margin-right: 50px;
    }

    p {
      margin: 20px 0 50px;
      font-weight: 300;
      line-height: 24px;
    }

    a {
      color: #FF5E45;
      font-weight: 600;
    }
  }

  &-main {
    height: 480px;
    margin: 0 -100px;
    background-image: url(/assets/images/background-phone.png);
  }

  &-other {
    display: grid;
    grid-template-columns: 730px 510px;
    grid-column-gap: 20px;
    height: 365px;
    margin: 20px -100px 0;

    .videos-cooperation {
      background-image: url(/assets/images/background-pipedrive.png);
    }

    .videos-technology {
      background-position-x: -40px;
      background-image: url(/assets/images/background-technology.png);
    }
  }
}

@media (max-width: 1399px) {
  .videos {
    padding: 0 60px;

    &-main {
      height: 420px;
      margin: 0 -60px 20px;
    }

    &-other {
      grid-template-columns: 585px 515px;
      height: 375px;
      margin: 0 -60px;
    }
  }
}

@media (max-width: 1199px) {
  .videos {

    &-main {
      height: 370px;
    }

    &-other {
      grid-template-columns: 552px 388px;
      height: 280px;
    }

    .btn-youtube {
      bottom: 15px;
    }
  }
}

@media (max-width: 991px) {
  .videos {

    .tour-numbers {
      margin-bottom: 30px;
    }

    &-header {
      display: block;
    }

    &-main {
      height: 200px;
    }

    &-other {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
      height: initial;

      .videos-cooperation, .videos-technology {
        height: 200px;
        background-position-x: 0;
        background-position-y: -40px;
      }
    }

    .btn-youtube {
      bottom: 15px;
      right: 10px;
      padding: 10px 20px 10px 12px;
      font-size: 10px;

      img {
        max-width: 16px;
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 575px) {
  .videos {
    margin-bottom: 80px;
    padding: 0 30px;

    &-main {
      margin: 0 -30px 20px;

      .videos-title {
        left: 30px;
      }
    }

    &-other {
      margin: 0 -30px;
    }
  }
}

@media (max-width: 469px) {
  .videos {

    &-other {

      .videos-cooperation, .videos-technology {
        background-position-x: 0;
        background-position-y: 0;
      }
    }

    &-header {

      p {
        font-size: 15px;
      }
    }

    &-technology {

      p {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3), rgba(255, 255, 255, .6), rgba(255, 255, 255, 0));
        border-radius: 20px;
        padding: 0 3px;
      }
    }
  }
}
