.l-main-container {

  .l-career-header-details {
    margin-bottom: 30px;
  }

  .l-career-container-benefits {
    display: block;
  }
}

.career-details {
  display: grid;
  grid-template-columns: 1fr;

  &--who {
    grid-column: 1 / 3;
    max-width: 450px;
    margin: 0;
    font-weight: 200;
  }

  &--content {
    grid-column: 1 / 3;
    font-weight: 200;

    span {
      display: block;
      margin-bottom: 10px;
      font-weight: 300;
      font-size: 1.5rem;
      min-width: 250px;
    }

    ul {
      margin-bottom: 30px;
    }

    p a {
      color: $color-global-font;
      font-weight: 600;
      text-decoration: none;
    }
  }

  &--card {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.1);
    padding: 25px;
    font-weight: 200;
    border-radius: 4px;
    margin: 30px;

    span {
      display: block;
      width: 200px;
      margin-bottom: 10px;
      font-size: 1.7rem;
      color: #543015;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      padding-left: 1em;
      text-indent: -.7em;
      color: $color-accent-gold;

      &::before {
        content: "•";
        color: $color-accent-gold;
        margin-right: 3px;
      }
    }

    button {
      font-size: 0.8rem;
      width: 100%;
      padding: 13px 40px;
      margin-top: 60px;
    }
  }

  &--mail {
    margin: 70px 0;

    .mail {
      display: block;
      margin-top: 30px;
      font-size: 28px;
      line-height: 35px;

      a {
        color: $color-font-light;
      }
    }
  }
}

.career-more {
  .more {
    font-size: 22px;
  }

  .title {
    margin: 20px 0 30px;
  }
}

.requirements {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-weight: 200;
    padding-left: 1em;
    text-indent: -.7em;
    max-width: 600px;
    padding-bottom: 5px;

    &::before {
      content: "• ";
      color: $color-accent-yellow;
    }
  }
}

.main-point.main-point--career {
  font-size: 35px;
  line-height: 1;
  padding-top: 110px;
  padding-bottom: 90px;
  &::before {
    font-size: 4rem;
    position: relative;
    top: 10px;
  }
}


@media (min-width: 992px) {
  .career-details {

    &--who {
      margin-bottom: 80px;
    }

    &--content {
      margin: 0;
    }

    &--card {
      grid-row: 1 / 3;
      grid-column: 3;
      height: 260px;
      margin: 0;
      margin-left: 30px;
      margin-bottom: 10px;
    }

    &--mail {
      text-align: center;
    }
  }

  .career-more  .title {
    margin-top: 40px;
  }

  .career-details-wave .wave-tail {
    padding-top: 40%;
  }

  .requirements {
    margin-left: 30px;
  }
}
