.career-more {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-top: 70px;

  .text .title {
    margin-top: 30px;
  }
  .benefits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 60px);
    grid-gap: 30px;

    &-tile {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      font-weight: 200;
      border-radius: 4px;
      background: $color-white;
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    }

    .tile-text {
      width: 90px;
    }
  }
  .benefit {
    &-1 {
      grid-column: 1;
      grid-row: 2 / 4;
    }
    &-2 {
      grid-column: 1;
      grid-row: 4 / 6;
    }
    &-3 {
      grid-column: 2;
      grid-row: 1 / 3;
    }
    &-4 {
      grid-column: 2;
      grid-row: 3 / 5;
    }
    &-5 {
      grid-column: 2;
      grid-row: 5 / 7;
    }
    &-6 {
      grid-column: 3;
      grid-row: 4 / 6;
    }
  }
}

@media (min-width: 992px) {
  .career-more {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 160px;

    .text .title {
      margin-top: 50px;
    }

    .benefits {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 80px);

      .benefit-5 {
        grid-column: 3;
        grid-row: 2 / 4;
      }
    }
  }
}
