<div class="values-panels">
  <div class="panels-wrapper" id="hoverPanelsContainer">
    <div class="panel first" data-target="effective">
      <i class="sprite sprite-icon-analyze"></i>
      <span class="text-secondary">Effectiveness</span>
    </div>
    <div class="panel second" data-target="experienced">
      <i class="sprite sprite-icon-multi"></i>
      <span class="text-accent-purple">Experience</span>
    </div>
    <div class="panel third active" data-target="elastic">
      <i class="sprite sprite-icon-architectur"></i>
      <span class="text-accent-blue">Flexibility</span>
    </div>
    <div class="panel fourth" data-target="fast">
      <i class="sprite sprite-icon-mobile2"></i>
      <span class="text-accent-gold">Speed</span>
    </div>
  </div>
  <div class="panels-content" id="hoverPanelsContent">
    <span class="main-point">Values</span>
    <div class="content" id="effective">
      <h2>Effectiveness</h2>
      <p>
        <span>
          Experience plus speed equals effectiveness.
          <br>
          Being agile helps.
        </span>
        Let’s not forget about team texture and help from product owner. Having all necessary people and tools set up properly leads to effective delivery.
      </p>
    </div>
    <div class="content" id="experienced">
      <h2>Experience</h2>
      <p>
        <span>
          Combined we have 404 years of experience... yeah, yeah, yeah.
          <br>
          No bullshit of that kind here, folks.
        </span>
        We DO HAVE experience though. Gained while working for the big ones and the small ones. And we have grey-haired people on the team. That plays well.
      </p>
    </div>
    <div class="content active" id="elastic">
      <h2>Flexibility</h2>
      <p>
        <span>
          We don't always stick to the plan.
          <br>
          Is that a sin? We don’t think so.
        </span>
        Everything depends on your goals and your project. We look for the way that is best for you and we don’t follow written in stone steps. Do you want to test our working product? No problem! We will make sure not to waste your time and money.
      </p>
    </div>
    <div class="content" id="fast">
      <h2>Speed</h2>
      <p>
        <span>
          In today’s markets, timing is of great importance.
          <br>
          We need to deliver quickly.
        </span>
        Speed is a result of ability to focus on the right things and experience gained from years of practice. Mind you, we never sacrifice quality for speed... unless that’s what you really want.
      </p>
    </div>
  </div>
</div>
<div class="values-circle">
  <div class="values-circle__content">
    <span>
      You don’t have to take out word for it. See for yourself.
    </span>
    <button type="button" class="btn btn-secondary" data-reveal-contact="">Let’s do something for you!</button>
  </div>
</div>

<script type="text/javascript">
  {% include hover-active.js %}
</script>
