<div class="dimonds">
  <div class="dimond dimond-experienced">
    <img src="/assets/images/ruby-1.png">
    <h2>Naturally experienced</h2>
    <p>
      The Founding Fathers of Naturaily could be described as “The Founding GrandFathers” given that they are over 4 decades old. However, their experience and patience, acquired as they were getting older, now provide a real value to our customers.<br><br>The team full of motivation and passion that has plenty of power to make things happen is what balances the experienced duet of Naturaily co-founders.<br><br>The energy of the youth and the quality gathered over the years of experience are our yin and yang.
    </p>
  </div>
  <div class="dimond dimond-steam">
    <img src="/assets/images/ruby-2.png">
    <h2>Agile as a stream</h2>
    <p>
      We react quickly and nimbly. We understand the value of the rapid response for business depending on software and its correct functioning. Did something go wrong? Do you need help right away or do you need to expand your IT team? We provide very efficient service - our team can be at your disposal within couple of days since the first time you contact us. Check us out!
    </p>
  </div>
  <div class="dimond dimond-rock">
    <img src="/assets/images/ruby-3.png">
    <h2>Solid as a rock</h2>
    <p>
      The quality of our services is our top priority. We test and verify the excellence of the code we create at every stage of the production process to finally deliver the most stable and solid product for our customers. We guarantee a product free from technological debt. No need for yet another round of bug fixing. We focus on the details, so you can pay attention to the bigger picture.
    </p>
  </div>
  <div class="dimond dimond-crystal">
    <img src="/assets/images/ruby-4.png">
    <h2>Transparent as a crystal</h2>
    <p>
      We know trust is fundamental for effective cooperation. That is why we do everything we can to build a trustful relationship from day one. Staging environment, code base repository, monitoring tools, issue and time tracker are available for you to check our work on a daily basis. We want you to know as much as you need to know and to build trust based on data.
    </p>
  </div>
</div>
