<span class="main-point about-values-point">Values</span>
<h2 class="about-values-title">What is important to you,<br> is important to us!</h2>
<div class="about-values">
  <div class="value">
    <div>
      <div class="text-number">
        01
      </div>
      <div class="text-title">
        Work/life balance
      </div>
    </div>
    <p class="text-content">
      We believe that life is the most important thing. Though we love our work, we try not to spend 24 hours a day in front of a computer screen. We believe that with the right balance we can get more out of life and work more efficiently. Do you want to have time for your family, your hobbies or to search for enlightenment? Splendid! We don’t want anyone to live in the office. Work is work, but life - that’s what matters.
    </p>
  </div>
  <div class="value">
    <div>
      <div class="text-number">
        02
      </div>
      <div class="text-title">
        Remote working
      </div>
    </div>
    <p class="text-content">
      We spend too much time on our daily commute. Office space and lots of people around do not always help in getting things done, especially if the tasks require peace and silence. That’s why we introduced remote work option. Stay at home, drink morning coffee, perform efficiently and walk your dog in the meantime. It works, we’ve checked! …and during winter time we migth work somewhere warm?
    </p>
  </div>
  <div class="value">
    <div>
      <div class="text-number">
        03
      </div>
      <div class="text-title">
        Engage/discuss
      </div>
    </div>
    <p class="text-content">
      We build and want to keep building a well tuned team. We meet regularly on a weekly basis and also conduct one on ones. We believe we all should be on the same page regarding team’s and individual’s work, plans and needs. We are a strong, loyal and committed team that you can count on. We spend ⅓ of our lives together - good relations are of great importance.
    </p>
  </div>
  <div class="value">
    <div>
      <div class="text-number">
        04
      </div>
      <div class="text-title">
        Good food. Together.
      </div>
    </div>
    <p class="text-content">
      We are what we eat. Good food makes us feel better. And helps build better relations. There are always fresh fruits and healthy snacks in the office. And once a week we eat a meal together. Even though we often choose something a little bit less healthy like a pizza, the ritual is what matters most. Everyone has a Multisport card, so they can make up for this small cheat-day at a gym or a swimming pool :)
    </p>
  </div>
  <div class="clear"></div>
</div>
