<span class="main-point">Wartości</span>
<h2 class="about-values-title">To co ważne dla Ciebie, jest ważne dla nas!</h2>
<div class="about-values">
  <div class="value">
    <div class="text-number">
      01
    </div>
    <div class="text-title">
      Work/life balance
    </div>
    <p class="text-content">
      Wierzymy, że życie jest najważniejsze. Choć kochamy to co robimy, dbamy o to by zamykać pracę w konkretnym czasie. Wierzymy, że utrzymując odpowiednie proporcje można wyciągnąć z życia bardzo dużo, a w pracy dawać z siebie więcej. Chcesz mieć czas dla rodziny, na swoje pasje, albo na poszukiwanie zen? Bardzo dobrze! Nie chcemy, aby ktokolwiek mieszkał w biurze. Praca to praca, a życie - to jest TO!
    </p>
  </div>
  <div class="value">
    <div class="text-number">
      02
    </div>
    <div class="text-title">
      Praca zdalna
    </div>
    <p class="text-content">
      Na dojazdy do pracy tracimy każdego dnia niemało czasu. Biuro i spora liczba ludzi wokół nie zawsze sprzyja wykonaniu konkretnych zadań, szczególnie gdy potrzebujemy ciszy i spokoju. Dlatego wprowadziliśmy możliwości pracy zdalnej. Zostań w domu, wypij kawę w piżamie, wykonaj zadania i wyjdź z psem w międzyczasie. Sprawdziliśmy, to działa! ...A może w zimie popracujemy gdzieś gdzie jest ciepło?
    </p>
  </div>
  <div class="value">
    <div class="text-number">
      03
    </div>
    <div class="text-title">
      Zaangażowanie i rozmowy
    </div>
    <p class="text-content">
      Chcemy tworzyć zgrany i rozumiejący się zespół. Spotykamy się regularnie na wspólnych zebraniach, a także w formule sam na sam. Zależy nam na tym by zespół zawsze wiedział co się dzieje i żeby znane nam były potrzeby zespołu oraz każdego jego członka. Chcemy budować mocną, lojalna i zaangażowaną ekipę, na którą zawsze można liczyć. Spędzamy ze sobą 1⁄3 życia - dobre relacje mają ogromne znaczenie.
    </p>
  </div>
  <div class="value">
    <div class="text-number">
      04
    </div>
    <div class="text-title">
      Dobre i wspólne jedzenie
    </div>
    <p class="text-content">
      Wierzymy, że to co jemy wpływa na to jak się czujemy i jacy jesteśmy, a wspólne jedzenie zbliża ludzi. Staramy się, aby w biurze zawsze były świeże owoce, a raz w tygodniu zjadamy wspólny posiłek i choć wybór często pada, może na mało zdrową pizze, to ważniejszy jest sam rytuał. Każdy ma swojego Multisport’a, więc ten mały cheat-day może odrobić później na siłowni czy basenie :)
    </p>
  </div>
</div>
