<div class="aboutus">
  <div class="main-point">
    Kilka słow od nas
  </div>
  <div class="aboutus-content">
    <div>
      <img class="aboutus-logo" src="/assets/images/logo_naturaily.png">
    </div>
    <div>
      <p>
        Może jeszcze nie jesteśmy najlepsi, ale każdego
        dnia dążymy do tego, by takimi się stać :)
      </p>
      <p>
        W Naturaily czerpiemy z wieloletniego doświadczenia założycieli ;) oraz wiedzy, pasji
        i energii całego zespołu.
      </p>
    </div>
    <div>
      <p>
        Inspiruje nas technologia, pasjonuje daleki
        wschód i jego filozofia.
      </p>
      <p>
        Cenimy spokój, rozwagę, szanujemy czas i ludzi, czujemy respekt wobec świata i przyrody... naturalnie.
      </p>
    </div>
  </div>
</div>
