<div class="dimonds">
  <div class="dimond">
    <img src="/assets/images/ruby-1.png">
    <h2>Doświadczeni, naturalnie!</h2>
    <p>
      O ojcach założycielach Naturaily można by powiedzieć “dziadkowie założyciele”, biorąc pod uwagę, że niemal 4 dekady życia mają już za sobą. Zauważamy jednak, że doświadczenie i opanowanie, nabyte wraz z wiekiem stanowią dla naszych klientów realną wartość. Równowagę dla doświadczonego założycielskiego duetu stanowi pełen zapału i pasji zespół, który ma w sobie wciąż nieprzebrane zasoby sprawczej mocy. Energia młodości i wartość zawarta w latach doświadczeń są naszym yin i yang.
    </p>
  </div>
  <div class="dimond down">
    <img src="/assets/images/ruby-2.png">
    <h2>Zwinni, jak strumień</h2>
    <p>
      Reagujemy szybko i zwinnie. Rozumiemy ile znaczy sprawna reakcja w biznesie opierającym się o software i jego poprawne działanie. Coś poszło nie tak i potrzebujesz pomocy, musisz powiększyć zespół IT “od ręki”. Zapewniamy super sprawną reakcję, nasz zespół może być do Twojej dyspozycji już 48 h od pierwszego kontaktu! Sprawdź nas
    </p>
  </div>
  <div class="dimond">
    <img src="/assets/images/ruby-3.png">
    <h2>Solidni, jak skała</h2>
    <p>
      Jakość dostarczanych usług stanowi dla nas kwestię priorytetową. Testujemy i weryfikujemy jakość napisanego kodu na wielu etapach realizacji projektu, tak by ostatecznie wypuszczać jak najbardziej stabilny i solidny produkt i dostarczać klientom wartości w postaci usług, którym nie są potrzebne kolejne rundy poprawek i które nie są obciążone długiem technologicznym. Skupiamy się na detalach, tak byś Ty mógł skupić się na szerszym obrazie.
    </p>
  </div>
  <div class="dimond down">
    <img src="/assets/images/ruby-4.png">
    <h2>Transaprentni, jak krysztal</h2>
    <p>
      Wiemy, że zaufanie to podstawa efektywnej współpracy. Dlatego robimy wszystko byś mógł nam zaufać już od pierwszego dnia realizacji powierzonych nam zadań! Zapewniamy nieograniczony dostęp do aplikacji na stagingu, do kodu źródłowego i narzędzi monitorujących postęp prac i realizację konkretnych tasków. Chcemy byś wiedział jak najwięcej i ufał nam w oparciu o konkretne dane, zawsze dostępne dla Twoich oczu.
    </p>
  </div>
</div>
