<h2 class="text-center">Our team, naturally the best!</h2>

<div class="faces">
  <div class="person">
    <img src="/assets/images/person-1.png">
    <span class="name">Marcin Sulikowski</span>
    <span class="position">Co-founder</span>
  </div>
  <div class="person down down-sm">
    <img src="/assets/images/person-2.png">
    <span class="name">Sebastian Kubiak</span>
    <span class="position">Co-founder</span>
  </div>
  <div class="person">
    <img src="/assets/images/person-3.png">
    <span class="name">Adam</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person down">
    <img src="/assets/images/person-4.png">
    <span class="name">Jan</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person down-sm">
    <img src="/assets/images/person-5.png">
    <span class="name">Marcin</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person">
    <img src="/assets/images/person-6.png">
    <span class="name">Paweł</span>
    <span class="position">Frontend Developer</span>
  </div>
  <div class="person down">
    <img src="/assets/images/person-7.png">
    <span class="name">Radosław</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person down-sm">
    <img src="/assets/images/person-8.png">
    <span class="name">Arkadiusz</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person down">
    <img src="/assets/images/person-9.png">
    <span class="name">Klaudia</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person">
    <img src="/assets/images/person-10.png">
    <span class="name">Agata</span>
    <span class="position">UX/UI Designer</span>
  </div>
  <div class="person down-sm">
    <img src="/assets/images/person-11.png">
    <span class="name">Bartek</span>
    <span class="position">Senior Frontend Developer</span>
  </div>
  <div class="person down">
    <img src="/assets/images/person-12.png">
    <span class="name">Tobiasz</span>
    <span class="position">Account Manager</span>
  </div>
  <div class="person">
    <img src="/assets/images/person-13.png">
    <span class="name">Adrian</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person down down-sm">
    <img src="/assets/images/person-14.png">
    <span class="name">Jakub</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person">
    <img src="/assets/images/person-15.png">
    <span class="name">Anna</span>
    <span class="position">Office Manager</span>
  </div>
  <div class="person down-sm rwd-up">
    <img src="/assets/images/person-16.png">
    <span class="name">Karol</span>
    <span class="position">Ruby Developer</span>
  </div>
  <div class="person down rwd-down">
    <img src="/assets/images/person-17.png">
    <span class="name">Błażej</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person">
    <img src="/assets/images/person-18.png">
    <span class="name">Tomasz</span>
    <span class="position">Ruby/JS Developer</span>
  </div>
  <div class="person down down-sm rwd-up">
    <img src="/assets/images/person-19.png">
    <span class="name">Wojtek</span>
    <span class="position">Content Specialist</span>
  </div>
  <div class="person rwd-down">
    <img src="/assets/images/person-20.png">
    <span class="name">Leo</span>
    <span class="position">Business developer</span>
  </div>
</div>

<div class="faces-button">
  <a href="/career" type="button" class="btn btn-secondary">Join Naturaily</a>
</div>
