<div class="whoarewe">
  <img src="/assets/images/logo_naturaily.svg">
  <div class="whoarewe-texts">
    <p class="primary">We are focused and effective. We are not lumberjacks, hipsters, vegan or horseback riding lovers.</p>
    <p class="secondary">First and foremost we are <b>excellent development specialists,</b> because we believe that this is what matters to you the most. However, we cannot deny that we like to drink good craft beer after work ;) </p>
  </div>
  <div class="about-oval"></div>
</div>
