<div class="values-panels">
  <div class="panels-wrapper" id="hoverPanelsContainer">
    <div class="panel first" data-target="effective">
      <span class="icon-accounting text-secondary"></span>
      <span class="text-secondary">Effectiveness</span>
    </div>
    <div class="panel second" data-target="experienced">
      <span class="icon-pen text-accent-purple"></span>
      <span class="text-accent-purple">Experience</span>
    </div>
    <div class="panel third active" data-target="elastic">
      <span class="icon-flow text-accent-blue"></span>
      <span class="text-accent-blue">Flexibility</span>
    </div>
    <div class="panel fourth" data-target="fast">
      <span class="icon-multiple-smartphones text-accent-gold"></span>
      <span class="text-accent-gold">Speed</span>
    </div>
  </div>
  <div class="panels-content" id="hoverPanelsContent">
    <span class="main-point">Values</span>
    <div class="content" id="effective">
      <h2>Effectiveness</h2>
      <p>
        <span>
          Naturaily pairs experience with speed to achieve the best
          effectiveness.
        </span>
        Staying in touch with the product owner, our team working agile, and
        always keeping in mind client’s guidelines, makes for efficient product
        development. We assemble a team of experts and set up all the necessary
        tools in order to deliver a great product as quickly as possible.
      </p>
    </div>
    <div class="content" id="experienced">
      <h2>Experience</h2>
      <p>
        <span>
          If you need seasoned developers with fresh minds - look no further.
        </span>
        Our team of experts might already have many years of experience under
        their belts, but are still constantly perfecting their craft and
        striving for excellence. Every day brings us new challenges to overcome.
        Each task expands our knowledge, which we later use to efficiently
        deliver reliable digital products.
      </p>
    </div>
    <div class="content active" id="elastic">
      <h2>Flexibility</h2>
      <p>
        <span>
          We don't always stick to the plan.
        </span>
        Why, you might ask? Well, everything depends on your goals and your
        project. We look for the way that is best for you and we adapt as
        needed. Do you want to test our working product? No problem! We will
        make sure not to waste your time and money.
      </p>
    </div>
    <div class="content" id="fast">
      <h2>Speed</h2>
      <p>
        <span>
          In today’s markets, timing is of great importance.
        </span>
        We need to deliver quickly. Speed is a result of ability to focus on the
        right things and experience gained from years of practice. Mind you, we
        never sacrifice quality for speed... unless that’s what you really want.
      </p>
    </div>
  </div>
</div>
<div class="values-circle">
  <div class="values-circle__content">
    <span>
      You don’t have to take our word for it.
      <br>
      Check for yourself.
    </span>
    <a href="/portfolio" class="btn btn-secondary">portfolio</a>
  </div>
</div>

<script type="text/javascript">
  {% include hover-active.js %}
</script>
