<div class="aboutus">
  <div class="main-point">
    About Naturaily
  </div>
  <div class="aboutus-content">
    <img class="aboutus-logo" src="/assets/images/logo_naturaily.svg">
    <div class="aboutus-description">
      <p>
        Naturaily = experience + passion. We’ve spent tens of years developing great web and mobile applications. We are passionate about technology and its impact on societies.
      </p>
    </div>
    <div class="aboutus-description">
      <p>
        We believe in progress, but like to keep it balanced. A walk in the woods is much appreciated as is a good piece of Ruby code, naturally.
      </p>
    </div>
  </div>
</div>
