<div class="whoarewe">
  <img src="/assets/images/logo_naturaily.png">
  <div class="whoarewe-texts">
    <p class="primary">Jesteśmy skupieni i efektywni. Nie jesteśmy drwalami, hipsterami, weganami, ani miłośnikami jazdy konnej...</p>
    <p class="secondary">Dla Ciebie chcemy być <b>po prostu znakomitymi specjalistami,</b> bo uważamy, że właśnie to naprawdę się liczy. Choć nie ukrywamy, że po pracy lubimy wypić dobre, kraftowe piwo ;)</p>
  </div>
  <div class="about-oval"></div>
</div>
