<div class="values-panels">
  <div class="panels-wrapper" id="hoverPanels-container">
    <div class="panel first" data-target="efective">
      <i class="sprite sprite-icon-analyze"></i>
      <span class="text-secondary">Efektywność</span>
    </div>
    <div class="panel second" data-target="experienced">
      <i class="sprite sprite-icon-multi"></i>
      <span class="text-accent-purple">Doświadczenie</span>
    </div>
    <div class="panel third active" data-target="elastic">
      <i class="sprite sprite-icon-architectur"></i>
      <span class="text-accent-blue">Elastyczność</span>
    </div>
    <div class="panel fourth" data-target="fast">
      <i class="sprite sprite-icon-mobile2"></i>
      <span class="text-accent-gold">Szybkość</span>
    </div>
  </div>
  <div id="hoverPanels-content">
    <span class="main-point">Wartości</span>
    <div class="content" id="efective">
      <h2>Efektywność</h2>
      <p>
        <span>
          Nie zawsze robimy wszystko zgodnie z “szablonem”?
          <br>
          Czy to grzech? Sądzimy, że nie.
        </span>
        W zależności od Twoich celów i kontekstu danego projektu szukamy najlepszej drogi i nie trzymamy się twardo raz ustalonych kroków. Chcesz wykonać testy na działającym produkcie, żaden problem. Nie będziemy marnować Twojego czasu i pieniędzy.
      </p>
    </div>
    <div class="content" id="experienced">
      <h2>Doświadczenie</h2>
      <p>
        <span>
          Nie zawsze robimy wszystko zgodnie z “szablonem”?
          <br>
          Czy to grzech? Sądzimy, że nie.
        </span>
        W zależności od Twoich celów i kontekstu danego projektu szukamy najlepszej drogi i nie trzymamy się twardo raz ustalonych kroków. Chcesz wykonać testy na działającym produkcie, żaden problem. Nie będziemy marnować Twojego czasu i pieniędzy.
      </p>
    </div>
    <div class="content active" id="elastic">
      <h2>Elastyczność</h2>
      <p>
        <span>
          Nie zawsze robimy wszystko zgodnie z “szablonem”?
          <br>
          Czy to grzech? Sądzimy, że nie.
        </span>
        W zależności od Twoich celów i kontekstu danego projektu szukamy najlepszej drogi i nie trzymamy się twardo raz ustalonych kroków. Chcesz wykonać testy na działającym produkcie, żaden problem. Nie będziemy marnować Twojego czasu i pieniędzy.
      </p>
    </div>
    <div class="content" id="fast">
      <h2>Szybkość</h2>
      <p>
        <span>
          Nie zawsze robimy wszystko zgodnie z “szablonem”?
          <br>
          Czy to grzech? Sądzimy, że nie.
        </span>
        W zależności od Twoich celów i kontekstu danego projektu szukamy najlepszej drogi i nie trzymamy się twardo raz ustalonych kroków. Chcesz wykonać testy na działającym produkcie, żaden problem. Nie będziemy marnować Twojego czasu i pieniędzy.
      </p>
    </div>
  </div>
</div>
<div class="values-circle">
  <div class="values-circle__content">
    <span>
      Nie musisz wierzyć nam na słowo, przekonaj się:
    </span>
    <button type="button" class="btn btn-secondary">zróbmy coś dla ciebie</button>
  </div>
</div>

<script type="text/javascript">
  {% include hover-active.js %}
</script>
