<div class="whoarewe">
  <img src="/assets/images/logo_naturaily.svg" alt="Naturaily logo">
  <div class="whoarewe-texts">
    <p class="primary">We are focused and effective. We are not lumberjacks, hipsters, vegan or horseback riding lovers.</p>
    <p class="secondary">
      First and foremost we are <b>software development specialists and experts.
      </b>Our team is made up of talented, passionate people, who pride
      themselves in making useful, reliable and beautiful digital products,
      while keeping coding fun.
    </p>
  </div>
  <div class="about-oval"></div>
</div>
