<div class="post-meetus" data-reveal-blog="">
  <span>Meet Naturaily!</span>
  <p>Naturally, so cool.</p>
  <a type="button" href="/about" class="btn btn-secondary meetus-btn">Meet us</a>
  <div class="clear"></div>
  <div class="meetus-social">
    <a href="https://www.facebook.com/Naturaily/" target="_blank" rel="nofollow">
      <img src="/assets/images/facebook-logo.png" alt="Facebook logo">
    </a>
    <a href="https://twitter.com/naturailycom" target="_blank" rel="nofollow">
      <img src="/assets/images/twitter-logo.png" alt="Twitter logo">
    </a>
  </div>
</div>
