<div class="post-meetus" data-reveal-blog="">
  <span>Meet Naturaily!</span>
  <p>Naturally, so cool.</p>
  <a type="button" href="/" class="btn btn-secondary meetus-btn">Meet us</a>
  <div class="clear"></div>
  <div class="meetus-social">
    <a href="https://www.facebook.com/Naturaily/" target="_blank">
      <img src="/assets/images/facebook-logo.png">
    </a>
    <a href="https://twitter.com/naturailycom" target="_blank">
      <img src="/assets/images/twitter-logo.png">
    </a>
  </div>
</div>
