<div class="l-career-container l-career-container-more">
  <div class="career-more">
    <div class="text">
      <span class="main-point">
        Naturally,
      </span>
      <h2 class="title">You can expect more</h2>
    </div>
    <div class="benefits">
      <div class="benefits-tile benefit-1">
        <span class="tile-text text-accent-green">Work/life balance</span>
      </div>
      <div class="benefits-tile benefit-2">
        <span class="tile-text text-accent-gold">Healthy environment</span>
      </div>
      <div class="benefits-tile benefit-3">
        <span class="tile-text text-accent-blue">Freedom of speech</span>
      </div>
      <div class="benefits-tile benefit-4">
        <span class="tile-text">Challenges</span>
      </div>
      <div class="benefits-tile benefit-5">
        <span class="tile-text text-accent-purple">Tech education</span>
      </div>
    </div>
  </div>
</div>
