<div class="l-career-container">
  <div class="main-point">
    Programowanie
  </div>
  <div class="career-card">
    <span class="career-card-job">
      Sernior RoR Developer
    </span>
    <span class="career-card-rate">
      od 8000 pln netto
    </span>
    <a class="btn btn-secondary btn-career">aplikuj</a>
  </div>
  <div class="career-card">
    <span class="career-card-job">
      Junior Front-End Developer
    </span>
    <span class="career-card-rate">
      od 5000 pln netto
    </span>
    <a class="btn btn-secondary btn-career">aplikuj</a>
  </div>
  <div class="career-card">
    <span class="career-card-job">
      Sernior RoR Developer
    </span>
    <span class="career-card-rate">
      od 5000 pln netto
    </span>
    <a class="btn btn-secondary btn-career">aplikuj</a>
  </div>
  <div class="career-card">
    <span class="career-card-job">
      Java Script Developer
    </span>
    <span class="career-card-rate">
      od 8000 pln netto
    </span>
    <a class="btn btn-secondary btn-career">aplikuj</a>
  </div>
</div>
