<div class="career-more career-benefits">
  <div>
    <span class="main-point more">
      Benefits
    </span>
    <h2 class="title">
      You can expect more
    </h2>
  </div>
  <div class="benefits">
    <div class="benefits-tile benefit-1">
      <div class="benefits-box">
        <img src="/assets/images/location.png" alt="location">
        <span class="tile-text text-primary">Location</span>
        <span class="benefits-description benefits-description--short">
          Our office is in the heart of Wroclaw's Old Town.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-2">
      <div class="benefits-box">
        <img src="/assets/images/multisport.png" alt="multisport">
        <span class="tile-text text-accent-green">Multisport card</span>
        <span class="benefits-description benefits-description--short">
          Health and wellness is important to us.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-3">
      <div class="benefits-box">
        <img src="/assets/images/education2.png" alt="education">
        <span class="tile-text text-accent-gold">Education</span>
        <span class="benefits-description">
          We encourage our employees to constantly grow and attend conferences
          and workshops.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-4">
      <div class="benefits-box">
        <img src="/assets/images/balance2.png" alt="balance">
        <span class="tile-text text-accent-blue">Work-life balance</span>
        <span class="benefits-description">
          We recognize the importance of life after work and so we offer
          flexible hours and home-office.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-5">
      <div class="benefits-box">
        <img src="/assets/images/technology.png" alt="technology">
        <span class="tile-text">Technology</span>
        <span class="benefits-description benefits-description--short">
          We provide our employees with amazing new hardware from day one.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-6">
      <div class="benefits-box">
        <img src="/assets/images/snacks.png" alt="snacks">
        <span class="tile-text text-accent-pink">Snacks and Pizza Fridays</span>
        <span class="benefits-description">
          All the fresh fruit, tea, coffee and sweets you could want. Every week
          we enjoy a tasty pizza together.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-7">
      <div class="benefits-box">
        <img src="/assets/images/impact.png" alt="real impact">
        <span class="tile-text text-accent-purple">Real impact on project</span>
        <span class="benefits-description benefits-description--short">
          We respect and encourage our employees’ ideas.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-8">
      <div class="benefits-box">
        <img src="/assets/images/chillroom.png" alt="chillroom">
        <span class="tile-text text-accent-yellow">Chillroom</span>
        <span class="benefits-description benefits-description--short">
          Relax while playing FIFA and eating pizza.
        </span>
      </div>
    </div>
  </div>
</div>
