<div class="l-career-container">
  <div class="main-point blue-dot">
    Design
  </div>
  {% for job in site.career %}
  {% if job.type contains "design" %}
    <a href="{{job.id}}" class="career-card">
      <span class="career-card-job">
        {{job.title}}
      </span>
      <span class="career-card-rate">
        from {{job.salary}} pln netto
      </span>
      <span class="career-card-apply">
        APPLY
        <img src="/assets/images/arrow-orange.png">
      </span>
      <div class="career-hover-wave">
        <img src="/assets/images/cream-wave3.png">
        <div class="wave-tail"></div>
      </div>
    </a>
  {% endif %}
  {% endfor %}
</div>
