<span class="main-point pa about-values-point">
  Join our team in four easy steps
</span>
<h2 class="about-values-title ml-0">
  Our recruitment process:
</h2>
<div class="about-values pb-0">
  <div class="value">
    <div>
      <div class="text-number">
        01
      </div>
      <div class="text-title">
        Apply
      </div>
    </div>
    <p class="text-content">
      Answer our job posting or use the form below to tell us what position
      you are interested in. Follow us on social media to receive
      notifications about newest openings in various departments.
    </p>
  </div>
  <div class="value">
    <div>
      <div class="text-number">
        02
      </div>
      <div class="text-title">
        General
        <br>
        interview call
      </div>
    </div>
    <p class="text-content">
      Talk to one of our founders and see if you’ll be a good fit at
      Naturaily. Get a feel of the atmosphere, find out more about our daily
      routine and types of projects you’d be working on.
    </p>
  </div>
  <div class="value">
    <div>
      <div class="text-number">
        03
      </div>
      <div class="text-title">
        In person interview
        <br>
        or pair programming
      </div>
    </div>
    <p class="text-content">
      Answer a series of meritorical questions or take part in a short pair
      programming session with one of our senior developers. Find out where you
      place level-wise, which team and project would be best suitable for you.
    </p>
  </div>
  <div class="value">
    <div>
      <div class="text-number">
        04
      </div>
      <div class="text-title">
        Welcome
        <br>
        on board
      </div>
    </div>
    <p class="text-content">
      That’s it! Now you can join our team of developers, work on interesting
      projects, grow professionally and start your new adventure with Naturaily.
      So just show up and do your best!
    </p>
  </div>
  <div class="clear"></div>
  <div class="l-career-container no-gutters">
    <div class="main-point mb-3">
      We offer both stationary and remote opportunities for senior developers.
      If you’re interested in an internship or are applying for a junior
      position keep in mind that we’d want you close for training so you’d work
      at our beautiful office in the heart of Wroclaw.
    </div>
  </div>
</div>
