<div class="career-more career-benefits">
  <div>
    <span class="main-point more">
      Benefits
    </span>
    <h2 class="title">
      You can expect more
    </h2>
  </div>
  <div class="benefits">
    <div class="benefits-tile benefit-1">
      <div class="benefits-box">
        <span class="icon-compass text-primary"></span>
        <span class="tile-text text-primary">Location</span>
        <span class="benefits-description">
          Our office is in the heart of Wroclaw's Old Town.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-2">
      <div class="benefits-box">
        <span class="icon-barbell text-accent-green"></span>
        <span class="tile-text text-accent-green">Multisport card</span>
        <span class="benefits-description">
          Health and wellness is important to us.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-3">
      <div class="benefits-box">
        <span class="icon-literature text-accent-gold"></span>
        <span class="tile-text text-accent-gold">Education</span>
        <span class="benefits-description">
          Grow professionally, attend conferences and workshops.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-4">
      <div class="benefits-box">
        <span class="icon-beach text-accent-blue"></span>
        <span class="tile-text text-accent-blue">Work-life balance</span>
        <span class="benefits-description">
          Enjoy flexible hours and home-office days.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-5">
      <div class="benefits-box">
        <span class="icon-macbook"></span>
        <span class="tile-text">Technology</span>
        <span class="benefits-description">
          New Macs from day one.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-6">
      <div class="benefits-box">
        <span class="icon-cutlery text-accent-pink"></span>
        <span class="tile-text text-accent-pink">Snacks and Drinks</span>
        <span class="benefits-description">
          All the fresh fruit, tea, coffee and sweets you could want.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-7">
      <div class="benefits-box">
        <span class="icon-light-on text-accent-purple"></span>
        <span class="tile-text text-accent-purple">Real impact on project</span>
        <span class="benefits-description">
          We respect and encourage our employees’ ideas.
        </span>
      </div>
    </div>
    <div class="benefits-tile benefit-8">
      <div class="benefits-box">
        <span class="icon-game-controller text-accent-yellow"></span>
        <span class="tile-text text-accent-yellow">Chillroom</span>
        <span class="benefits-description">
          Relax while playing FIFA and eating pizza.
        </span>
      </div>
    </div>
  </div>
</div>
