<div class="l-career-container">
  <div class="main-point">
    Projektowanie
  </div>
  <div class="career-card">
    <span class="career-card-job">
      UX / UI Designer
    </span>
    <span class="career-card-rate">
      od 8000 pln netto
    </span>
    <a class="btn btn-secondary btn-career">aplikuj</a>
  </div>
  <div class="career-card">
    <span class="career-card-job">
      UX / UI Designer
    </span>
    <span class="career-card-rate">
      od 5000 pln netto
    </span>
    <a class="btn btn-secondary btn-career">aplikuj</a>
  </div>
</div>
