<div class="programming">
  <div class="main-point">
    Projektowanie
  </div>
  <div class="career-card">
    <span class="career-card-job">
      UX / UI Designer
    </span>
    <span class="career-card-rate">
      od 8000 pln netto
    </span>
    <button type="button" class="btn btn-secondary">aplikuj</button>
  </div>
  <div class="career-card">
    <span class="career-card-job">
      UX / UI Designer
    </span>
    <span class="career-card-rate">
      od 5000 pln netto
    </span>
    <button type="button" class="btn btn-secondary">aplikuj</button>
  </div>
</div>
