<div class="main-point carousel-point">
  What people we work with say…
</div>
<div class="main-carousel" id="maincarousel">
  <div class="carousel-item">
    <div class="item-info">
      <img class="item-img" src="/assets/images/firefield-face.png" alt="">
      <div class="item-name">
        Adam McGowan
      </div>
      <div class="item-job text-accent-gold">
        CEO Firefield
      </div>
    </div>
    <div class="item-opinion">
      <img class="item-company firefield" src="/assets/images/firefield.png" alt="">
      <input type="checkbox" class="read-more-state" id="post1" />
      <p class="read-more-wrap">
        Firefield had the good fortune of getting introduced to Marcin and the Naturaily team at the end of 2015. Since then a number of their resources have helped us to bring our clients’ products and visions to life. The members of the Naturaily team combine a level of professionalism
        <span class="read-more-target">
          , experience, and collaboration that is hard to find in today’s technology landscape. We would recommended them and their partnership-driven commitment to anyone.
        </span>
      </p>
      <label for="post1" class="read-more-trigger"></label>
    </div>
    <div class="clear">

    </div>
  </div>
  <div class="carousel-item">
    <div class="item-info">
      <img class="item-img mike" src="/assets/images/MikeFerrier.jpg" alt="">
      <div class="item-name">
        Mike Ferrier
      </div>
      <div class="item-job text-accent-gold">
        CTO Format.com
      </div>
    </div>
    <div class="item-opinion">
      <img class="item-company format" src="/assets/images/format.png" alt="">
      <p>It was a pleasure working with Marcin and his team at Naturaily. They understood the requirements and got up to speed on our project quickly, and delivered quality work on schedule.</p>
    </div>
    <div class="clear">

    </div>
  </div>
  <div class="carousel-item">
    <div class="item-info">
      <img class="item-img" src="/assets/images/JestonGeorge.jpg" alt="">
      <div class="item-name">
        Jeston George
      </div>
      <div class="item-job text-accent-gold">
        CEO Apptegy
      </div>
    </div>
    <div class="item-opinion">
      <img class="item-company apptegy" src="/assets/images/apptegy.png" alt="">
      <p>It's been a pleasure working with Naturaily. They're a very talented and professional team. We will definitely work with them in the future.</p>
    </div>
    <div class="clear">

    </div>
  </div>
  <div class="carousel-item">
    <div class="item-info">
      <img class="item-img" src="/assets/images/MaximeRouve.png" alt="">
      <div class="item-name">
        Maxime Rouve
      </div>
      <div class="item-job text-accent-gold">
        Project Manager ITM
      </div>
    </div>
    <div class="item-opinion">
      <img class="item-company" src="/assets/images/itm.png" alt="">
      <p>Naturaily’s exceptional reactivity makes them a valuable development partner. Another advantage is their ability to communicate well with non-technical people. While they could maybe improve their schedule estimates, they consistently hit deadlines and deliver clever solutions.</p>
    </div>
    <div class="clear">

    </div>
  </div>
</div>

<script type="text/javascript">
  {% include main-carousel.js %}
</script>
