<div class="main-point competence-point">
  Skills matter
</div>
<div class="competence">
  <div class="competence-texts">
    <h2 class="competence-title">
      Solid developers and designers
    </h2>
    <p class="competence-text">
      We are available when you need us. Let’s build web and mobile applications from scratch or help you with scaling/fixing your existing product.
    </p>
    <div class="competence-btn">
      <a href="/#contactForm" class="btn btn-primary btn-arrow">
        Let’s talk about your needs
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
    </div>
  </div>
  <div class="competence-offers">
    <div class="offer offer--1 text-secondary" data-reveal-competence="" >
      <span class="icon-accounting"></span>
      <span class="offer-text">
        Analysis
      </span>
    </div>
    <div class="offer offer--2 text-accent-purple" data-reveal-competence="">
      <span class="icon-pen"></span>
      <span class="offer-text">
        UX/UI Design
      </span>
    </div>
    <div class="offer offer--3 text-accent-blue" data-reveal-competence="">
      <span class="icon-flow"></span>
      <span class="offer-text">
        Software Architecture
      </span>
    </div>
    <div class="offer offer--4" data-reveal-competence="">
      <span class="icon-database-administrator"></span>
      <span class="offer-text">
        Backend Development
      </span>
    </div>
    <div class="offer offer--5 text-accent-gold" data-reveal-competence="">
      <span class="icon-networking-manager"></span>
      <span class="offer-text">
        Internet of Things
      </span>
    </div>
    <div class="offer offer--6 text-accent-purple" data-reveal-competence="">
      <span class="icon-navigation-toolbar-top"></span>
      <span class="offer-text">
        Frontend Development
      </span>
    </div>
    <div class="offer offer--7 text-accent-green" data-reveal-competence="">
      <span class="icon-profit-chart"></span>
      <span class="offer-text">
        Maintenance
      </span>
    </div>
  </div>
</div>
