<div class="main-point competence-point">
  Skills matter
</div>
<div class="competence">
  <div class="competence-texts">
    <h2 class="competence-title">
      Solid developers and designers
    </h2>
    <p class="competence-text">
      We are available when you need us. Let’s build web and mobile applications from scratch or help you with scaling/fixing your existing product.
    </p>
    <div class="competence-btn">
      <button type="button" class="btn btn-primary btn-arrow" data-reveal-contact="">
        Let’s talk about your needs
        <img src="/assets/images/btn-arrow.png">
      </button>
    </div>
  </div>
  <div class="competence-offers">
    <div class="offer offer--1" data-reveal-competence="" >
      <i class="sprite sprite-icon-analyze"></i>
      <span class="offer-text text-secondary">
        Analysis
      </span>
    </div>
    <div class="offer offer--2" data-reveal-competence="">
      <i class="sprite sprite-icon-multi"></i>
      <span class="offer-text text-accent-purple">
        UX/UI Design
      </span>
    </div>
    <div class="offer offer--3" data-reveal-competence="">
      <i class="sprite sprite-icon-architectur"></i>
      <span class="offer-text text-accent-blue">
        Software Architecture
      </span>
    </div>
    <div class="offer offer--4" data-reveal-competence="">
      <i class="sprite sprite-icon-backend"></i>
      <span class="offer-text">
        Backend Development
      </span>
    </div>
    <div class="offer offer--5" data-reveal-competence="">
      <i class="sprite sprite-icon-mobile2"></i>
      <span class="offer-text text-accent-gold">
        Mobile Development
      </span>
    </div>
    <div class="offer offer--6" data-reveal-competence="">
      <i class="sprite sprite-icon-frontend"></i>
      <span class="offer-text text-accent-purple">
        Frontend Development
      </span>
    </div>
    <div class="offer offer--7 text-accent-green" data-reveal-competence="">
      <i class="sprite sprite-icon-growth"></i>
      <span class="offer-text">
        Maintenance
      </span>
    </div>
  </div>
</div>
