<div class="competence">
  <div class="main-point">
    Nasze kompetencje!
  </div>
  <h2 class="competence-title">
    Twoi najlepsi programiści i projektanci UX/UI na zlecenie
  </h2>
  <p class="competence-text">
    Skorzystaj z naszych zasobów wtedy gdy ich potrzebujesz, rozpocznij z nami wdrożenie swojej aplikacji webowej lub mobilnej, lub rozwijaj z nami istniejące już oprogramowanie. Przekonaj się o jakości naszych usług w trakcie miesiąca testowego!
  </p>
  <div class="competence-btn">
    <button type="button" class="btn btn-primary">powiedz nam czego potrzebujesz</button>
  </div>
  <div class="competence-offers">
    <div class="offer offer--1">
      <i class="sprite sprite-icon-analyze"></i>
      <div class="offer-text text-orane">
        Analiza Biznesowa i Produkcja
      </div>
    </div>
    <div class="offer offer--2">
      <i class="sprite sprite-icon-multi"></i>
      <div class="offer-text text-purple">
        UX/UI Design
      </div>
    </div>
    <div class="offer offer--3">
      <i class="sprite sprite-icon-architectur"></i>
      <div class="offer-text text-blue">
        Software Architecture
      </div>
    </div>
    <div class="offer offer--4">
      <i class="sprite sprite-icon-backend"></i>
      <div class="offer-text">
        Backend Development
      </div>
    </div>
    <div class="offer offer--5">
      <i class="sprite sprite-icon-mobile2"></i>
      <div class="offer-text text-brown-light">
        Mobile Development
      </div>
    </div>
    <div class="offer offer--6">
      <i class="sprite sprite-icon-frontend"></i>
      <div class="offer-text text-purple">
        Frontent Development
      </div>
    </div>
    <div class="offer offer--7 text-green">
      <i class="sprite sprite-icon-growth"></i>
      <div class="offer-text">
        Utrzymanie i rozwój
      </div>
    </div>
  </div>
</div>
