{% if page.comments %}
  <div class="disqus" id="disqus_thread"></div>
  <script>

    var disqus_config = function () {
    this.page.url = "https://naturaily.com{{ page.url }}";
    this.page.identifier = "{{ page.id }}";
    };

    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//naturaily.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Enable Javascript in your browser to see <a href="https://disqus.com/?ref_noscript" rel="nofollow"> comments by Disqus.</a></noscript>
{% endif %}
