<section class="eu-bar">
  <div class="eu-bar-wrapp">
    <div class="eu-bar-images" rel="nofollow">
      <img src="/assets/images/eu-logo-1.png" alt="European Funds">
      <img src="/assets/images/eu-logo-2.png" alt="Republic of Poland">
      <img src="/assets/images/eu-logo-3.png" alt="PARP">
      <img src="/assets/images/eu-logo-4.png" alt="European Union">
    </div>
    <p class="eu-bar-text">Naturaily is implementing the project Intensification of export activities of Naturaily Sp. z o. o. <a href="/european-union" rel="nofollow">read more</a></p>
  </div>
</section>
