<div class="l-footer-container">
  <footer class="footer">

    <img class="footer-logo" src="/assets/images/logo_naturaily.svg" alt="Naturaily logo">
    <span class="footer-headline--services">Services</span>
    <span class="footer-headline--offer">Varia</span>
    <hr class="footer-hr">
    <div class="footer-contact">
      <p class="footer-contact-links">
        <a href="mailto:hello@naturaily.com">hello@naturaily.com</a>
        <a href="tel:+48735220414">+48 735 220 414 (Sales)</a>
        <a href="tel:+48533294604">+48 533 294 604 (Office)</a>
      </p>
      <span>
        <p>ul. Ofiar Oświęcimskich 17</p>
        <p>50-069 Wrocław</p>
        <p>Poland</p>
      </span>
      <a class="tos" href="/tos" rel="nofollow">Terms of service</a>
      <p>
        We use some fabulous icons <br> from
        <a href="https://icons8.com/license" target="_blank">icons8.com</a>
      </p>
    </div>
    <ul class="footer-services">
      <li><a href="/services/ruby-on-rails-development">Ruby on Rails development</a></li>
      <li><a href="/services/vue-js-development">Vue.js development</a></li>
    </ul>
    <ul class="footer-offer">
      <li><a href="/vue-resources">Vue.js resources</a></li>
    </ul>
    <hr class="footer-hr small-only">
    <span class="footer-regon">
      <p>VAT-ID: PL8943047516</p>
      KRS: 0000472548
      REGON: 022209183
    </span>
    <div class="footer-social">
      <a href="https://www.facebook.com/Naturaily/" target="_blank" rel="nofollow">
        <img src="/assets/images/facebook-logo.png" alt="Facebook">
      </a>
      <a href="https://twitter.com/naturailycom" target="_blank" rel="nofollow">
        <img src="/assets/images/twitter-logo.png" alt="Twitter">
      </a>
      <a href="https://www.linkedin.com/company/naturaily" target="_blank" rel="nofollow">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
      </a>
      <a href="https://github.com/naturaily" target="_blank" rel="nofollow">
        <img class="footer-github" src="/assets/images/github.png" alt="Github">
      </a>
    </div>
  </footer>
</div>
