<footer class="footer">
  <img class="footer-logo" src="/assets/images/logo_naturaily.png">
  <span class="footer-headline--offer">Oferta</span>
  <span class="footer-headline--places">Działamy w</span>
  <span class="footer-headline--news">Newsletter</span>
  <hr class="footer-hr">
  <div class="footer-contact">
    <p>
      <a href="#">hello@naturaily.com</a>
      <a href="#">+48 777 007 717 (Sales)</a>
      <a href="#">+48 700 700 700</a>
    </p>
    <p>
      ul. Ofiar Oświęcimskich 17 50-069 Wrocław, Poland
    </p>
  </div>
  <ul class="footer-offer">
    <li>Frontent development</li>
    <li>Backend development</li>
    <li>Mobile development</li>
    <li>UX/UI</li>
    <li>Design Software Architecture Analiza biznesowa i produktowa</li>
    <li>Utrzymanie i rozwój</li>
  </ul>
  <ul class="footer-places">
    <li>Polsce</li>
    <li>Wielkiej Brytanii</li>
    <li>Niemczech</li>
    <li>USA</li>
  </ul>
  <div class="footer-news">
    <p>
      Chcesz więcej? Zapisz się do naszego newslettera
    </p>
  </div>
</footer>
