<div class="l-footer-container">
  <footer class="footer">

    <img class="footer-logo" src="/assets/images/logo_naturaily.svg">
    <span class="footer-headline--offer">Varia</span>
    <span class="footer-headline--news">Newsletter</span>
    <hr class="footer-hr">
    <div class="footer-contact">
      <p class="footer-contact-links">
        <a href="mailto:hello@naturaily.com">hello@naturaily.com</a>
        <a href="tel:+48735220414">+48 735 220 414 (Sales)</a>
        <a href="tel:+48533294604">+48 533 294 604 (Office)</a>
      </p>
      <span>
        <p>ul. Ofiar Oświęcimskich 17</p>
        <p>50-069 Wrocław</p>
        <p>Poland</p>
      </span>
    </div>
    <ul class="footer-offer">
      <li><a href="/vue-resources.html">Vue.js resources</a></li>
    </ul>
    <hr class="footer-hr small-only">
    <div class="footer-news">
      <p>
        Do you want to know more?<br>Sign up for our newsletter!
      </p>
      <div class="input-wrapper">
        <input class="custom-input" type="email" name="" placeholder="Email...">
        <img class="confirm-arrow" src="/assets/images/arrow-orange.png">
      </div>
    </div>
    <span class="footer-regon">
      <p>VAT-ID: PL8943047516</p>
      KRS: 0000472548
      REGON: 022209183
    </span>
    <div class="footer-social">
      <a href="https://plus.google.com/111823553806501023330" target="_blank">
        <img src="/assets/images/google.png">
      </a>
      <a href="https://github.com/naturaily" target="_blank">
        <img class="footer-github" src="/assets/images/github.png">
      </a>
      <a href="https://www.linkedin.com/company/naturaily" target="_blank">
        <img src="/assets/images/linkedin.png">
      </a>
      <a href="https://twitter.com/naturailycom" target="_blank">
        <img src="/assets/images/twitter-logo.png">
      </a>
      <a href="https://www.facebook.com/Naturaily/" target="_blank">
        <img src="/assets/images/facebook-logo.png">
      </a>
    </div>

  </footer>
</div>
