<div class="gallery" style="justify-items: end;">
  <div id="galleryFirst">
    <img class="small-img" src="/assets/images/home-gallery-8.png" style="float: right;">
    <img class="medium-img" src="/assets/images/home-gallery-9.png" style="margin-top: 30px;">
    <img class="small-img" src="/assets/images/home-gallery-7.png" style="margin-top: 30px;">
  </div>
  <div id="gallerySecond">
    <img class="large-img" src="/assets/images/home-gallery-10.png" style="margin-top: 60px;">
  </div>
  <div id="galleryThird">
    <img class="medium-img" src="/assets/images/home-gallery-2.png" style="margin-top: 30px;">
    <img class="small-img" src="/assets/images/home-gallery-6.png" style="margin-top: 30px;">
  </div>
  <div id="galleryFourth">
    <img class="small-img" src="/assets/images/home-gallery-4.png" style="float: right;">
    <img class="medium-img" src="/assets/images/home-gallery-3.png" style="margin-top: 30px;">
  </div>
  <div id="galleryFifth">
    <img class="large-img" src="/assets/images/home-gallery-1.png">
    <img class="small-img" src="/assets/images/home-gallery-5.png" style="margin-top: 30px; float: right;">
  </div>
  {% if page.url == "/" %}
    <a href="/about"><button type="button" class="btn btn-secondary">Take a closer look</button></a>
  {% endif %}
</div>
