<div class="gallery" style="justify-items: end;">
  <div class="">
    <img src="/assets/images/home-gallery-8.png" style="float: right;">
    <img src="/assets/images/home-gallery-9.png" style="margin-top: 30px;">
    <img src="/assets/images/home-gallery-7.png" style="margin-top: 30px;">
  </div>
  <div class="">
    <img src="/assets/images/home-gallery-10.png" style="margin-top: 60px;">
  </div>
  <div class="">
  <img src="/assets/images/home-gallery-2.png" style="margin-top: 30px;">
  <img src="/assets/images/home-gallery-6.png" style="margin-top: 30px;">
  </div>
  <div class="">
    <img src="/assets/images/home-gallery-4.png" style="float: right;">
    <img src="/assets/images/home-gallery-3.png" style="margin-top: 30px;">
  </div>
  <div class="">
    <img src="/assets/images/home-gallery-1.png">
    <img src="/assets/images/home-gallery-5.png" style="margin-top: 30px; float: right;">
  </div>
</div>
