<div class="gallery">
  <div id="galleryFirst">
    <img class="small-img" src="/assets/images/logo_naturaily.svg" data-echo="/assets/images/home-gallery-8.jpg" style="float: right;" alt="home-gallery-8">
    <img class="medium-img" src="/assets/images/logo_naturaily.svg" data-echo="/assets/images/home-gallery-9.jpg" style="margin-top: 30px;" alt="home-gallery-9">
    <img class="small-img" src="/assets/images/logo_naturaily.svg" data-echo="/assets/images/home-gallery-6.jpg" style="margin-top: 30px;" alt="home-gallery-7">
  </div>
  <div id="gallerySecond">
    <img class="large-img" src="/assets/images/logo_naturaily.svg" data-echo="/assets/images/home-gallery-10.jpg" style="margin-top: 60px;" alt="home-gallery-10">
  </div>
  <div id="galleryThird">
    <img class="medium-img" src="/assets/images/logo_naturaily.svg" data-echo="/assets/images/home-gallery-3.jpg" style="margin-top: 30px;" alt="home-gallery-2">
    <img class="small-img" src="/assets/images/logo_naturaily.svg" data-echo="/assets/images/home-gallery-4.jpg" style="margin-top: 30px;" alt="home-gallery-6">
  </div>
  <div id="galleryFourth">
    <img class="small-img" src="/assets/images/logo_naturaily.svg" data-echo="/assets/images/home-gallery-5.jpg" style="float: right;" alt="home-gallery-4">
    <img class="medium-img" src="/assets/images/logo_naturaily.svg" data-echo="/assets/images/home-gallery-2.jpg" style="margin-top: 30px;" alt="home-gallery-3">
  </div>
  <div id="galleryFifth">
    <img class="large-img" src="/assets/images/logo_naturaily.svg" data-echo="/assets/images/home-gallery-1.jpg" alt="home-gallery-1">
    <img class="small-img" src="/assets/images/logo_naturaily.svg" data-echo="/assets/images/home-gallery-7.jpg" style="margin-top: 30px; float: right;" alt="home-gallery-5">
  </div>
  {% if page.url == "/" %}
    <a href="/about"><button type="button" class="btn btn-secondary">Take a closer look</button></a>
  {% endif %}
</div>
