<nav class="header">
  <div class="header-logo">
    <a href="/"><img src="/assets/images/logo_naturaily.svg"></a>
  </div>
  <div class="site-nav">
    <nav class="hamb" role="navigation">
      <div class="menuToggle">
        <input type="checkbox" id="checkbox" />
        <span class="span-top"></span>
        <span class="span-middle"></span>
        <span class="span-bottom"></span>
        <ul class="menu">
          <a class="naturaily" href="/"><img src="/assets/images/logo_naturaily.svg"></a>
          <li class="{% if '/about' == page.url %}active{% endif %}"><a href="/about">About</a></li>
          <li class="{% if '/portfolio' == page.url or page.url contains 'project' %}active{% endif %}"><a href="/portfolio">Portfolio</a></li>
          <li class="{% if '/career' == page.url or page.url contains 'join' %}active{% endif %}"><a href="/career">Career</a></li>
          <li class="{% if page.url contains 'blog' %}active{% endif %}"><a href="/blog/">Blog</a></li>
          <div class="header-wave"></div>
          <div class="header-color">
          </div>
          <div class="header-social">
            <a href="https://www.facebook.com/Naturaily/" target="_blank">
              <img src="/assets/images/facebook-logo.png">
            </a>
            <a href="https://twitter.com/naturailycom" target="_blank">
              <img src="/assets/images/twitter-logo.png">
            </a>
            <a href="https://www.linkedin.com/company/naturaily" target="_blank">
              <img src="/assets/images/linkedin.png">
            </a>
            <a href="https://github.com/naturaily" target="_blank">
              <img class="header-github" src="/assets/images/github.png">
            </a>
            <a href="https://plus.google.com/111823553806501023330" target="_blank">
              <img src="/assets/images/google.png">
            </a>
          </div>
        </ul>
      </div>
    </nav>
  </div>
  <div class="header-right">
    <button type="button" class="btn btn-secondary header-btn" data-reveal-contact="">Let’s talk</button>
  </div>
</nav>

<script type="text/javascript">
  {% include block-scroll.js %}
</script>
