<nav class="header">
  <div class="header-logo">
    <a href="/"><img src="/assets/images/logo_naturaily.svg" alt="Naturaily logo"></a>
  </div>
  <div class="site-nav">
    <nav class="hamb" role="navigation">
      <div class="menuToggle">
        <input type="checkbox" id="checkbox" />
        <div class="mobile-span" id="mobileSpan">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="menu">
          <a class="naturaily" href="/"><img src="/assets/images/logo_naturaily.svg" alt="Naturaily logo"></a>
          <li class="{% if '/services' == page.url or page.url contains '/services' %}active{% endif %}"><a href="/services">Services</a></li>
          <li class="{% if '/portfolio' == page.url or page.url contains '/project' %}active{% endif %}"><a href="/portfolio">Portfolio</a></li>
          <li class="{% if '/about' == page.url %}active{% endif %}"><a href="/about">About</a></li>
          <li class="{% if page.url contains '/blog' %}active{% endif %}"><a href="/blog/">Blog</a></li>
          <li class="{% if '/careers' == page.url or page.url contains '/join' %}active{% endif %}"><a href="/careers">Careers</a></li>
          <li class="{% if page.url contains '/european-funds' %}active{% endif %}"><a href="/european-union" rel="nofollow">EU</a></li>
          <div class="header-wave"></div>
          <div class="header-color"></div>
          <div class="header-social">
            <a href="https://www.facebook.com/Naturaily/" rel="nofollow" target="_blank">
              <img src="/assets/images/facebook-logo.png" alt="Facebook">
            </a>
            <a href="https://twitter.com/naturailycom" rel="nofollow" target="_blank">
              <img src="/assets/images/twitter-logo.png" alt="Twitter">
            </a>
            <a href="https://www.linkedin.com/company/naturaily" rel="nofollow" target="_blank">
              <img src="/assets/images/linkedin.png" alt="Linkedin">
            </a>
            <a href="https://github.com/naturaily" rel="nofollow" target="_blank">
              <img class="header-github" src="/assets/images/github.png" alt="Github">
            </a>
          </div>
        </ul>
      </div>
    </nav>
  </div>
  <div class="header-right">
    <a href="/#contactForm" class="btn btn-secondary header-btn">Let’s talk</a>
  </div>
</nav>

<script type="text/javascript">
  {% include block-scroll.js %}
</script>
