<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="google-site-verification" content="hN08h2wKl7pGAbXTpkyglvv4VdgIBfm5TAGozNPUhJM" />
  <meta property="og:title"  content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" >
  <meta property="og:description"  content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" >
  <meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/assets/images/ogfacebook.png{% endif %}">

  <meta property="twitter:title"  content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" >
  <meta property="twitter:description"  content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" >
  <meta property="twitter:image"  content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/assets/images/ogfacebook.png{% endif %}">
  <meta name="twitter:card" content="summary">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon" />

  <script src="/assets/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/assets/js/slick.min.js"></script>
  <script src="/assets/js/sticky-kit.js"></script>
  <script src="/assets/js/jquery.smooth-scroll.js"></script>

  <script src="https://use.typekit.net/cah0hop.js"></script>
  <script>try{Typekit.load({ async: false });}catch(e){}</script>

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {% if '/categories' == page.url or page.url contains 'categories' %}

    {% if site.categories[page.filter_category] %}
      {% for post in site.categories[page.filter_category] %}
        {% assign tag_list = post.tags | join: ' ' %}

        {% if  page.filter_category contains tag_list %}

          <link rel="canonical" href="https://naturaily.com/blog/tags/{{ page.filter_category | replace: " ", "-" | downcase }}" />

          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}


</head>
