<nav class="home-header">
  <div class="site-nav">
    <nav class="hamb" role="navigation">
      <div class="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul class="menu">
          <li class="{% if '/' == page.url %}active{% endif %}"><a href="/">Naturaily</a></li>
          <li class="{% if '/about' == page.url %}active{% endif %}"><a href="/about">About</a></li>
          <li class="{% if '/portfolio' == page.url %}active{% endif %}"><a href="/portfolio">Portfolio</a></li>
          <li class="{% if '/career' == page.url %}active{% endif %}"><a href="/career">Career</a></li>
          <li class="{% if '/blog' == page.url %}active{% endif %}"><a href="/blog">Blog</a></li>
          <div class="header-wave">
          </div>
        </ul>
      </div>
    </nav>
  </div>
  <div class="header-right">
    <button type="button" class="btn btn-secondary header-btn">Let’s talk</button>
  </div>
</nav>
