<div class="videos" id="videos">
  <div class="tour-numbers">
    <span>
      01
    </span>
    /  07
  </div>
  <div>
    <div class="videos-header">
      <h2 class="headings--h2">Naturaily</h2>
      <p>
        We’re an Eastern European software development company. According to our
        clients, we're fast, efficient and quality-oriented. Check for yourself:
        <a href="https://clutch.co/profile/naturaily" target="_blank">
          Clutch profile
        </a>
      </p>
    </div>
    <div class="videos-main videos-background-box">
      <a class="btn btn-primary btn-youtube" href="https://www.youtube.com/watch?v=Wt05iSnenEI&feature=youtu.be" target="_blank">
        <img src="/assets/images/play.png" alt="play">
        check the video
      </a>
    </div>
    <div class="videos-other">
      <div class="videos-cooperation videos-background-box">
        <a class="btn btn-primary btn-youtube" href="https://www.youtube.com/watch?v=Gbt_i-Ph6_A" target="_blank">
          <img src="/assets/images/play.png" alt="play">
          check the video
        </a>
      </div>
      <div class="videos-technology videos-background-box">
        <a class="btn btn-primary btn-youtube" href="https://www.youtube.com/watch?v=hrrSowlVlk8&t=1s" target="_blank">
          <img src="/assets/images/play.png" alt="play">
          check the video
        </a>
      </div>
    </div>
  </div>
</div>
