<div class="dates-background">
  <div class="dates" id="dates">
    <div class="tour-numbers">
      <span>
        06
      </span>
      /  07
    </div>
    <h2 class="headings--h2">
      Tour
      <span>
        dates
      </span>
    </h2>
    <div class="dates-group">
      <div class="dates-details">
        <div>
          <span>
            9-15 March
          </span>
          2019
        </div>
        <h3 class="headings--h3">
          SXSW 2019
        </h3>
        <div>
          Austin (Texas), USA
        </div>
      </div>
      <div class="dates-details">
        <div>
          <span>
            10-12 April
          </span>
          2019
        </div>
        <h3 class="headings--h3">
          Japan IT Week
        </h3>
        <div>
          Tokio, Japan
        </div>
      </div>
      <div class="dates-details">
        <div>
          <span>
            13-16 May
          </span>
          2019
        </div>
        <h3 class="headings--h3">
          IoT World
        </h3>
        <div>
          Santa Clara, USA
        </div>
      </div>
      <div class="dates-details">
        <div>
          <span>
            September 2019
          </span>
        </div>
        <h3 class="headings--h3">
          DLD 2019
        </h3>
        <div>
          Tel Aviv, Israel
        </div>
      </div>
      <div class="dates-details">
        <div>
          <span>
            November 2019
          </span>
        </div>
        <h3 class="headings--h3">
          Web Summit
        </h3>
        <div>
          Lizbona, Portugal
        </div>
      </div>
      <div class="dates-details">
        <div>
          <span>
            December 2019
          </span>
        </div>
        <h3 class="headings--h3">
          Slush
        </h3>
        <div>
          Helsinki, Finland
        </div>
      </div>
    </div>
  </div>
</div>
