<div class="hits" id="hits">
  <div class="hits-projects">
    <div>
      <div class="tour-numbers">
        <span>
          03
        </span>
        /  07
      </div>
      <h2 class="headings--h2 red">
        <span>Check our greatest hits!</span>
      </h2>
    </div>
    <div class="hits-lvcloud">
      <a href="/project/lvcloud" class="hits-lvcloud-box">
        <img src="/assets/images/LVCloud.png" alt="lvcloud">
      </a>
      <a class="hits-link" href="/project/lvcloud">
        <p>LVCloud</p>
        <img src="/assets/images/arrow-yellow.png" alt="arrow">
      </a>
      <p class="hits-project-description">
        LVCloud is an Internet of Things (IoT) application that monitors and
        takes care of the grid.
      </p>
    </div>
    <div class="hits-artinfo">
      <a href="/project/artinfo"class="hits-artinfo-box">
        <img src="/assets/images/artinfo-laptop.png" alt="artinfo">
      </a>
      <a class="hits-link" href="/project/artinfo">
        <p>Artinfo</p>
        <img src="/assets/images/arrow-yellow.png" alt="arrow">
      </a>
      <p class="hits-project-description">
        Artinfo is a web platform, that offers not only a sophisticated catalog
        of art pieces and auction houses, but also is an amazing source of
        information about the art market in Poland and Europe.
      </p>
    </div>
  </div>
  <span class="hits-circle"></span>
</div>
