<div class="tour-top-bar">
  <ul class="nav">
    <li>
      <a href="#banner" class="active">Top</a>
    </li>
    <li>
      <a href="#videos">Videos</a>
    </li>
    <li>
      <a href="#rhythm">Rhythm</a>
    </li>
    <li>
      <a href="#hits">Gratest hits</a>
    </li>
    <li>
      <a href="#cooperation">Cooperation</a>
    </li>
    <li>
      <a href="#band">Our band</a>
    </li>
    <li>
      <a href="#dates">Tour dates</a>
    </li>
    <li>
      <a href="#photos">Photos</a>
    </li>
  </ul>
  <div class="social-icons">
    <a href="https://twitter.com/naturailycom" target="_blank" rel="nofollow">
      <img class="twitter" src="/assets/images/twitter.svg" alt="Twitter">
    </a>
    <a href="https://www.facebook.com/Naturaily/" target="_blank" rel="nofollow">
      <img class="facebook" src="/assets/images/facebook.svg" alt="Facebook">
    </a>
    <a href="https://www.linkedin.com/company/naturaily" target="_blank" rel="nofollow">
      <img class="linkedin" src="/assets/images/linkedin.svg" alt="Linkedin">
    </a>
    <a href="https://github.com/naturaily" target="_blank" rel="nofollow">
      <img class="github" class="github" src="/assets/images/github.svg" alt="Github">
    </a>
  </div>
</div>
