<div class="logos">
  <div data-left class="logotypes">
    <span class="logos-header">
      Live shows at
    </span>
    <div class="logotypes-box">
      <img src="/assets/images/sxsw.png" alt="sxsw">
      <img src="/assets/images/internet_of_things.png" alt="internet_of_things">
      <img src="/assets/images/japan_it_week.png" alt="japan_it_week">
      <img src="/assets/images/web_summit.png" alt="web_summit">
      <img src="/assets/images/slush.png" alt="slush">
      <img src="/assets/images/dld.png" alt="dld">
    </div>
  </div>
  <div data-right class="logos-dates">
    <span class="logos-header">
      Take a look at tour dates
    </span>
    <h2 class="headings--h2 logos-dates-text">
      Where we're gonna make some <span>noise</span>
    </h2>
    <span class="tour-circle orange"></span>
    <span class="tour-circle red"></span>
    <span class="tour-circle blue"></span>
    <a href="#dates" class="logos-dates-button btn btn-primary btn-arrow">
      our tour dates
      <img src="/assets/images/btn-arrow.png" alt="arrow">
    </a>
  </div>
</div>
