<footer class="on-tour footer">
  <img class="footer-logo" src="/assets/images/logo_naturaily.svg" alt="Naturaily logo">
  <hr class="footer-hr">
  <div class="footer-contact">
    <a href="mailto:hello@naturaily.com">hello@naturaily.com</a>
  </div>
  <div class="footer-services">
    <a href="tel:+48735220414">+48 735 220 414 (Sales)</a>
    <a href="tel:+48533294604">+48 533 294 604 (Office)</a>
  </div>
  <div class="footer-offer">
    <p>ul. Ofiar Oświęcimskich 17</p>
    <p>50-069 Wrocław, Poland</p>
  </div>
  <div class="social-icons">
    <a href="https://twitter.com/naturailycom" target="_blank" rel="nofollow">
      <img class="twitter" src="/assets/images/twitter.svg" alt="Twitter">
    </a>
    <a href="https://www.facebook.com/Naturaily/" target="_blank" rel="nofollow">
      <img class="facebook" src="/assets/images/facebook.svg" alt="Facebook">
    </a>
    <a href="https://www.linkedin.com/company/naturaily" target="_blank" rel="nofollow">
      <img class="linkedin" src="/assets/images/linkedin.svg" alt="Linkedin">
    </a>
    <a href="https://github.com/naturaily" target="_blank" rel="nofollow">
      <img class="github" class="github" src="/assets/images/github.svg" alt="Github">
    </a>
  </div>
  <span class="footer-regon">
    VAT-ID: PL8943047516
    KRS: 0000472548
    REGON: 022209183
  </span>
</footer>
