<div data-central class="rhythm" id="rhythm">
  <div class="tour-numbers">
    <span>
      02
    </span>
    /  07
  </div>
  <h2 class="headings--h2 rhythm-header">
    We keep the rhythm
  </h2>
  <p class="rhythm-opacity">
    No debut in the IT world will escape our attention - we are up to date
    <br>
    with the biggest technological hits.
  </p>
  <p class="rhythm-expertise">
    Our area of expertise are:
  </p>
  <div class="rhythm-grid">
    <div>
      <h4>IOT</h4>
      <p class="rhythm-opacity">Products from scratch</p>
      <p class="rhythm-opacity">Machine learning</p>
    </div>
    <div>
      <h4>Ecommerce</h4>
      <p class="rhythm-opacity">Greenfield development</p>
      <p class="rhythm-opacity">Shopify development</p>
    </div>
  </div>
</div>
