<div class="photos" id="photos">
  <div class="tour-numbers">
    <span>
      07
    </span>
    /  07
  </div>
  <h2 class="headings--h2">
    Take a look at
    <span>
      some shots
    </span>
    <br>
    from our Tour
  </h2>
</div>

<div class="photos-instagram">
  <!-- SnapWidget -->
  <script src="https://snapwidget.com/js/snapwidget.js"></script>
  <iframe src="https://snapwidget.com/embed/668313" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
</div>
