<div class="band" id="band">
  <div class="tour-numbers">
    <span>
      05
    </span>
    /  07
  </div>
  <div class="band-content">
    <span class="band-shadow">
      Naturaily on tour
    </span>
    <div data-band-first>
      <img class="band-person" src="/assets/images/suler.png" alt="Suler">
      <p class="band-person-name">
        Marcin Sulikowski
      </p>
      <p class="band-person-role">
        Leader & Trumpeter
      </p>
      <div class="band-person-description">
        <span class="tour-circle red"></span>
        <p>
          He sets
          the tone of every
          Naturaily's composition
        </p>
      </div>
    </div>
    <div data-band-second>
      <img class="band-person" src="/assets/images/sebastian.png" alt="Sebastian">
      <p class="band-person-name">
        Sebastian Kubiak
      </p>
      <p class="band-person-role">
        Sound & Tech engineer
      </p>
      <div class="band-person-description">
        <span class="tour-circle orange"></span>
        <p>
          He watches over
          the highest
          sound quality
        </p>
      </div>
    </div>
    <div data-band-third>
      <img class="band-person" src="/assets/images/leo.png" alt="Leo">
      <p class="band-person-name">
        Leo Baz
      </p>
      <p class="band-person-role">
        Tour & Meetings manager
      </p>
      <div class="band-person-description">
        <span class="tour-circle blue"></span>
        <p>
          If you want to book our band for
          a gig, he is the right person
          to connect with
        </p>
      </div>
    </div>
    <h2 data-band-fourth class="headings--h2">
      Meet our
      <span>
        “Band Members”
      </span>
    </h2>
    <div data-band-first class="band-social-first">
      <a href="https://twitter.com/suler?lang=pl" target="_blank">
        <img class="icon" src="/assets/images/twitter.svg" alt="twitter">
      </a>
      <a href="https://www.linkedin.com/in/marcinsulikowski/" target="_blank">
        <img class="icon" src="/assets/images/linkedin.svg" alt="linkedin">
      </a>
    </div>
    <div data-band-second class="band-social-second">
      <a href="https://twitter.com/skrabikk" target="_blank">
        <img class="icon" src="/assets/images/twitter.svg" alt="twitter">
      </a>
      <a href="https://www.linkedin.com/in/sebastiankubiak/" target="_blank">
        <img class="icon" src="/assets/images/linkedin.svg" alt="linkedin">
      </a>
    </div>
    <div data-band-third class="band-social-third">
      <a href="https://twitter.com/leobazzz" target="_blank">
        <img class="icon" src="/assets/images/twitter.svg" alt="twitter">
      </a>
      <a href="https://www.linkedin.com/in/leobaz/" target="_blank">
        <img class="icon" src="/assets/images/linkedin.svg" alt="linkedin">
      </a>
    </div>
    <h3 data-band-fourth class="headings--h3">
      Just the three of us…
      <span>Just call us</span>
      <br>
      We’ll be there with bells on!
    </h3>
  </div>
</div>
