<div class="photos" id="photos">
  <div class="tour-numbers">
    <span>
      07
    </span>
    /  07
  </div>
  <h2 class="headings--h2">
    Take a look at
    <span>
      some shots
    </span>
    <br>
    from our Tour
  </h2>
</div>

<div class="photos-instagram">
  <!-- LightWidget WIDGET -->
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <iframe src="//lightwidget.com/widgets/c2f4ebb2cd4f5c98a093eeca0018273a.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
</div>
