<div class="banner" id="banner">
  <span class="shadow-number">
    01
  </span>
  <span class="shadow-text">
    Naturaily on tour
  </span>
  <div class="banner-box">
    <img class="banner-logo" alt="logo_naturaily" src="/assets/images/logo_naturaily.svg">
    <h1 class="banner-tour">
      on tour
    </h1>
  </div>
  <p class="banner-text">
    Naturaily's "band" is hitting the road. Get a chance to meet software virtuosos
    <br>
    who create harmonius IT products and solutions.
  </p>
</div>
