<div class="cooperation" id="cooperation">
  <div class="tour-numbers">
    <span>
      04
    </span>
    /  07
  </div>
  <div data-left>
    <h2 class="headings--h2">
      We create
      <span>number one</span>
      hits featuring the best collaborators from all over the world
    </h2>
    <div class="cooperation-description">
      <p>
        If you are tired of listening to "no can do" playing on repeat like a
        broken record - let's talk.
      </p>
      <div>
        <p class="red">Our chorus is: </p>
        <p>Try me, I know we can make it</p>
      </div>
    </div>
    <p class="cooperation-problems">
      Communication problems, low quality, lack of proper tools and
      processes...Sounds familiar? Those songs are not in our repertoire.
    </p>
  </div>
  <div class="cooperation-lets-talk">
    <div class="cooperation-circles">
      <span class="tour-circle red"></span>
      <span class="tour-circle orange"></span>
      <span class="tour-circle blue"></span>
      <img src="/assets/images/on-tour-circles.svg" alt="circles">
    </div>
    <h3 class="headings--h3">
      Naturaily, only harmonious cooperation
    </h3>
    <p>
      Let’s talk and check if we hit the same note!
    </p>
    <a href="#form" class="btn btn-primary btn-arrow">
      let's talk
      <img src="/assets/images/btn-arrow.png" alt="arrow">
    </a>
  </div>
</div>
