<div class="portfolio-projects">
  <div class="project project-banner">
    <div class="project-image">
      <img src="/assets/images/zapnito.png">
    </div>
    <div class="project-text">
      <h2>
        <b>Zapnito</b>
        <span>Cool Stuff for US Team</span>
      </h2>
      <p>
        Zapewniamy super sprawną reakcję, nasz zespół może być do Twojej dyspozycji już 48 h od pierwszego kontaktu!
      </p>
      <a class="btn btn-secondary" href="#">dowiedz się więcej</a>
    </div>
  </div>
  <div class="project project-shuttle">
    <div class="project-image">
      <img src="/assets/images/motoceny24.png">
    </div>
    <div class="project-text">
      Kupie.se
      <img src="/assets/images/btn-arrow.png">
    </div>
  </div>
  <div class="project project-moto">
    <div class="project-image">
      <img src="/assets/images/motoceny24.png">
    </div>
    <div class="project-text">
      Motoceny25
      <img src="/assets/images/btn-arrow.png">
    </div>
  </div>
  <div class="project project-shuttle">
    <div class="project-image">
      <img src="/assets/images/shuttlefare.png">
    </div>
    <div class="project-text">
      Shuttlefare
      <img src="/assets/images/btn-arrow.png">
    </div>
  </div>
</div>
