<div class="portfolio-projects">
  <div class="project project-banner">
    <div class="project-image">
      <img class="project-image-lvcloud" src="/assets/images/LVCloud.png">
    </div>
    <div class="project-text">
      <h2>
        <b>LVCloud</b>
        <span>Cool Stuff for US Team</span>
      </h2>
      <p>
        We provide very efficient service - our team can be at your disposal within couple of days since the first time you contact us.
      </p>
      <a class="btn btn-secondary banner-link" href="/project/lvcloud">dowiedz się więcej</a>
    </div>
  </div>
  <a href="/project/zapnito" class="project project-zapnito">
    <div class="project-image">
      <img class="project-image-zapnito" src="/assets/images/zapnito.png">
    </div>
    <div class="project-text">
      Zapnito
      <img src="/assets/images/btn-arrow.png">
    </div>
  </a>
  <a href="/project/thecollectivity" class="project project-collectivity">
    <div class="project-image">
      <img class="project-image-collectivity" src="/assets/images/collectivity.png">
    </div>
    <div class="project-text">
      The Collectivity
      <img src="/assets/images/btn-arrow.png">
    </div>
  </a>
  <a href="/project/snipsl" class="project project-snipsl">
    <div class="project-image">
      <img class="project-image-snipsl" src="/assets/images/snipsl.png">
    </div>
    <div class="project-text">
      Snipsl
      <img src="/assets/images/btn-arrow.png">
    </div>
  </a>
</div>
