<div class="portfolio-gallery">
  <div class="project">
    <div class="project-image">
      <img src="/assets/images/motoceny24.png">
    </div>
    <a href="#" class="project-text">
      Kupie.se
      <img src="/assets/images/btn-arrow.png">
    </a>
  </div>
  <div class="project lower">
    <div class="project-image">
      <img src="/assets/images/motoceny24.png">
    </div>
    <a href="#" class="project-text">
      Kupie.se
      <img src="/assets/images/btn-arrow.png">
    </a>
  </div>
  <div class="project">
    <div class="project-image">
      <img src="/assets/images/motoceny24.png">
    </div>
    <a href="#" class="project-text">
      Kupie.se
      <img src="/assets/images/btn-arrow.png">
    </a>
  </div>
  <div class="project">
    <div class="project-image">
      <img src="/assets/images/motoceny24.png">
    </div>
    <a href="#" class="project-text">
      Kupie.se
      <img src="/assets/images/btn-arrow.png">
    </a>
  </div>
  <div class="project lower">
    <div class="project-image">
      <img src="/assets/images/motoceny24.png">
    </div>
    <a href="#" class="project-text">
      Kupie.se
      <img src="/assets/images/btn-arrow.png">
    </a>
  </div>
  <div class="project">
    <div class="project-image">
      <img src="/assets/images/motoceny24.png">
    </div>
    <a href="#" class="project-text">
      Kupie.se
      <img src="/assets/images/btn-arrow.png">
    </a>
  </div>
  <div class="project">
    <div class="project-image">
      <img src="/assets/images/motoceny24.png">
    </div>
    <a href="#" class="project-text">
      Kupie.se
      <img src="/assets/images/btn-arrow.png">
    </a>
  </div>
  <div class="project lower">
    <div class="project-image">
      <img src="/assets/images/motoceny24.png">
    </div>
    <a href="#" class="project-text">
      Kupie.se
      <img src="/assets/images/btn-arrow.png">
    </a>
  </div>
</div>
