<div class="portfolio-projects">
  <div class="project project-banner">
    <div class="project-image">
      <img class="project-image-lvcloud" src="/assets/images/LVCloud.png" alt="lvcloud">
    </div>
    <div class="project-text">
      <h2>
        <b>LVCloud</b>
      </h2>
      <p>
        LVCloud is an Internet of Things application that monitors and takes care of the grid. Check out how we combined new technologies, like machine learning, into a sophisticated app that solves problems with electric network before anyone knew they existed.
      </p>
      <a class="btn btn-secondary banner-link" href="/project/lvcloud">See more</a>
    </div>
  </div>
  <a href="/project/artinfo" class="project project-snipsl">
    <div class="project-image">
      <img src="/assets/images/artinfo-laptop.png" alt="Artinfo">
    </div>
    <div class="project-text">
      Artinfo
      <img src="/assets/images/btn-arrow.png" alt="arrow">
    </div>
  </a>
  <a href="/project/thecollectivity" class="project project-collectivity">
    <div class="project-image">
      <img src="/assets/images/collectivity.png" alt="collectivity">
    </div>
    <div class="project-text">
      The Collectivity
      <img src="/assets/images/btn-arrow.png" alt="arrow">
    </div>
  </a>
  <a href="/project/snipsl" class="project project-zapnito">
    <div class="project-image">
      <img src="/assets/images/snipsl.png" alt="snipsl">
    </div>
    <div class="project-text">
      Snipsl
      <img src="/assets/images/btn-arrow.png" alt="arrow">
    </div>
  </a>
</div>
