<div class="portfolio-gallery">
  <a href="https://www.carrollschool.org/" target="_blank" class="project">
    <div class="project-image">
      <img src="/assets/images/carrollschool.png">
    </div>
    <div class="project-text">
      Carroll School
      <img src="/assets/images/btn-arrow.png">
    </div>
  </a>
  <a href="http://www.apptegy.com/" target="_blank" class="project lower">
    <div class="project-image">
      <img src="/assets/images/apptegy2.png">
    </div>
    <div class="project-text">
      Apptegy
      <img src="/assets/images/btn-arrow.png">
    </div>
  </a>
  <a href="https://www.shuttlefare.com/" target="_blank" class="project">
    <div class="project-image">
      <img src="/assets/images/shuttlefare2.png">
    </div>
    <div class="project-text">
      Shuttlefare
      <img src="/assets/images/btn-arrow.png">
    </div>
  </a>
</div>
