<div class="projects">
  <div class="main-point">
    Recent projects
  </div>
  <div class="project project-main">
    <div class="project-image">
      <img src="/assets/images/LVCloud.png">
    </div>
    <div class="project-text">
      <a href="/project/lvcloud">
        LVCloud
        <img src="/assets/images/btn-arrow.png">
      </a>
      <span class="project-subtext">Ruby on Rails, Vue.js, MQTT</span>
    </div>
  </div>
  <div class="project project-second">
    <div class="project-image">
      <img class="project-image-second" src="/assets/images/zapnito.png">
    </div>
    <div class="project-text">
      <a href="/project/zapnito">
        Zapnito
        <img src="/assets/images/btn-arrow.png">
      </a>
    </div>
  </div>
  <div class="project project-third">
    <div class="project-image">
      <img class="project-image-third" src="/assets/images/collectivity.png">
    </div>
    <div class="project-text">
      <a href="/project/thecollectivity">
        Collectivity
        <img src="/assets/images/btn-arrow.png">
      </a>
    </div>
  </div>
  <div class="project-button">
    <a class="btn btn-secondary" href="/portfolio">See more</a>
  </div>
</div>
