<div class="portfolio-slide">
  <div class="slide-left">
    <a href="{{page.slide-left-link}}">
      <img class="slide-arrow" src="/assets/images/arrow-orange2.png">
      <img class="project-logo" src="{{page.slide-left-logo}}">
      {{page.slide-left}}
    </a>
  </div>
  <div class="slide-right">
    <a href="{{page.slide-right-link}}">
      {{page.slide-right}}
      <img class="project-logo" src="{{page.slide-right-logo}}">
      <img class="slide-arrow" src="/assets/images/arrow-orange.png">
    </a>
  </div>
</div>
