<div class="projects">
  <div class="main-point">
    Recent projects
  </div>
  <a href="/project/lvcloud" class="project project-main">
    <div class="project-image">
      <img src="/assets/images/loader.gif" data-src="/assets/images/LVCloud.png" alt="LVCloud">
    </div>
    <div class="project-text">
      <span>
        LVCloud
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </span>
      <span class="project-subtext">Ruby on Rails, Vue.js, MQTT</span>
    </div>
  </a>
  <a href="/project/zapnito" class="project project-second">
    <div class="project-image">
      <img class="project-image-second" src="/assets/images/loader.gif" data-src="/assets/images/zapnito.png" alt="zapnito">
    </div>
    <div class="project-text">
      <span>
        Zapnito
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </span>
    </div>
  </a>
  <a href="/project/thecollectivity" class="project project-third">
    <div class="project-image">
      <img class="project-image-third" src="/assets/images/loader.gif" data-src="/assets/images/collectivity.png" alt="collectivity">
    </div>
    <div class="project-text">
      <span>
        Collectivity
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </span>
    </div>
  </a>
  <div class="project-button">
    <a class="btn btn-secondary" href="/portfolio">See more</a>
  </div>
</div>
