<div class="portfolio-slide">
  <div class="slide-left">
    <a href="{{page.slide-left-link}}">
      <img class="slide-arrow" src="/assets/images/arrow-orange2.png" alt="arrow">
      <span>{{page.slide-left}}</span>
      <img class="project-logo" src="{{page.slide-left-logo}}" alt="project logo">
    </a>
  </div>
  <div class="slide-right">
    <a href="{{page.slide-right-link}}">
      <span>{{page.slide-right}}</span>
      <img class="slide-arrow" src="/assets/images/arrow-orange.png" alt="arrow">
      <img class="project-logo" src="{{page.slide-right-logo}}" alt="project logo">
    </a>
  </div>
</div>
