<div class="portfolio-comment">
<span class="main-point">Client's opinion </span>

<div class="project-comment">
  <div class="comment">
    <div class="comment-info">
      <img class="comment-img" src="{{ page.comment-photo }}">
      <div class="comment-name">
        {{ page.comment-name }}
      </div>
      <div class="comment-job text-accent-gold">
        {{ page.comment-brand }}
      </div>
    </div>
    <div class="comment-opinion">
      <img class="comment-company" src="{{ page.comment-logo }}" alt="">
      <p>
        {{ page.comment-text }}
      </p>
    </div>
    <div class="clear"></div>
  </div>
</div>
</div>
