<div class="deal-step">
  <div class="step step-left">
    <span class="main-point">The need</span>
    <h2>{{ page.step-one-title }}</h2>
    <p>{{ page.step-one-text }}</p>
    <img class="image-right" src="{{ page.step-one-image }}" alt="First project image">
  </div>
</div>

<div class="deal-step">
  <div class="step step-right">
    <span class="main-point">The solution</span>
    <h2>{{ page.step-two-title }}</h2>
    <p>{{ page.step-two-text }}</p>
    <img class="image-left" src="{{ page.step-two-image }}" alt="Second project image">
  </div>
</div>

<div class="deal-step">
  <div class="step step-left">
    <span class="main-point">The tools</span>
    <h2>{{ page.step-three-title }}</h2>
    <p>{{ page.step-three-text }}</p>
    <div class="stack">
      {% if page.src-stack-1 %}
        <img src="{{ page.src-stack-1 }}" alt="{{ page.alt-stack-1 }}" alt="project stack">
      {% endif %}
      {% if page.src-stack-2 %}
        <img src="{{ page.src-stack-2 }}" alt="{{ page.alt-stack-2 }}" alt="project stack">
      {% endif %}
      {% if page.src-stack-3 %}
        <img src="{{ page.src-stack-3 }}" alt="{{ page.alt-stack-3 }}" alt="project stack">
      {% endif %}
    </div>
    <img class="image-right" src="{{ page.step-three-image }}" alt="Third project image">
  </div>
</div>

<div class="deal-step">
  <div class="step step-last">
    <span class="main-point">The results</span>
    <h2>{{ page.step-four-title }}</h2>
    <p>{{ page.step-four-text }}</p>
    <div class="step-image">
      <img class="step-image-1" src="{{ page.step-four-image-one }}" alt="Fourth project image">
      <img class="step-image-2" src="{{ page.step-four-image-two }}" alt="Fifth project image">
      <img class="step-image-3" src="{{ page.step-four-image-three }}" alt="Sixth project image">
    </div>
  </div>
</div>
