<div class="resaults-wrapper">
  <div class="resaults">
    <div class="main-point">
      Szybkie rezultaty
    </div>
    <div class="resaults-title">
      Płyniemy z nurtem…
    </div>
    <div class="resaults-assets">
      <div class="asset asset-listen">
        <div class="asset-number bg-blue">
          1
        </div>
        <img src="/assets/images/icon-listen.png" alt="">
        <div class="asset-title text-blue">
          Słuchamy
        </div>
        <div class="asset-text">
          zrozumienie kontekstu, poznanie celu projektu, analiza, wycena
        </div>
      </div>
      <div class="asset asset-act">
        <div class="asset-number bg-purple">
          2
        </div>
        <img src="/assets/images/icon-code.png" alt="">
        <div class="asset-title text-purple">
          Działamy
        </div>
        <div class="asset-text">
          kodujemy, testujemy, optymalizujemy, weryfikujemy
        </div>
      </div>
      <div class="asset asset-care">
        <div class="asset-number bg-green">
          3
        </div>
        <img src="/assets/images/icon-trust.png" alt="">
        <div class="asset-title text-green">
          Wypuszczamy i&nbsp;opiekujemy się
        </div>
      </div>
    </div>
    <div class="resaults-circle">
      <div class="resaults-circle__content">
        <span>
          Chcesz poznać przykładowe
          stawki oraz scenariusze
          współpracy?
        </span>
        <button type="button" class="btn btn-secondary">poznaj ofertę</button>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <img src="/assets/images/resaults-wave.png" alt="" class="resaults-wave">
</div>
