<div class="resources">
  <div class="main-point">
    Services
  </div>
  <h2 class="resources-title">
    Whenever you want to build something extraordinary
  </h2>
  <p class="resources-text">
    We are ready to help. No matter if you plan to build a digital product from scratch or need to scale your team. Whenever you want and always when you want, we are at your service.
  </p>
  <div class="web-tile resources-tile" data-reveal-resources=''>
    <span class="icon-navigation-toolbar-top text-secondary"></span>
    <span class="tile-text text-secondary">Web Development</span>
  </div>
  <div class="mobile-tile resources-tile" data-reveal-resources=''>
    <span class="icon-networking-manager text-accent-green"></span>
    <span class="tile-text text-accent-green">Internet of Things</span>
  </div>
  <div class="ux-tile resources-tile" data-reveal-resources=''>
    <span class="icon-pen text-accent-purple"></span>
    <span class="tile-text text-accent-purple">UX / UI Design</span>
  </div>
</div>
