<div class="resources">
  <div class="main-point">
    Twoje zasoby IT
  </div>
  <div class="resources-title">
    Dostępne zawsze gdy tego potrzebujesz
  </div>
  <div class="resources-text">
    Bez względu na to czy potrzebujesz partnera do kompleksowej realizacji swojego pomysłu, czy też stałego lub chwilowego wsparcia zespołu developerskiego i projektowego, jesteśmy do Twojej dyspozycji, właśnie wtedy i zawsze wtedy gdy nas potrzebujesz.
  </div>
  <div class="web-tile resources-tile">
    <img src="/assets/images/icon-ruby.png" alt="">
    <div class="tile-text">Web Developent</div>
  </div>
  <div class="mobile-tile resources-tile">
    <img src="/assets/images/icon-mobile.png" alt="">
    <div class="tile-text">Mobile Developent</div>
  </div>
  <div class="ux-tile resources-tile">
    <img src="/assets/images/icon-multi.png" alt="">
    <div class="tile-text">UX / UI Design</div>
  </div>
  <div class="resources-btn">
    <button type="button" class="btn btn-secondary">poznaj naszą ofertę</button>
  </div>
</div>
