<div class="technology">
  <div class="main-point">
    Technologies
  </div>
  <div class="technology-items">
    <div class="item left" data-reveal-technology=''>
      <img src="/assets/images/rails-logo.png" alt="">
      Ruby on Rails
    </div>
    <div class="item right tech-carousel">
      <div class="technology-carousel" id="technologycarousel">
        <div class="item" data-reveal-technology=''>
          <img class="react" src="/assets/images/react-logo.png" alt="">
          React
        </div>
        <div class="item" data-reveal-technology=''>
          <img class="vue" src="/assets/images/vue-logo.png" alt="">
          Vue
        </div>
        <div class="item" data-reveal-technology=''>
          <img src="/assets/images/ember-logo.png" alt="">
          Ember
        </div>
      </div>
    </div>
    <div class="item left" data-reveal-technology=''>
      <img src="/assets/images/android-logo.png" alt="" style="margin-left: 10px;">
      Android
    </div>
    <div class="item right ios" data-reveal-technology=''>
      <img src="/assets/images/ios-logo.png" alt="">
      iOS
    </div>
  </div>
  <div class="technology-texts">
    <h2 class="technology-title">
      We develop web<br> and mobile applications
    </h2>
    <div class="technology-text">
      <p>
        Using modern languages, frameworks and solid development process. And help of transparent communication.
      </p>
      <p>
        We develop products you will conquer the world with, with your ideas and your clients’ needs in mind. And utilizing solutions used to solve world’s biggest software challanges.
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">
  {% include technology-carousel.js %}
</script>
