<div class="tech-page-carousel">
  <div class="main-carousel" id="techCarousel">
    {% for project in page.projects %}
      <div class="carousel-item" style="background-image: url({{project.project.bg-image}})">
        <div class="tech-page-carousel-text">
          <p class="header-h2">
            <b>{{project.project.title}}</b>
          </p>
          <p>
            {{project.project.desc}}
          </p>
          <a class="btn btn-secondary banner-link" href="{{project.project.link}}">See more</a>
        </div>
        <img class="project-image-lvcloud" src="{{project.project.bg}}" alt="project background">
      </div>
    {% endfor %}
  </div>

  <script type="text/javascript">
    {% include tech-page-carousel.js %}
  </script>
</div>
