<div class="technology">
  <div class="main-point">
    Technologie
  </div>
  <div class="technology-items">
    <div class="item left">
      <img src="/assets/images/rails-logo.png" alt="">
      Ruby on Rails
    </div>
    <div class="item right">
      <img src="/assets/images/ember-logo.png" alt="">
      Ember
    </div>
    <div class="item left">
      <img src="/assets/images/android-logo.png" alt="" style="margin-left: 10px;">
      Android
    </div>
    <div class="item right ios">
      <img src="/assets/images/ios-logo.png" alt="">
      iOS
    </div>
  </div>
  <div class="technology-texts">
    <h2 class="technology-title">
      Tworzymy nowoczesne aplikacje webowe i mobilne
    </h2>
    <div class="technology-text">
      <p>
        w oparciu o godne zaufania, stabilne technologie
        i&nbsp;frameworki oraz o transparentną komunikację
        i&nbsp;skuteczny proces realizacji.
      </p>
      <p>
        Powierzane nam produkty szyjemy na miarę Twoich idei i potrzeb Twoich klientów, korzystając
        z rozwiązań, po które sięgają najlepsi programiści
        i architekci software’u na całym świecie
      </p>
    </div>
  </div>
</div>
