<div class="tools">
  <div class="main-point">
    Tools we love
  </div>
  <img class="invision" data-reveal-tools='' src="/assets/images/invision.png" alt="invision">
  <img class="gitlab" data-reveal-tools='' src="/assets/images/gitlab.png" alt="gitlab">
  <img data-reveal-tools='' src="/assets/images/jenkins.png" alt="jenkins">
  <img class="slack" data-reveal-tools='' src="/assets/images/slack.png" alt="slack">
  <img class="docker" data-reveal-tools='' src="/assets/images/docker.png" alt="docker">
  <img class="breeze" data-reveal-tools='' src="/assets/images/breeze.png" alt="breeze">
</div>
