<div class="tools">
  <div class="main-point">
    Tools we love
  </div>
  <img class="invision" data-reveal-tools='' src="/assets/images/invision.png">
  <img class="gitlab" data-reveal-tools='' src="/assets/images/gitlab.png">
  <img data-reveal-tools='' src="/assets/images/jenkins.png">
  <img class="slack" data-reveal-tools='' src="/assets/images/slack.png">
  <img class="docker" data-reveal-tools='' src="/assets/images/docker.png">
  <img class="breeze" data-reveal-tools='' src="/assets/images/breeze.png">
</div>
