<div class="topbar">
  <div class="topbar-content">
    <span>
      The Semplice Club shows the best websites and portfolios built completely with Semplice
    </span>
    <img src="/assets/images/btn-arrow.png">
  </div>
  <div class="topbar-social">
    <span>EN</span>
    <a href="#">
      <img src="/assets/images/footer-face.png">
    </a>
    <a href="#">
      <img src="/assets/images/footer-twitt.png">
    </a>
    <a href="#">
      <img src="/assets/images/footer-goog.png">
    </a>
  </div>
</div>
