<div class="topbar-container">
  <div class="topbar">
    <div class="topbar-content">
      <a href="{{site.posts.first.url}}">
        {{site.posts.first.title}}
        <img src="/assets/images/arrow-orange.png">
      </a>
    </div>
    <div class="topbar-social">
      <a href="https://www.facebook.com/Naturaily/" target="_blank">
        <img src="/assets/images/facebook-logo.png">
      </a>
      <a href="https://twitter.com/naturailycom" target="_blank">
        <img src="/assets/images/twitter-logo.png">
      </a>
      <a href="https://www.linkedin.com/company/naturaily" target="_blank">
        <img src="/assets/images/linkedin.png">
      </a>
      <a href="https://github.com/naturaily" target="_blank">
        <img class="topbar-github" src="/assets/images/github.png">
      </a>
      <a href="https://plus.google.com/111823553806501023330" target="_blank">
        <img src="/assets/images/google.png">
      </a>
    </div>
    <div class="topbar-line">
      <hr class="topbar-hr">
    </div>
  </div>
</div>
