<div class="topbar">
  <div class="topbar-content">
    <span>
      The Semplice Club shows the best websites and portfolios built completely with Semplice
    </span>
    <img src="/assets/images/btn-arrow.png">
  </div>
  <div class="topbar-social">
    <a href="https://www.facebook.com/Naturaily/" target="_blank">
      <img src="/assets/images/face.svg">
    </a>
    <a href="https://twitter.com/naturailycom" target="_blank">
      <img src="/assets/images/twitt.svg">
    </a>
    <a href="https://www.linkedin.com/company/naturaily" target="_blank">
      <img src="/assets/images/in.svg">
    </a>
    <a href="https://github.com/naturaily" target="_blank">
      <img src="/assets/images/hub.svg">
    </a>
    <a href="https://plus.google.com/111823553806501023330" target="_blank">
      <img src="/assets/images/goog.svg">
    </a>
  </div>
</div>
