<div class="values">
  <div class="main-point">
    Wartości
  </div>
  <div class="values-title">
    To co ważne dla Ciebie, jest ważne dla nas!
  </div>
  <div class="values-nav">
    <ul class="values-nav-list scrollTo-list">
      <li data-target="#quality">Jakość <span>01</span></li>
      <li data-target="#transparency">Transparentność <span>02</span></li>
      <li data-target="#fair-play">Fair Play <span>03</span></li>
      <li data-target="#comunication">Komunikacja <span>04</span></li>
    </ul>
  </div>
  <div class="values-texts scrollTo-container">
    <div class="value-text" id="quality">
      <div class="text-number">
        01
      </div>
      <div class="text-title">
        Jakość
      </div>
      <div class="text-content">
        Jakość stanowi dla nas wartość nadrzędną i determinuje proces realizacji powierzanych nam projektów. Robimy wszystko, by produkowane przez nas rozwiązania: od warstwy funkcjonalnej aplikacji przez pisany kod, po architekturą zapewniały bezpieczeństwo i stabilność Twojemu biznesowi. W tym celu, w ramach realizacji powierzonych prac wykonujemy zawsze szereg testów i wdrażamy procesy zapewniające wysoką jakości wdrożeń, w tym: testy strukturalne i automatyczne, Software Quality Assurance, recenzowanie kodu: wzajemna weryfikacja kodu przez developerów, mentoring Lead Developera, zarządzanie projektem i opieka nad procesem realizacji.
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="value-text" id="transparency">
      <div class="text-number">
        02
      </div>
      <div class="text-title">
        Transparentność
      </div>
      <div class="text-content">
        Jakość stanowi dla nas wartość nadrzędną i determinuje proces realizacji powierzanych nam projektów. Robimy wszystko, by produkowane przez nas rozwiązania: od warstwy funkcjonalnej aplikacji przez pisany kod, po architekturą zapewniały bezpieczeństwo i stabilność Twojemu biznesowi. W tym celu, w ramach realizacji powierzonych prac wykonujemy zawsze szereg testów i wdrażamy procesy zapewniające wysoką jakości wdrożeń, w tym: testy strukturalne i automatyczne, Software Quality Assurance, recenzowanie kodu: wzajemna weryfikacja kodu przez developerów, mentoring Lead Developera, zarządzanie projektem i opieka nad procesem realizacji.
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="value-text" id="fair-play">
      <div class="text-number">
        03
      </div>
      <div class="text-title">
        Fair-play
      </div>
      <div class="text-content">
        Jakość stanowi dla nas wartość nadrzędną i determinuje proces realizacji powierzanych nam projektów. Robimy wszystko, by produkowane przez nas rozwiązania: od warstwy funkcjonalnej aplikacji przez pisany kod, po architekturą zapewniały bezpieczeństwo i stabilność Twojemu biznesowi. W tym celu, w ramach realizacji powierzonych prac wykonujemy zawsze szereg testów i wdrażamy procesy zapewniające wysoką jakości wdrożeń, w tym: testy strukturalne i automatyczne, Software Quality Assurance, recenzowanie kodu: wzajemna weryfikacja kodu przez developerów, mentoring Lead Developera, zarządzanie projektem i opieka nad procesem realizacji.
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="value-text" id="comunication">
      <div class="text-number">
        04
      </div>
      <div class="text-title">
        Komunikacja
      </div>
      <div class="text-content">
        Jakość stanowi dla nas wartość nadrzędną i determinuje proces realizacji powierzanych nam projektów. Robimy wszystko, by produkowane przez nas rozwiązania: od warstwy funkcjonalnej aplikacji przez pisany kod, po architekturą zapewniały bezpieczeństwo i stabilność Twojemu biznesowi. W tym celu, w ramach realizacji powierzonych prac wykonujemy zawsze szereg testów i wdrażamy procesy zapewniające wysoką jakości wdrożeń, w tym: testy strukturalne i automatyczne, Software Quality Assurance, recenzowanie kodu: wzajemna weryfikacja kodu przez developerów, mentoring Lead Developera, zarządzanie projektem i opieka nad procesem realizacji.
      </div>
      <div class="clear"></div>
    </div>
    <!-- <div class="value-cover"></div> -->
  </div>
</div>

<script type="text/javascript">
{% include scroll-to.js %}
</script>
