<div class="values">
  <div class="main-point">
    Values
  </div>
  <h2 class="values-title">
    What is important to you, is important to us!
  </h2>
  <div class="values-nav">
    <ul class="values-nav-list scrollTo-list">
      <li class="active" data-target="#quality">Quality <span>01</span></li>
      <li data-target="#transparency">Transparency <span>02</span></li>
      <li data-target="#fair-play">Fair Play <span>03</span></li>
      <li data-target="#comunication">Communication <span>04</span></li>
    </ul>
  </div>
  <div class="values-texts-wrapper">
    <div class="values-texts scrollTo-container">
    <div class="value-text" id="quality">
      <div class="text-number">
        01
      </div>
      <div class="text-title">
        Quality
      </div>
      <p class="text-content">
        <span>We care a lot about quality and make in-house processes quality-driven. We do our best to ensure the highest possible quality across all layers of digital products we build: user experience, user interface design, software architecture and code. But we don’t care about quality just for the sake of it. We care with product and its users in mind.</span> Some of the things we do to keep the quality high: unit tests, automatic tests, manual QA, peer code reviews, lead developer’s mentoring. And a lot more.
      </p>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="value-text" id="transparency">
      <div class="text-number">
        02
      </div>
      <div class="text-title">
        Transparency
      </div>
      <p class="text-content">
        <span>Most of digital products we develop are for clients from abroad. We work remotely. This puts transparency very high on the list of our values. With the right approach and set of tools we enable each client to monitor how the design and development are progressing. We usually start the whole process with a design sprint, discussing product ideas openly. During application development client can check the current status of the app by visiting staging environment. Detailed timesheets and code repositories are made available as well.</span> You receive all necessary information on your product and project progress, so relax and think about rolling the product out to the market.
      </p>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="value-text" id="fair-play">
      <div class="text-number">
        03
      </div>
      <div class="text-title">
        Fair-play
      </div>
      <p class="text-content">
        <span>We know how to make the cooperation between client and external development company stressless. We play fair and believe in power of mutual respect. We are open for discussions. We hear you. Being agile driven software company surely helps. After years spent on building various web and mobile applications we have learned that successful digital products are more important than initially made assumptions. We are agile - ready for the things that are unexpected, but certain. We expect you to trust us and believe in team’s competences. We guarantee great ROI on that trust and believe.</span>
      </p>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="value-text value-text-last" id="comunication">
      <div class="text-number">
        04
      </div>
      <div class="text-title">
        Communication
      </div>
      <p class="text-content">
        <span>Many words are better than few words. Being a remote application development company, that is what we believe in. Beginning the project, we spend a lot of time analyzing ideas, assumptions and the market. We try to understand the end user thoroughly, often undermining her own declarations. Years of experience in building web and mobile applications for clients big and small tought us that constant open communication is key to fruitful cooperation and digital products winning users hearts.</span> You can contact us anytime on Slack channel dedicated for you project. We use Slack with add-ons heavily, you can expect daily standups there as well. Being in contact is crucial for your project’s success.
      </p>
      <div class="clear"></div>
    </div>
  </div>
  <div class="value-cover"></div>

  </div>
</div>

<script type="text/javascript">
{% include scroll-to.js %}
</script>
