<h2 class="resources-title vue-title">Influencers</h2>
<div class="influencers">
  <div class="influencer">
    <img src="/assets/images/influencer-1.png" alt="Influencer 1">
    <span>Evan You</span>
    <div class="influencer-social">
      <a href="https://twitter.com/youyuxi" target="_blank" rel="nofollow">
        <img class="influencer-icon" src="/assets/images/twitter.png" alt="Twitter">
      </a>
      <a href="https://github.com/yyx990803" target="_blank" rel="nofollow">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png" alt="Github">
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-2.png" alt="Influencer 2">
    <span>Chris Fritz</span>
    <div class="influencer-social">
      <a href="https://twitter.com/chrisvfritz" target="_blank" rel="nofollow">
        <img class="influencer-icon" src="/assets/images/twitter.png" alt="Twitter">
      </a>
      <a href="https://github.com/chrisvfritz" target="_blank" rel="nofollow">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png" alt="Github">
      </a>
    </div>
  </div>
  <div class="influencer">
    <img src="/assets/images/influencer-3.png" alt="Influencer 3">
    <span>Pine Wu</span>
    <div class="influencer-social">
      <a href="https://twitter.com/octref" target="_blank" rel="nofollow">
        <img class="influencer-icon" src="/assets/images/twitter.png" alt="TwitterTwitter">
      </a>
      <a href="https://github.com/octref" target="_blank" rel="nofollow">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png" alt="Github">
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-4.png" alt="Influencer 4">
    <span>Filipa Lacarda</span>
    <div class="influencer-social">
      <a href="https://twitter.com/filipalacerda" target="_blank" rel="nofollow">
        <img class="influencer-icon" src="/assets/images/twitter.png" alt="Twitter">
      </a>
      <a href="https://gitlab.com/filipa" target="_blank" rel="nofollow">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png" alt="Github">
      </a>
    </div>
  </div>
  <div class="influencer">
    <img src="/assets/images/influencer-5.png" alt="Influencer 5">
    <span>Guillaume Chau</span>
    <div class="influencer-social">
      <a href="https://twitter.com/akryum" target="_blank" rel="nofollow">
        <img class="influencer-icon" src="/assets/images/twitter.png" alt="Twitter">
      </a>
      <a href="https://github.com/akryum" target="_blank" rel="nofollow">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png" alt="Github">
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-6.png" alt="Influencer 6">
    <span>Sarah Drasner</span>
    <div class="influencer-social">
      <a href="https://twitter.com/sarah_edo" target="_blank" rel="nofollow">
        <img class="influencer-icon" src="/assets/images/twitter.png" alt="Twitter">
      </a>
      <a href="https://github.com/sdras" target="_blank" rel="nofollow">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png" alt="Github">
      </a>
    </div>
  </div>
  <div class="influencer">
    <img src="/assets/images/influencer-7.png" alt="Influencer 7">
    <span>Blake Newman</span>
    <div class="influencer-social">
      <a href="https://twitter.com/blakenewman" target="_blank" rel="nofollow">
        <img class="influencer-icon" src="/assets/images/twitter.png" alt="Twitter">
      </a>
      <a href="https://github.com/blake-newman" target="_blank" rel="nofollow">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png" alt="Github">
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-8.png" alt="Influencer 8">
    <span>Guillaume Chau</span>
    <div class="influencer-social">
      <a href="https://github.com/akryum" target="_blank" rel="nofollow">
        <img class="influencer-icon" src="/assets/images/twitter.png" alt="Twitter">
      </a>
      <a href="https://twitter.com/akryum" target="_blank" rel="nofollow">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png" alt="Github">
      </a>
    </div>
  </div>
  <div class="influencer">
    <img src="/assets/images/influencer-9.png" alt="Influencer 9">
    <span>Roman Kuba</span>
    <div class="influencer-social">
      <a href="https://twitter.com/Codebryo" target="_blank" rel="nofollow">
        <img class="influencer-icon" src="/assets/images/twitter.png" alt="Twitter">
      </a>
      <a href="https://github.com/codebryo" target="_blank" rel="nofollow">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png" alt="Github">
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-10.png" alt="Influencer 10">
    <span>Eduardo San Martin Morote</span>
    <div class="influencer-social">
      <a href="https://twitter.com/posva" target="_blank" rel="nofollow">
        <img class="influencer-icon" src="/assets/images/twitter.png" alt="Twitter">
      </a>
      <a href="https://github.com/posva" target="_blank" rel="nofollow">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png" alt="Github">
      </a>
    </div>
  </div>
</div>
