<span class="main-point opensource-point">Influencers</span>
<div class="influencers">
  <div class="influencer">
    <img src="/assets/images/influencer-1.png">
    <span>Evan You</span>
    <img class="influencer-icon" src="/assets/images/twitter.png">
    <img class="influencer-icon" src="/assets/images/github.png">
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-2.png">
    <span>Chris Fritz</span>
    <img class="influencer-icon" src="/assets/images/twitter.png">
    <img class="influencer-icon" src="/assets/images/github.png">
  </div>
  <div class="influencer">
    <img src="/assets/images/influencer-3.png">
    <span>Pine Wu</span>
    <img class="influencer-icon" src="/assets/images/twitter.png">
    <img class="influencer-icon" src="/assets/images/github.png">
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-4.png">
    <span>Filipa Lacarda</span>
    <img class="influencer-icon" src="/assets/images/twitter.png">
    <img class="influencer-icon" src="/assets/images/github.png">
  </div>
  <div class="influencer">
    <img src="/assets/images/influencer-5.png">
    <span>Guillaume Chau</span>
    <img class="influencer-icon" src="/assets/images/twitter.png">
    <img class="influencer-icon" src="/assets/images/github.png">
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-6.png">
    <span>Sarah Drasner</span>
    <img class="influencer-icon" src="/assets/images/twitter.png">
    <img class="influencer-icon" src="/assets/images/github.png">
  </div>
  <div class="influencer">
    <img src="/assets/images/influencer-7.png">
    <span>Blake Newman</span>
    <img class="influencer-icon" src="/assets/images/twitter.png">
    <img class="influencer-icon" src="/assets/images/github.png">
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-8.png">
    <span>Guillaume Chau</span>
    <img class="influencer-icon" src="/assets/images/twitter.png">
    <img class="influencer-icon" src="/assets/images/github.png">
  </div>
  <div class="influencer">
    <img src="/assets/images/influencer-9.png">
    <span>Roman Kuba</span>
    <img class="influencer-icon" src="/assets/images/twitter.png">
    <img class="influencer-icon" src="/assets/images/github.png">
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-10.png">
    <span>Eduardo San Martin Morote</span>
    <img class="influencer-icon" src="/assets/images/twitter.png">
    <img class="influencer-icon" src="/assets/images/github.png">
  </div>
</div>
