<h2 class="resources-title vue-title">Tutorials</h2>
<div class="l-sites">
  <a class="site-link" href="https://laracasts.com/series/learn-vue-2-step-by-step" target="_blank">
    <div class="site-card">
      <img class="site-logo" src="/assets/images/larac-logo.png">
      <div class="site-text">
        <span>
          Learn Vue 2:<br> Step By Step
        </span>
        <img class="site-arrow" src="/assets/images/arrow-orange.png">
      </div>
    </div>
  </a>
  <a class="site-link" href="https://www.youtube.com/playlist?list=PLwAKR305CRO_1yAao-8aZiQnBqJeyng4O" target="_blank">
    <div class="site-card">
      <img class="site-logo" src="/assets/images/youtube-logo.png">
      <div class="site-text">
        <span>
          Vue.js Fundamentals
        </span>
        <img class="site-arrow" src="/assets/images/arrow-orange.png">
      </div>
    </div>
  </a>
  <a class="site-link" href="https://www.sitepoint.com/up-and-running-vue-js-2-0/" target="_blank">
    <div class="site-card">
      <img class="site-logo" src="/assets/images/sitepoint-logo.png">
      <div class="site-text">
        <span>
          Getting up and Running with the Vue.js 2.0 Framework
        </span>
        <img class="site-arrow" src="/assets/images/arrow-orange.png">
      </div>
    </div>
  </a>
  <a class="site-link" href="https://egghead.io/courses/develop-web-apps-with-vue-js" target="_blank">
    <div class="site-card">
      <img class="site-logo" src="/assets/images/egghead-logo.png">
      <div class="site-text">
        <span>
          Develop Basic Web Apps with Vue.js
        </span>
        <img class="site-arrow" src="/assets/images/arrow-orange.png">
      </div>
    </div>
  </a>
</div>
