<span class="main-point opensource-point">Tutorials</span>
<div class="l-sites">
  <div class="site-card">
    <img class="site-logo" src="/assets/images/larac-logo.png">
    <a href="#" target="_blank">
      <span>
        Learn Vue 2: Step By Step
      </span>
      <img class="site-arrow" src="/assets/images/arrow-orange.png">
    </a>
  </div>
  <div class="site-card">
    <img class="site-logo" src="/assets/images/youtube-logo.png">
    <a href="#" target="_blank">
      <span>
        Vue.js Fundamentals
      </span>
      <img class="site-arrow" src="/assets/images/arrow-orange.png">
    </a>
  </div>
  <div class="site-card">
    <img class="site-logo" src="/assets/images/sitepoint-logo.png">
    <a href="#" target="_blank">
      <span>
        Getting up and Running with the Vue.js 2.0 Framework
      </span>
      <img class="site-arrow" src="/assets/images/arrow-orange.png">
    </a>
  </div>
  <div class="site-card">
    <img class="site-logo" src="/assets/images/egghead-logo.png">
    <a href="#" target="_blank">
      <span>
        Develop Basic Web Apps with Vue.js
      </span>
      <img class="site-arrow" src="/assets/images/arrow-orange.png">
    </a>
  </div>
</div>
