<h2 class="resources-title vue-title">Influencers</h2>
<div class="influencers">
  <div class="influencer">
    <img src="/assets/images/influencer-1.png">
    <span>Evan You</span>
    <div class="influencer-social">
      <a href="https://twitter.com/youyuxi" target="_blank">
        <img class="influencer-icon" src="/assets/images/twitter.png">
      </a>
      <a href="https://github.com/yyx990803" target="_blank">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png">
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-2.png">
    <span>Chris Fritz</span>
    <div class="influencer-social">
      <a href="https://twitter.com/chrisvfritz" target="_blank">
        <img class="influencer-icon" src="/assets/images/twitter.png">
      </a>
      <a href="https://github.com/chrisvfritz" target="_blank">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png">
      </a>
    </div>
  </div>
  <div class="influencer">
    <img src="/assets/images/influencer-3.png">
    <span>Pine Wu</span>
    <div class="influencer-social">
      <a href="https://twitter.com/octref" target="_blank">
        <img class="influencer-icon" src="/assets/images/twitter.png">
      </a>
      <a href="https://github.com/octref" target="_blank">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png">
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-4.png">
    <span>Filipa Lacarda</span>
    <div class="influencer-social">
      <a href="https://twitter.com/filipalacerda" target="_blank">
        <img class="influencer-icon" src="/assets/images/twitter.png">
      </a>
      <a href="https://gitlab.com/filipa" target="_blank">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png">
      </a>
    </div>
  </div>
  <div class="influencer">
    <img src="/assets/images/influencer-5.png">
    <span>Guillaume Chau</span>
    <div class="influencer-social">
      <a href="https://twitter.com/akryum" target="_blank">
        <img class="influencer-icon" src="/assets/images/twitter.png">
      </a>
      <a href="https://github.com/akryum" target="_blank">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png">
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-6.png">
    <span>Sarah Drasner</span>
    <div class="influencer-social">
      <a href="https://twitter.com/sarah_edo" target="_blank">
        <img class="influencer-icon" src="/assets/images/twitter.png">
      </a>
      <a href="https://github.com/sdras" target="_blank">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png">
      </a>
    </div>
  </div>
  <div class="influencer">
    <img src="/assets/images/influencer-7.png">
    <span>Blake Newman</span>
    <div class="influencer-social">
      <a href="https://twitter.com/blakenewman" target="_blank">
        <img class="influencer-icon" src="/assets/images/twitter.png">
      </a>
      <a href="https://github.com/blake-newman" target="_blank">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png">
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-8.png">
    <span>Guillaume Chau</span>
    <div class="influencer-social">
      <a href="https://github.com/akryum" target="_blank">
        <img class="influencer-icon" src="/assets/images/twitter.png">
      </a>
      <a href="https://twitter.com/akryum" target="_blank">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png">
      </a>
    </div>
  </div>
  <div class="influencer">
    <img src="/assets/images/influencer-9.png">
    <span>Roman Kuba</span>
    <div class="influencer-social">
      <a href="https://twitter.com/Codebryo" target="_blank">
        <img class="influencer-icon" src="/assets/images/twitter.png">
      </a>
      <a href="https://github.com/codebryo" target="_blank">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png">
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="/assets/images/influencer-10.png">
    <span>Eduardo San Martin Morote</span>
    <div class="influencer-social">
      <a href="https://twitter.com/posva" target="_blank">
        <img class="influencer-icon" src="/assets/images/twitter.png">
      </a>
      <a href="https://github.com/posva" target="_blank">
        <img class="influencer-icon influencer-icon-github" src="/assets/images/github.png">
      </a>
    </div>
  </div>
</div>
