<span class="main-point opensource-point">Newsletters</span>
<div class="l-sites">
  <div class="site-card">
    <img class="site-logo" src="/assets/images/vue-newsletter-logo.png">
    <a href="http://vue-newsletter.com/" target="_blank">
      <span>
        Vue.js Newsletter
      </span>
      <img class="site-arrow" src="/assets/images/arrow-orange.png">
    </a>
  </div>
  <div class="site-card">
    <img class="site-logo" src="/assets/images/vue-dev-logo.png">
    <a href="https://vuejsdevelopers.com/newsletter/" target="_blank">
      <span>
        Vue.js Developers Newsletter
      </span>
      <img class="site-arrow" src="/assets/images/arrow-orange.png">
    </a>
  </div>
</div>
