<h2 class="resources-title vue-title">Newsletters</h2>
<div class="l-sites">
  <a class="site-link" href="http://vue-newsletter.com/" target="_blank">
    <div class="site-card">
      <img class="site-logo" src="/assets/images/vue-newsletter-logo.png">
      <div class="site-text">
        <span>
          Vue.js Newsletter
        </span>
        <img class="site-arrow" src="/assets/images/arrow-orange.png">
      </div>
    </div>
  </a>
  <a class="site-link" href="https://vuejsdevelopers.com/newsletter/" target="_blank">
    <div class="site-card">
      <img class="site-logo" src="/assets/images/vue-dev-logo.png">
      <div class="site-text">
        <span>
          Vue.js Developers Newsletter
        </span>
        <img class="site-arrow" src="/assets/images/arrow-orange.png">
      </div>
    </div>
  </a>
</div>
