<span class="main-point opensource-point">Vue Community</span>
<div class="l-sites">
  <div class="site-card">
    <img class="site-logo" src="/assets/images/vue-logo.png">
    <a href="https://vuejs.org/" target="_blank">
      <span>
        Vue Official Site
      </span>
      <img class="site-arrow" src="/assets/images/arrow-orange.png">
    </a>
  </div>
  <div class="site-card">
    <img class="site-logo" src="/assets/images/github-logo.png">
    <a href="https://github.com/vuejs/vue" target="_blank">
      <span>
        Vue GitHub
      </span>
      <img class="site-arrow" src="/assets/images/arrow-orange.png">
    </a>
  </div>
  <div class="site-card">
    <img class="site-logo" src="/assets/images/vue-discussion-logo.png">
    <a href="https://forum.vuejs.org/" target="_blank">
      <span>
        Vue Discussion Forum
      </span>
      <img class="site-arrow" src="/assets/images/arrow-orange.png">
    </a>
  </div>
  <div class="site-card">
    <img class="site-logo" src="/assets/images/twitter-logo.png">
    <a href="https://twitter.com/vuejs" target="_blank">
      <span>
        Twitter
      </span>
      <img class="site-arrow" src="/assets/images/arrow-orange.png">
    </a>
  </div>
  <div class="site-card">
    <img class="site-logo" src="/assets/images/vue-feed-logo.png">
    <a href="https://vuejsfeed.com/" target="_blank">
      <span>
        Vue.js Feed
      </span>
      <img class="site-arrow" src="/assets/images/arrow-orange.png">
    </a>
  </div>
</div>
