<h2 class="resources-title vue-title">Vue Community</h2>
<div class="l-sites">
  <a class="site-link" href="https://vuejs.org/" target="_blank">
    <div class="site-card">
      <img class="site-logo" src="/assets/images/vue-logo.png">
      <div class="site-text">
        <span>
          Vue Official Site
        </span>
        <img class="site-arrow" src="/assets/images/arrow-orange.png">
      </div>
    </div>
  </a>
  <a class="site-link" href="https://github.com/vuejs/vue" target="_blank">
    <div class="site-card">
      <img class="site-logo" src="/assets/images/github-logo.png">
      <div class="site-text">
        <span>
          Vue GitHub
        </span>
        <img class="site-arrow" src="/assets/images/arrow-orange.png">
      </div>
    </div>
  </a>
  <a class="site-link" href="https://forum.vuejs.org/" target="_blank">
    <div class="site-card">
      <img class="site-logo" src="/assets/images/vue-discussion-logo.png">
      <div class="site-text">
        <span>
          Vue Discussion Forum
        </span>
        <img class="site-arrow" src="/assets/images/arrow-orange.png">
      </div>
    </div>
  </a>
  <a class="site-link" href="https://twitter.com/vuejs" target="_blank">
    <div class="site-card">
      <img class="site-logo" src="/assets/images/twitter-logo.png">
      <div class="site-text">
        <span>
          Twitter
        </span>
        <img class="site-arrow" src="/assets/images/arrow-orange.png">
      </div>
    </div>
  </a>
  <a class="site-link" href="https://vuejsfeed.com/" target="_blank">
    <div class="site-card">
      <img class="site-logo" src="/assets/images/vue-feed-logo.png">
      <div class="site-text">
        <span>
          Vue.js Feed
        </span>
        <img class="site-arrow" src="/assets/images/arrow-orange.png">
      </div>
    </div>
  </a>
</div>
