@import "about/whoarewe";
@import "about/faces";
@import "about/values";
@import "about/collaborate";

.about__wave {
  padding-top: 40%;
  grid-area: header;
  background-image: url('../assets/images/career-wave.png');
  background-position: 50% 0;
  background-size: 133%;
  background-repeat: no-repeat;
  z-index: -1;
}

.l-about-header {
  margin: 250px 100px 120px;
  .big-point {
    display: block;
    margin-left: -30px;
    &::before {
      padding-right: 20px;
    }
  }
}

.aboutus-wave-3 img {
  position: relative;
  right: 260px;
  top: -35px;
}

@media (max-width: 2060px) {
  .aboutus-wave-3 img {
    right: 200px;
    top: -27px;
  }
}

@media (max-width: 1500px) {
  .aboutus-wave-3 img {
    right: 200px;
    top: -21px;
  }
}

@media (max-width: 1300px) {
  .aboutus-wave-3 img {
    right: 150px;
    top: -18px;
  }
}

@media (max-width: 1060px) {
  .aboutus-wave-3 img {
    right: 130px;
    top: -14px;
  }
}

@media (max-width: 870px) {
  .l-about-header {
    margin: 100px 30px 100px;
  }
  .aboutus-wave-3 img {
    right: 70px;
    top: -18px;
  }
}

@media (max-width: 680px) {
  .aboutus-wave-3 img {
    right: 80px;
    top: -10px;
  }
}

@media (max-width: 430px) {
  .aboutus-wave-3 img {
    right: 35px;
    top: -5px;
  }
}
