
html, body {
  margin: 0;
}

body {
  background: #FFFFFF;
}

.main-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-areas:
    "header  header  header"
    "left-sidebar content right-sidebar"
    "footer  footer  footer";
}
