.blog__wave {
  padding-top: 40%;
  grid-area: header;
  background-image: url('../assets/images/career-wave.png');
  background-position: 50% 0;
  background-size: 133%;
  background-repeat: no-repeat;
}

.l-blog {
  margin-top: 180px;
  display: grid;
  grid-template-columns: 1fr 270px;
}
