.blog__wave {
  padding-top: 40%;
  grid-area: header;
  background-image: url('../assets/images/career-wave.png');
  background-position: 50% 0;
  background-size: 133%;
  background-repeat: no-repeat;
}

.l-blog {
  margin-top: 180px;
  display: grid;
  grid-template-columns: 1fr 270px;
}

pre, code {
  border: 1px solid #FFB040;
  border-radius: 3px;
  background-color: #FFFBF5;
  color: #B36800;
}
.post {
  &-title {
    font-size: 2.2rem;
    margin-bottom: 40px;
  }
  &-header {
    img {
      width: 100%;
      margin: 25px 0;
    }
  }
  &-content {
    font-weight: 300;
    padding-left: 30px;
    a {
      color: #FFB040;
    }
    blockquote {
      color: #B36800;
      border-left: 2px solid #FFB040;
      margin-left: 20px;
      font-weight: 300;
    }
  }
  &-meta {
    color: #B36800;
    font-size: 14px;
    font-weight: 300;
    > span {
      margin-right: 15px;
    }
    time {
      margin-right: 15px;
    }
    .post-tag {
      font-size: 12px;
      float: right;
      background-color: #FFFBF4;
      border-radius: 3px;
      padding: 1px 10px;
      margin: 0 0 0 15px;
    }
  }
}
