.blog__wave {
  height: 100px;
  padding-top: 40%;
  grid-area: header;
  background-image: url('../assets/images/blog-wave.png');
  background-position: 50% 0;
  background-size: 133%;
  background-repeat: no-repeat;
}

.l-blog {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
}

pre, code {
  border: 1px solid $color-accent-yellow;
  border-radius: 3px;
  background-color: $color-code-bg;
  color: $color-accent-gold;
  white-space: normal;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 14px;
}

.post {
  grid-column: 1;

  &-title {
    font-size: 2.2rem;
  }
  &-header {

    img {
      width: 100%;
      margin-bottom: 10px;
      border-radius: 5px;
    }
  }

  &-content {
    font-weight: 300;
    font-size: 17px;

    h1, h2, h3, p {
      margin-bottom: 20px;
    }

    img {
      border-radius: 5px;
    }

    a {
      color: $color-accent-yellow;
    }

    blockquote {
      color: $color-accent-gold;
      border-left: 2px solid $color-accent-yellow;
      margin-left: 20px;
      margin-right: 40px;
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      line-height: 32px;
    }

    .disqus {
      margin: 50px 0;
    }
  }

  &-meta {
    color: $color-accent-gold;
    font-size: 0.9rem;
    font-weight: 300;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;

    .avatar {
      border-radius: 50%;
      max-width: 60px;
      max-height: 60px;
      margin: 0;
    }

    .author {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;
      margin-bottom: 0;

      a {
        color: $color-accent-gold;
      }

      time {
        color: $color-text-muted;
      }
    }

    .read-time {
      grid-column: 4;
      align-self: center;
      justify-self: end;
    }
  }

  &-tags {
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-top: 9px;

    a {
      font-size: 0.75rem;
      background-color: $color-code-bg;
      border-radius: 3px;
      padding: 1px 10px;
      color: #B36800;
      margin-left: 10px;
    }
  }

  &-navigation {
    grid-column: 1 / 3;
    display: grid;
    padding-bottom: 50px;

    a {
      color: $color-global-font;
      font-size: 1.5rem;
      font-weight: 200;
    }

    .prev {

      img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
      }
    }
  }


  &-footer {
    grid-column: 1 / 3;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 80px 0;
    background-image: url(/assets/images/form-wave.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px 650px;
    height: 500px;
    margin: 0 -70px;

    h2 {
      font-size: 48px;
      margin: 0 90px;
    }

    p {
      max-width: 320px;
      margin: 0 90px;
      margin-top: 10px;
    }

    span {
      display: block;
      margin: 30px 90px;
    }

    .btn {
      margin: 0 90px;
    }
  }
  &-meetus {
    grid-column: 2;
    display: none;
    background: $color-white;
    border-radius: 4px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.1);
    height: 250px;
    text-align: center;
    font-weight: 300;
    padding: 30px;
    margin-bottom: 40px;

    .meetus-social {
      display: flex;
      margin: 0 auto;

      img {
        max-height: 15px;
        margin: 0 15px;
        filter: grayscale(100%);
        opacity: 0.3;

        &:hover {
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }

    span {
      font-size: 1.7rem;
    }

    p {
      padding: 30px;
    }

    .meetus-btn {
      padding: 10px 40px;
      color: $color-primary;
    }
  }

}

@media (min-width: 576px) {
  .post-footer {
    text-align: center;
    background-size: 100vw 650px;
    margin: 0 -230px;

    h2 {
      margin-top: 50px;
    }

    span {
      margin: 50px 90px;
    }

    p {
      max-width: 500px;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}

@media (min-width: 768px) {
  .post-content {

    img.float {
      float: left;
      width: 45%;
      margin-bottom: 10px;
      margin-right: 20px;
    }
  }
}

@media (min-width: 811px) {
  .blog__wave {
    height: 400px;
  }

  .l-blog {
    margin-top: 180px;
  }
}

@media (min-width: 992px) {
  .post-meetus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .l-blog {
    grid-template-columns: 1fr 300px;
    grid-column-gap: 160px;
  }

  .post-footer {
    margin: 0px -800px;
    padding: 100px 0;

    h2 {
      margin-top: 40px;
    }
  }

  .post-navigation {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;

    a {
      display: block;
      max-width: 400px;
      position: relative;
      padding-left: 50px;

      img {
        position: absolute;
        left: 0;
        top: 15px;
      }
    }

    .prev {
      justify-self: end;
      text-align: right;
      grid-column: 2;
      padding-left: 0;
      padding-right: 50px;

      img {
        left: auto;
        right: 0;
      }
    }
  }

  .post-content blockquote {
    margin: 25px 90px 25px 60px;
  }
}


@media screen and (max-width: 810px) {
  .post {
    &-tags {
      display: none;
    }
  }
}
