.l-details-header {
  margin: 150px 0 120px;
  .point-where {
    font-weight: 300;
    display: block;
  }
}
.career-details {
  display: grid;
  grid-template-columns: 1fr 260px;
  .details-who {
    max-width: 450px;
    margin-left: 30px;
  }
  .details-content {
    grid-column: 1;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    span {
      font-weight: 300;
      font-size: 24px;
      min-width: 250px;
    }
    ul {

    }
  }
}
