@import "career-programming";
.career__wave {
  padding-top: 40%;
  grid-area: header;
  background-image: url('../assets/images/career-wave.png');
  background-position: 50% 0;
  background-size: 133%;
  background-repeat: no-repeat;
}
.l-career-header {
  margin: 150px 0 120px;
  .big-point {
    display: block;
  }
}
.big-point {
  font-weight: 200;
  font-size: 2.2rem;
  line-height: 32px;
  margin-left: -22px;
  &::before{
    content: "•";
    color: #FFB040;
    font-size: 2.2rem;
    font-family: initial;
  }
}

.career-card {
  border-radius: 4px;
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.07);
  padding: 20px;
  font-weight: 300;
  &-job {
    font-size: 27px;
    padding: 0 10px;
    display: block;
  }
  &-rate {
    color: #B36800;
    font-size: 16px;
    display: block;
    padding: 10px;
  }
  .btn-career {
    font-size: 0.75rem;
    padding: 8px 20px;
  }
}
