@import "career/more";
@import "career/details";

.career__wave {
  height: 100px;
  padding-top: 40%;
  grid-area: header;
  background-image: url('../assets/images/blog-wave.png');
  background-position: 50% 0;
  background-size: 133%;
  background-repeat: no-repeat;
}

.l-career-header {
  margin-top: 50px;

  h1 {
    font-size: 2.2rem;
  }

  h3 {
    margin: 60px 0 75px 30px;
    font-weight: 200;
  }

  .big-point {
    display: block;
    margin-left: 0;

    h1 {
      display: inline-block;
      font-size: 2.2rem;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  h2 {
    margin-bottom: 0;
    font-weight: 200;
  }

  .btn-arrow img {
    transform: rotate(90deg);
  }
}

.l-career-container {

  h3 {
    font-weight: 200;
  }

  &.no-gutters {
    padding-left: 0;
    padding-right: 0;
  }

  img {
    border-radius: 5px;
  }

  .career-benefits {

    .benefits-tile {
      position: relative;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }

    .benefits-box {
      font-weight: 200;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: absolute;
      width: 100%;
      background: white;
      border-radius: 4px;
      transition: all .2s;

      img {
        margin: 20px 0;
        transition: all .2s;
      }
    }

    .benefits-description {
      display: inline-block;
      height: 0;
      padding: 0 7px;
      opacity: 0;
      overflow: hidden;
      transition: height .2s, opacity .3s .2s;
    }
  }

  &.career-space {
    margin: 80px 0;
  }

  &.career-space-bottom-small {
    margin-bottom: 30px;
  }

  .career-font-medium {
    font-size: 1.9rem;
  }

  .career-font-small {
    font-size: 1.7rem;
  }

  blockquote {
    color: #b36800;
    border-left: 2px solid #ffb040;
    margin-left: 20px;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 32px;
    max-width: 500px;
  }

  .career-header {
    grid-column: 1 / 3;
  }

  .full-width {
    grid-column: 1 / 4;
  }

  .margin-top {
    margin-top: 30px;
  }

  .margin-bottom-big {
    margin-bottom: 60px;
  }

  .main-point {
    grid-column: 1 / 3;
    padding-top: 70px;
  }

  .career-card {
    background: white;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.07);
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    padding: 30px 0;

    &-job {
      display: block;
      height: 80px;
      padding: 0 30px;
      font-size: 1.7rem;
      color: $color-global-font;

      a {
        display: inline-block;
        line-height: 30px;
      }
    }

    &-rate {
      color: grey;
      opacity: 0.7;
      font-size: 1rem;
      display: block;
      margin-top: 25px;
      padding: 0 30px;
    }

    &-apply {
      display: block;
      width: 35%;
      margin-top: 40px;
      margin-left: 50px;
      padding: 8px 15px;
      color: #FFFFFF;
      font-size: 0.8rem;
      text-align: center;
    }

    .career-hover-wave {
      display: none;
      z-index: -1;
      position: absolute;
      top: 170px;

      .wave-tail {
        background-color: #FDF7EB;
        width: 100%;
        height: 80px;
      }
    }

    span a {
      color: $color-global-font;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.career-carousel {
  margin-bottom: 50px;
}

.coffee-point {
  margin: 160px auto;
  max-width: 520px;
  font-size: 2.2rem;
  font-weight: 200;

  &:before {
    font-size: 2.2rem;
  }
}

.big-point {
  font-weight: 200;
  font-size: 2.2rem;
  line-height: 32px;
  margin-left: -40px;
  &::before{
    content: "•";
    color: $color-accent-yellow;
    font-size: 2.2rem;
    font-family: initial;
    padding-right: 20px;
  }
}

@media (min-width: 576px) {
  .coffee-point {
    &:before {
      margin-left: -35px;
    }
  }
}

@media (min-width: 811px) {
  .career__wave {
    height: 400px;
  }

  .l-career-header {
    margin-top: 100px;
  }
}

@media (min-width: 992px) {
  .l-career-container {
    padding: 0 25px;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 50px;

    .main-point {
      margin-left: -35px;
      padding: 60px 0px 0px;
      grid-column: 1 / 4;
    }

    .left-offset {
      margin-left: 30px;
    }

    .right-offset {
      margin-right: 220px;
    }

    &.career-space {
      margin: 150px 0;
    }

    &.career-space-big {
      margin-bottom: 250px;
    }

    &.career-space-bottom-small {
      margin-bottom: 80px;
    }

    .career-benefits {
      grid-template-columns: 220px 1fr;
      margin-right: 20px;

      .benefits {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 80px);

        &-box {
          font-size: 14px;

          &:hover {
            height: 125%;
            width: 130%;
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);

            img {
              margin: 5px 0;
              transform: scale(0.6);
            }

            .benefits-description {
              height: 100px;
              opacity: 1;

              &--short {
                height: 70px;
              }
            }
          }
        }

        .benefit-1 {
          grid-column: 1;
          grid-row: 3 / 5;
        }

        .benefit-2 {
          grid-column: 2;
          grid-row: 2 / 4;
        }

        .benefit-3 {
          grid-column: 2;
          grid-row: 4 / 6;
        }

        .benefit-4 {
          grid-column: 3;
          grid-row: 1 / 3;
        }

        .benefit-5 {
          grid-column: 3;
          grid-row: 3 / 5;
        }

        .benefit-6 {
          grid-column: 3;
          grid-row: 5 / 7;
        }

        .benefit-7 {
          grid-column: 4;
          grid-row: 2 / 4;
        }

        .benefit-8 {
          grid-column: 4;
          grid-row: 4 / 6;
        }
      }
    }
  }

  .coffee-point {
    text-align: center;
  }

  .career-detail-wider {
    padding: 0;
    padding-left: 25px;
    grid-template-rows: 150px 1fr;
  }

  .l-career-container-more {
    padding: 0 25px;
    grid-template-columns: 1fr;
  }

  .l-career-header {
    margin: 180px 0 120px;
    padding: 0 65px;

    .big-point {
      margin-left: -40px;
    }
  }

  .career-card {
    width: auto;
    margin-top: 0;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 15px 45px 0 rgba(0, 0, 0, 0.1);
      text-decoration: none;
      z-index: 2;
    }

    &:hover > span a {
      color: $color-secondary;
    }

    &:hover > .career-hover-wave {
      display: block;
    }
  }
}

@media (min-width: 1200px) {
  .l-career-container {

    .career-benefits {
      grid-template-columns: 350px 1fr;
      margin: 0;

      .benefits-box:hover {
        height: 120%;
        width: 120%;

        .tile-text {
          margin-bottom: 5px;
        }

        .benefits-description {
          padding: 0 13px;

          &--short {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .l-career-container {
    padding: 0 135px;

    .career-benefits {
      grid-template-columns: 500px 1fr;

      .benefits-box:hover {
        height: 110%;
        width: 120%;

        img {
          margin: 10px 0;
          transform: scale(0.7);
        }

        .benefits-description {
          padding: 0 10px;
          height: 105px;

          &--short {
            height: 60px;
          }
        }
      }
    }
  }

  .career-detail-wider {
    padding: 0;
    padding-left: 135px;
  }

  .l-career-container-more {
    padding: 0 90px;
  }

  .l-career-header {
    padding: 0 135px;
  }
}



@media (max-width: 1399px) {
  .benefits-description {
    margin-top: 5px;

    &--short {
      margin-top: 10px;
    }
  }
}

@media (max-width: 1199px) {
  .l-content-offers {

    .l-career-container {
      padding: 0;
    }
  }

  .benefits-description {
    font-size: 15px;
    transition: height .3s, opacity .3s .4s;
  }
}

@media (max-width: 991px) {
  .l-content-offers {
    margin-bottom: 30px;
  }

  .career-carousel {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .l-career-header {
    margin-top: 0;

    h3 {
      margin: 30px 0 40px;
    }

    button {
      margin-bottom: 30px;
    }
  }

  .career-person {
    position: relative;
    height: 350px;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 4px;

    img {
      position: absolute;
      border-radius: 0;
    }

    &.person-1 img {
      top: -15%;
      transform: scale(.9);
    }

    &.person-2 img {
      top: 0;
      right: 0;
    }
  }

  #scroll-offers {
    .career-header {
      font-size: 1.8rem;
    }
  }

  .l-career-container {

    .career-font-medium {
      font-size: 1.8rem;
    }

    .career-header {
      margin: 30px 0;
    }

    img.full-width {
      margin: 30px 0;
    }

    br {
      display: none;
    }

    blockquote br:first-child {
      display: block;
    }

    .pt-3 {
      padding-top: 30px;
    }

    .mb-3 {
      margin-bottom: 30px;
    }

    .career-benefits {
      grid-template-columns: 1fr;

      .benefits {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 100px);
        grid-gap: 20px;
        margin-bottom: 30px;

        &-box {
          display: grid;
          grid-template-columns: 120px 1fr;
          justify-items: center;
          align-items: center;

          img {
            grid-column: 1;
            transform: scale(.7);
            margin: 0;
          }

          .tile-text {
            grid-column: 1;
            margin: 0;
            margin-bottom: 10px;
            line-height: 18px;
          }
        }

        &-description {
          grid-column: 2;
          grid-row: 1 / 3;
          height: initial;
          margin: 0;
          opacity: 1;
        }

        .benefit-1 {
          grid-column: 1;
          grid-row: 1;
        }

        .benefit-2 {
          grid-column: 1;
          grid-row: 2;
        }

        .benefit-3 {
          grid-column: 1;
          grid-row: 3;
        }

        .benefit-4 {
          grid-column: 1;
          grid-row: 4;
        }

        .benefit-5 {
          grid-column: 1;
          grid-row: 5;
        }

        .benefit-6 {
          grid-column: 1;
          grid-row: 6;
        }

        .benefit-7 {
          grid-column: 1;
          grid-row: 7;
        }

        .benefit-8 {
          grid-column: 1;
          grid-row: 8;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .career-person {
    height: 175px;

    &.person-1 img {
      top: -15%;
      transform: scale(.9);
    }

    &.person-2 img {
      top: 45%;
      right: 22%;
      transform: scale(1.5);
    }
  }
}
