.career__wave {
  padding-top: 40%;
  grid-area: header;
  background-image: url('../assets/images/career-wave.png');
  background-position: 50% 0;
  background-size: 133%;
  background-repeat: no-repeat;
}
.big-point {
  font-weight: 200;
  font-size: 2.2rem;
  line-height: 32px;
  margin-left: -12px;
  &::before{
    content: "•";
    color: #FFB040;
    font-size: 2.2rem;
    font-family: initial;
  }
}
