.cookie {
  position: fixed;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 20px;
  border-radius: 70px;
  border: 1px solid #f5f5f5;
  background: rgba(255, 255, 255, .8);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .06);
  transition: opacity .4s;

  .icon-cookie {
    font-size: 20px;
    margin-right: 5px;
  }

  &-title {
    min-width: 380px;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
  }

  &-btn {
    margin-left: 20px;
    padding: 0;
    font-size: 14px;
    color: $color-text-muted;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    transition: color .4s;

    &:hover {
      color: $color-global-font;
    }
  }

  &-hide {
    opacity: 0;
  }
}

@media screen and (max-width: 689px) {
  .cookie {
    transform: translate(0);
    left: 10px;
    bottom: 10px;
    max-width: 220px;
    padding: 6px 12px;
    border-radius: 10px;

    .icon-cookie {
      display: none;
    }

    &-title {
      min-width: auto;
    }

    &-btn {
      color: $color-global-font;
    }
  }
}
