@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?gxn2k2');
  src:  url('../assets/fonts/icomoon.eot?gxn2k2#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?gxn2k2') format('truetype'),
    url('../assets/fonts/icomoon.woff?gxn2k2') format('woff'),
    url('../assets/fonts/icomoon.svg?gxn2k2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-size: 70px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-environment:before {
  content: "\e91c";
}
.icon-js:before {
  content: "\e91d";
}
.icon-comments:before {
  content: "\e918";
}
.icon-goal:before {
  content: "\e919";
}
.icon-knowledge-source:before {
  content: "\e91a";
}
.icon-scales:before {
  content: "\e91b";
}
.icon-barbell:before {
  content: "\e910";
}
.icon-beach:before {
  content: "\e911";
}
.icon-compass:before {
  content: "\e912";
}
.icon-cutlery:before {
  content: "\e913";
}
.icon-game-controller:before {
  content: "\e914";
}
.icon-light-on:before {
  content: "\e915";
}
.icon-literature:before {
  content: "\e916";
}
.icon-macbook:before {
  content: "\e917";
}
.icon-accounting:before {
  content: "\e900";
}
.icon-code:before {
  content: "\e901";
}
.icon-database-administrator:before {
  content: "\e902";
}
.icon-design:before {
  content: "\e903";
}
.icon-features-list:before {
  content: "\e904";
}
.icon-flow:before {
  content: "\e905";
}
.icon-gift:before {
  content: "\e906";
}
.icon-idea:before {
  content: "\e907";
}
.icon-listening:before {
  content: "\e908";
}
.icon-multiple-smartphones:before {
  content: "\e909";
}
.icon-navigation-toolbar-top:before {
  content: "\e90a";
}
.icon-networking-manager:before {
  content: "\e90b";
}
.icon-pen:before {
  content: "\e90c";
}
.icon-profit-chart:before {
  content: "\e90d";
}
.icon-ruby:before {
  content: "\e90e";
}
.icon-trust:before {
  content: "\e90f";
}
