.error__wave {
  height: 100px;
  padding-top: 40%;
  grid-area: header;
  background-image: url('../assets/images/blog-wave.png');
  background-position: 50% 0;
  background-size: 133%;
  background-repeat: no-repeat;
}

.error {
  grid-column: 2;
  grid-row: 1 / 3;
  text-align: center;
  min-height: 310px;

  &-wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #000;
    line-height: 1;
    letter-spacing: -1px;
    font-size: 120px;

    .error-egg {
      max-width: 100px;
      margin-left: -30px;
      margin-right: -40px;
    }

    .falling-sun {
      max-width: 180px;
      margin: 0 -55px;
      margin-top: -80px;
    }
  }

  .sun-text {
    margin-bottom: 0;
  }

  .first {
    margin-bottom: 0;
    font-size: 45px;
  }
  .second {
    font-size: 25px;
    font-weight: 300;
  }

}

@media (min-width: 811px) {
  .error__wave {
    height: 400px;
  }
  .error {
    grid-row: 2;
    height: calc(100vh - 865px);
    margin: 50px 0;

    h1 {
      margin-top: 0;
      font-size: 200px;

      .error-egg {
        max-width: 170px;
        margin-left: -40px;
        margin-right: -60px;
      }

      .falling-sun {
        max-width: 300px;
        margin: 0 -90px;
        margin-top: -130px;
      }
    }
  }
}

@media (min-width: 992px) {
  .error {
    height: calc(100vh - 523px);
  }
}
