.eu-bar {
  box-sizing: border-box;
  display: flex;
  padding: 0 15px;
  position: absolute;
  top: 0;
  transition: top .4s ease;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid rgba(232, 225, 213, 0.8);
  z-index: 1;

  &-wrapp {
    display: flex;
    padding: 15px 0;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
  }

  &-images {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  img {
    max-height: 25px;
    width: auto;
    padding-left: 15px;
  }

  &-text {
    font-size: 12px;
    color: $color-global-font;
    margin: 0;
    text-align: right;
  }

  .scrolled & {
    top: -56px;
  }
}

.home-header {
  padding-top: 56px;
  transition: padding-top .4s ease;

  .scrolled & {
    padding-top: 0;
  }
}

@media (max-width: 810px) {
  .eu-bar {
    .scrolled & {
      top: -200px;
    }
  }
  .eu-bar-wrapp {
    flex-direction: column;
  }

  .eu-bar-text {
    padding-bottom: 20px;
    width: 80%;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .eu-bar-wrapp {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .eu-bar-wrapp {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .eu-bar-wrapp {
    width: 1320px;
  }
}
