.contactContainer, .modal-container {
  visibility: hidden;
  position: fixed;
  top: 0px;
  z-index: 4;
  background: rgba(0,0,0,0.8);
  height: 100%;
  width: 100%;

  .contactForm, .contact-form {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -200%);
    height: auto;
    width: 550px;
    background-color: #fdf1de;
    background-repeat: no-repeat;
    background-size: 600px 800px;
    background-position: center;
    border-radius: 5px;

    &-exit {
      position: relative;
      left: 240px;
      top: 20px;

      input {
        display: block;
        width: 40px;
        height: 32px;
        position: relative;
        left: 245px;
        top: 12px;
        transform: none;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
      }

      span {
        display: block;
        width: 25px;
        height: 4px;
        margin-bottom: 5px;
        background: $color-global-font;
        border-radius: 3px;
        z-index: 1;
        position: relative;
        left: 252px;
      }

      .exit-first {
        transform: rotate(45deg);
        top: -10px;
      }

      .exit-second {
        transform: rotate(-45deg);
        top: -19px;
      }
    }

    &-header {
      position: relative;
      top: -30px;
      text-align: left;
      margin: 0;
      margin-left: 40px;
      font-size: 1.95rem;
    }

    form {
      margin-top: -10px;
      padding: 0 40px;

      input {
        min-height: 44px;
        width: 100%;
        margin-bottom: 12px;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        border: none;
        box-sizing: border-box;
        font-size: inherit;
        color: #000000;
        -webkit-appearance: none;
      }

      textarea {
        height: 75px;
        width: 100%;
        padding: .5rem;
        border-radius: 4px;
        resize: none;
        border: none;
        box-sizing: border-box;
        font-size: inherit;
        color: #000000;
      }

      label {
        display: inline-block;
        width: 100%;
        margin: 8px 0;
        font-size: 14px;
        color: #888e94;
        text-align: left;
      }

      button {
        width: 100%;
        margin-top: 20px;
        background: linear-gradient(270deg, #FF5E45 0%, #ff2c2cb8 100%);
      }

      .netlify-recaptcha .g-recaptcha div {
        margin: 0 auto;
      }
    }

    .pipedrive-form {
      width: 500px !important;
      margin: 0 auto;
      top: -50px;
    }
  }
}

@media screen and (max-width: 810px) {
  .contactContainer, .modal-container {

    .contactForm, .contact-form {
      height: 600px;
      top: 52%;
      width: 320px;

      .pipedrive-form {
        height: 80%!important;
        width: 200px!important;
        margin: 0 auto;
      }

      &-exit {
        left: 20px;
      }
    }
  }
}
