.main__wave {
  padding-top: 40%;
  grid-area: header;
  background-image: url('../assets/images/main-wave.png');
  background-position: 50% 0;
  background-size: 133%;
  background-repeat: no-repeat;
}

.main__baner {
  grid-column: content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 270px auto auto;
  grid-row-gap: 70px;

  .natu__logo {
    max-width: 100%;
    vertical-align: middle;
    grid-column: 1 / 8;
    grid-row: 1/2;
    align-self: end;
  }

  .oval {
    height: 270px;
    width: 270px;
    background: radial-gradient(circle, #FCC36D 0%, #FFB040 100%);
    box-shadow: 0 30px 120px 0 rgba(255,176,64,0.3);
    border-radius: 50%;
    grid-column: 9 / 11;
    grid-row: 1 / 2;
  }

  .baner__text {
    grid-column: 1 / 12;
    font-size: 35px;
    font-weight: 200;
  }

  .baner__btn {
    grid-row: 3 / 4;
    grid-column: 1 / 12;
  }
}

.latest-projects {
  grid-column: content;
  display: grid;
  margin-top: 15rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-gap: 30px;

  .project {
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    display: grid;

  }

  .project__image {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .project__text {
    color: #FFFFFF;
    font-weight: 300;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .project__main {
    grid-column: 1 / 8;
    grid-row: 1 / 3;
    background-image: url('../assets/images/projects-background-purple.png');
    grid-template-columns: 60px 1fr 60px;
    grid-template-rows: 60px 1fr 40px 60px;
    .project__text {
      font-size: 27px;
      line-height: 32px;
    }
    .project__subtext {
      display: block;
      color: #8564BD;
      font-size: 14px;
    }
  }

  .project__second {
    grid-column: 8 / 13;
    grid-row: 1 / 2;
    background-image: url('../assets/images/projects-background-blue.png');
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 40px 1fr 30px 20px;
    .project__text {
      font-size: 22px;
      line-height: 26px;
    }
  }

  .project__third {
    grid-column: 8 / 13;
    grid-row: 2 / 3;
    background-image: url('../assets/images/projects-background-green.png');
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 40px 1fr 30px 20px;
    .project__text {
      font-size: 22px;
      line-height: 26px;
    }
  }

}

.resources {
  grid-column: content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 30px;

  .resources__title {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    font-weight: 600;
    font-size: 35px;
  }
  .resources__text {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
    padding-left: 40px;
    font-weight: 300;
  }
  .tile {
    background: white;
    box-shadow: 0 8px 32px 0 rgba(179,104,0,0.15);
    border-radius: 4px;
    font-weight: 300;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: end;
    .tile__text {
      margin-bottom: 15px;
    }
  }
  .web-tile {
    grid-column: 7 / 9;
    grid-row: 2 / 4;
    color: #FF5E45;
  }
  .mobile-tile {
    grid-column: 9 / 11;
    grid-row: 1 / 3;
    color: #FFB040;
  }
  .ux-tile {
    grid-column: 9 / 11;
    grid-row: 3 / 5;
    margin-left: 30px;
    margin-right: -30px;
    color: #55368A;
  }
  .resources__btn {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
}

.technology {
  grid-column: content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 20px;

  .technology__title {
    grid-column: 8 / 13;
    font-weight: 600;
    font-size: 35px;
  }
  .technology__text {
    grid-column: 8 / 13;
    padding-left: 40px;
    font-weight: 300;
  }
  .technologies {
    grid-column: 2 / 7;
    grid-row: 2;
    display: grid;
    grid-template-columns: 65px 1fr 65px;
    grid-row-gap: 20px;

    .item {
      background: #FFFFFF;
    	border-radius: 4px;
      background-color: #FFFFFF;
      box-shadow: 0 8px 32px 0 rgba(0,0,0,0.1);
      font-weight: 300;
      text-align: center;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      height: 90px;
      &.left {
        grid-column: 1 / 3;
      }
      &.right {
        grid-column: 2 / 4;
      }
      img {
        max-height: 90px;
      }
    }
  }
}

.tools {
  grid-column: content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  padding: 0 15%;
}

.values {
  margin-top: 150px;
  grid-column: content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .values__title {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    font-weight: 600;
    font-size: 35px;
  }

  .values__nav {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.1);
    grid-column: 9 / 12;
    padding: 30px 0;

    .values__nav-list {
      font-weight: 300;
      list-style: none;
      margin: 0;

      li {
        padding: 16px 30px;
        span {
          float: right;
        }
      }
    }
  }
}

.resaults {
  grid-column: content;
  .resaults__title {
    font-weight: 600;
    font-size: 35px;
  }
  .resaults__assets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .asset {
      .asset__number {
        height: 42px;
        width: 42px;
        border-radius: 50%;
        color: white;
        box-shadow: 0 6px 17px 0 rgba(116,190,233,0.27);
        text-align: center;
        line-height: 42px;
        margin: 20px 11px;
      }
      .asset__title {
        font-weight: 600;
        margin: 15px 0;
      }
      .asset__text {
        font-weight: 300;
      }
    }
  }

}

.competences {
  grid-column: content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  .competences__title {
    grid-column: 1 / 6;
    grid-row: 1;
    font-weight: 600;
    font-size: 35px;
  }
  .competences__text {
    grid-column: 1 / 6;
    grid-row: 2;
    padding-left: 40px;
    font-weight: 300;
  }
  .competences__btn {
    display: none;
    grid-row: 3;
    grid-column: 1 / 5;
  }
  .competences__offers {
    grid-column: 7 / 13;
    grid-row: 1 / span 4;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 100px);
    grid-gap: 30px;

    .offer {
      background-color: #FFFFFF;
      border-radius: 4px;
      box-shadow: 0 8px 32px 0 rgba(179,104,0,0.15);
      display: grid;
      justify-items: center;
      align-items: end;
      text-align: center;
      .offer__text {
        margin-bottom: 15px;
        font-weight: 300;
      }
    }
    .offer--1 {
      grid-column: 1 / 2;
      grid-row: 2 / 4;
    }
    .offer--2 {
      grid-column: 1 / 2;
      grid-row: 4 / 6;
    }
    .offer--3 {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
    .offer--4 {
      grid-column: 2 / 3;
      grid-row: 3 / 5;
    }
    .offer--5 {
      grid-column: 2 / 3;
      grid-row: 5 / 7;
    }
    .offer--6 {
      grid-column: 3 / 4;
      grid-row: 2 / 4;
    }
    .offer--7 {
      grid-column: 3 / 4;
      grid-row: 4 / 6;
    }
  }
}

.aboutus {
  grid-column: content;
  .aboutus__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    font-weight: 300;
  }
}

.gallery {
  margin-top: 50px;
  grid-column: left-sidebar / right-sidebar;
  grid-gap: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 500px;
  overflow: hidden;
}

@media (min-width: 576px) {
  .main__baner {
    .natu__logo {
      grid-column: 2 / 4;
    }
    .baner__text {
      grid-column: 2 / 9;
    }
    .baner__btn {
      grid-column: 2 / 5;
    }
  }
}
