.home-header {
  grid-area: header;
  position: relative;
  font-weight: 200;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 50px;
  align-items: center;
  .site-nav {
    grid-column: 1 / 3;
    grid-row: 1;
    line-height: 30px;
  }
  ul {
    margin: 35px 0 30px 30px;
    list-style: none;
    li {
      &.active {
        a {
          color: $color-primary;
        }
      }
      a {
        color: $color-global-font;
        text-decoration: none;
      }
      &:hover {
        a {
          color: $color-accent-yellow;
        }
      }
    }
  }
  .header-right {
    grid-column: 1 / 2;
    grid-row: 1;
    align-self: start;
    margin-top: 30px;
    .header-btn {
      font-size: 12px;
      padding: 14px 40px;
    }
  }
}

@media (min-width: 811px) {
  .home-header {
    grid-template-columns: 1fr 350px;
    .header-right {
      grid-column: 2 / 3;
    }
    .site-nav {
      grid-column: 1 / 2;

      .hamb {
        .menuToggle {
          input {
            display: none;
          }
        }
      }
    }
    ul li {
      margin: 0 9px;
      display: inline;
    }
  }
}

@media (min-width: 1470px) {
  .home-header li {
    margin: 0 40px;
  }
  .home-header .site-nav {
    grid-column: 1 / 3;
  }
}

@media (min-width: 932px) {
  .home-header {
    ul li {
      margin: 0 20px;
    }
  }
}

@media (min-width: 1175px) {
  .home-header {
    ul li {
      margin: 0 40px;
    }
  }
  .header-right {
    align-self: center;
    margin-top: 0;
  }
}

@media screen and (max-width: 810px) {
  .home-header {
    .site-nav .triger{
      visibility: hidden;
    }
    &-logo {
      grid-column: 1 / 3;
    }
    &-right {
      display: none;
    }
    .hamb {
      display: block;
      a {
        text-decoration: none;
        color: $color-global-font;
      }
      .menuToggle {
        display: block;
        position: relative;
        top: 10px;
        left: 30px;
        z-index: 1;
        user-select: none;

        input {
          display: block;
          width: 40px;
          height: 32px;
          position: absolute;
          top: -7px;
          left: -5px;
          transform: none;
          cursor: pointer;
          opacity: 0;
          z-index: 2;

          &:checked {
          transform: translate(450%, 0);
          transition: transform 0.7s cubic-bezier(0.77,0.2,0.05,1.0);
          }

          &:checked ~ span {
          transform: translate(550%, 0);
          transition: transform 0.7s cubic-bezier(0.77,0.2,0.05,1.0);
          }

          &:checked ~ ul {
            transform: none;
          }
        }

        span {
          display: block;
          width: 33px;
          height: 4px;
          margin-bottom: 5px;
          position: relative;
          background: $color-global-font;
          border-radius: 3px;
          z-index: 1;
        }

        .menu {
          position: absolute;
          width: 260px;
          height: 467px;
          margin: -90px 0 0 -30px;
          padding-top: 125px;
          background: white;
          box-shadow: 400px -150px 0px 150px rgba(0,0,0,0.2);
          text-align: left;
          list-style-type: none;
          transform-origin: 0% 0%;
          transform: translate(-315%, 0);
          transition: transform 0.7s cubic-bezier(0.77,0.2,0.05,1.0);

          li {
            padding: 5px 30px;
          }

          .header-wave {
            margin-top: 50px;
            width: 100%;
            height: 217px;
            background-image: url('/assets/images/form-wave.png');
            background-size: 770px;
            background-position: top;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
