.sprite {
    background-image: url(images/icons.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-analyze {
    width: 60px;
    height: 65px;
    background-position: -5px -5px;
}

.sprite-icon-architectur {
    width: 60px;
    height: 56px;
    background-position: -75px -5px;
}

.sprite-icon-backend {
    width: 65px;
    height: 71px;
    background-position: -145px -5px;
}

.sprite-icon-code {
    width: 64px;
    height: 54px;
    background-position: -5px -86px;
}

.sprite-icon-frontend {
    width: 66px;
    height: 54px;
    background-position: -79px -86px;
}

.sprite-icon-growth {
    width: 70px;
    height: 63px;
    background-position: -155px -86px;
}

.sprite-icon-listen {
    width: 59px;
    height: 62px;
    background-position: -5px -159px;
}

.sprite-icon-mobile {
    width: 60px;
    height: 60px;
    background-position: -74px -159px;
}

.sprite-icon-mobile2 {
    width: 60px;
    height: 60px;
    background-position: -144px -159px;
}

.sprite-icon-multi {
    width: 70px;
    height: 70px;
    background-position: -220px -5px;
}

.sprite-icon-ruby {
    width: 60px;
    height: 60px;
    background-position: -235px -85px;
}

.sprite-icon-trust {
    width: 67px;
    height: 62px;
    background-position: -235px -155px;
}
