.custom-input {
  background-color: $color-white;
  border-radius: 30px;
  border: none;
  padding: 0;
  width: auto;
  box-sizing: border-box;
  width: 0;
  height: 0;
  position: absolute;
  left: -999px;
}
