@import "opensource/community";
.opensource__wave {
  padding-top: 40%;
  grid-area: header;
  background-image: url('../assets/images/career-wave.png');
  background-position: 50% 0;
  background-size: 133%;
  background-repeat: no-repeat;
}
.l-opensource {
  margin-top: 180px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.l-sites {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 140px;
}

.opensource-point {
  display: block;
  margin-bottom: 80px;
  margin-left: -20px;
  &::before {
    padding-right: 10px;
  }
}

.site-card {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 30px 10px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  a {
    display: block;
    color: $color-global-font;
    font-size: 1.7rem;
    font-weight: 300;
    width: 100%;
  }
  .site-arrow {
    float: right;
    width: 30px;
    margin-top: 7px;
  }
}

.influencers {
  display: flex;
  text-align: center;
  flex-wrap: wrap;

  .influencer {
    margin: 0 16px;
    span {
      display: block;
      margin: 20px 0 10px;
      max-width: 140px;
    }
    .influencer-icon {
      width: 30px;
      margin: 0 5px;
    }
    &.lower {
      margin-top: 60px;
    }
  }
}
