.tech-container {
  padding-bottom: 50px;

  .header-h2 {
    @extend h2;
  }

  .banner {
    padding-top: 60px;
  }

  .banner-text {
    display: flex;
    align-self: flex-end;
    max-width: 90%;
  }

  .banner-btn {
    img {
      transform: rotateZ(90deg);
    }
  }

  .resources {
    padding-top: 150px;
  }

  .values {
    margin-bottom: 80px;
    display: grid;

    &-title {
      grid-column: 1 / 8;
      max-width: 100%;
    }

    .text-title span {
      display: flex;
      max-width: 70%;
    }

    &-texts {
      padding-left: 30px;
    }

    &-texts-wrapper {
      grid-column-end: 10;
    }
  }

  .check-out-point {
    // margin-top: -100px;
  }

  .whoarewe {
    margin-bottom: 100px;
  }

  .whoarewe-texts .primary {
    max-width: 100%;
  }

  .wave-advantages {
    z-index: -3;
  }

  h2, .header-h2 {
    margin-left: 35px;
  }

  .technology-items .item {
    width: 350px;
  }

  .technology-items .item:nth-child(even) {
    margin-left: 50px;
  }

  .technology-texts {
    display: flex;
    flex-direction: column;
  }

  .technology-text {
    flex-grow: 1;
  }

  .results-circle {
    margin-right: 0;
    margin-bottom: -160px;
  }

  .tile-text {
    color: $color-secondary;
  }

  .resources-tile {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
    img {
      max-width: 70px;
      max-height: 55px;
    }
  }

  .wave-tail {
    padding-top: 60%;
  }

  .opinions-carousel {
    .carousel-item {
      background-color: #ffffff;
    }
  }
}

.tech-page-carousel {
  padding-top: 60px;
  .carousel-item {
    display: flex;
    flex-direction: row;
    height: 270px;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 60px;
    padding-left: 35px;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
  }

  img {
    height: 170px;
  }

  &-text {
    max-width: 410px;
    display: flex;
    flex-direction: column;
    color: white;

    .btn {
      align-self: baseline;
    }

    p {
      flex-grow: 1;
    }

    h2, .header-h2 {
      margin-left: 0;
      padding-bottom: 20px;
    }
  }

  .main-point {
    padding-bottom: 70px;
  }

  .slick-list {
    height: auto;
  }

  .slick-next {
    &::before {
      box-shadow: -60px 0px 300px #fff;
    }
  }

  .slick-prev {
    &::before {
      box-shadow: 60px 0px 300px #fff;
    }
  }
}

.posts-carousel {
  .carousel-item {
    box-shadow: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    margin: 0 60px;
  }

  .slick-list {
    padding-top: 0;
    margin-bottom: 0;
  }

  a {
    color: $color-global-font;
    font-size: 14px;
  }

  img {
    padding-bottom: 20px;
    border-radius: 5px;
  }
}

.wave.wave--last {
  z-index: -3;
}

@media (max-width: 811px) {
  .tech-page-carousel {
    .carousel-item {
      height: auto;
    }

    img {
      display: none;
    }

    .slick-list {
      padding: 0;
    }
  }

  .posts-carousel {
    .slick-list {
      height: auto;
      padding-bottom: 50px;
    }
  }

  .tech-page-carousel-text {
    max-width: 100%;
    margin-left: 0;
  }

  .tech-container {
    .banner {
      padding-top: 0;
    }

    .resources {
      padding-top: 0;
      grid-template-rows: 30px 1fr 3fr repeat(4,60px);
    }
  }
}

@media (max-width: 991px) {
  .tech-container {
    padding-bottom: 150px;

    .values {
      grid-template-rows: repeat(16, 100px) 0px 0px;
      grid-template-columns: repeat(9, 1fr);
      .text-content {
        width: 100%;
      }
    }

    .value-text {
      padding-top: 50px;
    }

    .values-texts {
      padding-left: 0;
    }

    h2, .header-h2{
      margin: 0;
    }

    .whoarewe-texts, .posts-carousel {
      padding-top: 50px;
    }

    .technology-items .item:nth-child(even) {
      margin-left: 0;
    }

    .technology-text {
      padding: 30px 0;
    }

    .results-circle {
      margin-bottom: 0;
    }
  }
}


@media (min-width: 1281px) {
  .tech-page-carousel {
    img {
      height: 220px;
    }
  }

  .tech-page-carousel-text {
    max-width: 65%;
  }
}
