.topbar-container {
  padding-top: 20px;
  grid-template-columns: 1fr 540px 1fr;
  display: none;
  background: #FEFBF5;
  grid-area: header;
  position: relative;
  z-index: 1;
  top: 56px;
  transition: top .4s ease;

  .scrolled & {
    top: 0;
  }

  .topbar {
    grid-column: 2;
    color: $color-global-font;
    display: grid;
    grid-template-columns: 1fr 300px;
    font-weight: 200;

    &-content {
      grid-column: 1 / 3;
      grid-row: 1;
      text-align: left;

      a {
        color: $color-global-font;

        span {
          display: inline-block;
          max-width: 330px;
          line-height: 20px;
        }

        img {
          width: 20px;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    &-social {
      grid-row: 1;
      grid-column: 2;
      display: flex;
      justify-content: flex-end;

      .topbar-github {
        opacity: 0.18;
      }

      img {
        max-height: 15px;
        margin: 0 10px;
        filter: grayscale(100%);
        opacity: 0.3;

        &:hover {
          filter: grayscale(0);
          opacity: 1;
        }
      }
      a:last-child img {
        margin-right: 0;
      }
    }

    &-line {
      margin-top: 25px;
      grid-column: 1 / 3;
      grid-row: 2;
      opacity: 0.5;

      .topbar-hr {
        border: none;
        border-top: 1px solid $color-nav-border;
        opacity: 0.8;
      }
    }
  }
}

@media (min-width: 811px) {
  .topbar-container {
    display: grid;
  }
}

@media (min-width: 992px) {
  .topbar-container {
    grid-template-columns: 1fr 960px 1fr;

    .topbar-content a span {
      max-width: 760px;
    }
  }
}

@media (min-width: 1200px) {
  .topbar-container {
    grid-template-columns: 1fr 1140px 1fr;

    .topbar-content a span {
      max-width: 940px;
    }
  }
}

@media (min-width: 1400px) {
  .topbar-container {
    grid-template-columns: 1fr 1320px 1fr;

    .topbar-content a span {
      max-width: 1100px;
    }
  }
}
