.l-tos-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 100px;
  margin-top: 20px;

  .tos-content {

    .big-point {
      display: block;
      margin: 0;
    }

    h2 {
      margin: 0;
      padding: 30px 0 20px;
      font-size: 24px;
      font-weight: 300;
    }

    p {
      margin: 0;
      padding-bottom: 15px;
      font-weight: 300;

      a {
        color: $color-global-font;
      }
    }

    .text-link {
      margin-top: 40px;
    }
  }
}

.tos-nav {
  display: none;

  &-list {
    max-width: 265px;
    min-height: 240px;
    font-weight: 200;
    list-style: none;
    margin-left: 20px;
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.1);
    padding: 30px 0;

    li {

      margin: 0 -20px;
      font-weight: 200;
      cursor: pointer;

      a {
        display: block;
        padding: 16px 50px;
        color: $color-global-font;

        &:hover {
          text-decoration: none;
        }

        &.active {
          min-height: 30px;
          border-radius: 4px;
          color: $color-white;
          background: $color-accent-yellow;
          -webkit-transition: .5s all ease-out;
          -moz-transition: .5s all ease-out;
          transition: .5s all ease-out;
        }
      }
    }
  }
}

.tos-wave {
  top: -150px;
}


@media (min-width: 811px) {
  .l-tos-container {
    margin-top: 80px;
  }
}

@media (min-width: 992px) {
  .l-tos-container {
    grid-template-columns: 1fr 310px;
    margin-top: 180px;
    padding-left: 65px;

    .tos-content {
      grid-column: 1;

      .big-point {
        margin-left: -40px;
      }
    }

    .tos-nav {
      grid-column: 2;
      display: block;
    }
  }
}

@media (min-width: 1400px) {
  .l-tos-container {
    padding-left: 135px;
  }
}
