$color-white: #FFFFFF;
$color-brown-font: #3B220F;
$color-red: #FF2C2C;
$color-orange: #FF5E45;
$color-purple: #55368A;
$color-purple-light: #8564BD;
$color-blue: #71C3E3;
$color-brown-light: #B36800;
$color-green: #8DCB6F;

@mixin red-gradient-background {
  	background: linear-gradient(270deg, #FF5E45 0%, #FF2C2C 100%);
}

.text-red {
  color: $color-red;
}
.text-orane {
  color: $color-orange;
}
.text-purple {
  color: $color-purple;
}
.text-blue {
  color: $color-blue;
}
.text-brown-light {
  color: $color-brown-light;
}
.text-green {
  color: $color-green;
}

.bg-red {
  background-color: $color-red;
}
.bg-orane {
  background-color: $color-orange;
}
.bg-purple {
  background-color: $color-purple;
}
.bg-blue {
  background-color: $color-blue;
}
.bg-brown-light {
  background-color: $color-brown-light;
}
.bg-green {
  background-color: $color-green;
}

.clear {
  clear: both;
}
