.carousel-point {
  text-align: center;
  margin: 130px 0 100px 0;
}
.main-carousel {
  .slick-prev {
    z-index: 1;
    width: 400px;
    height: 600px;
    border-radius: 50%;
    left: -400px;
    top: 50%;
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.8));
    box-shadow: 150px 0px -300px #fFF;

    &:hover, &:focus {
      cursor: default;
      background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.9));
    }

    &::before {
      content: '';
    }

    &::after {
      content: "";
      position: absolute;
    }
  }
  .slick-next {
    z-index: 1;
    width: 400px;
    height: 600px;
    border-radius: 100%;
    right: -400px;
    top: 50%;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0.8));
    box-shadow: -150px 0px 300px #fFF;
    
    &:hover, &:focus {
      cursor: default;
      background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0.9));
    }

    &::before {
      content: '';
    }

    &::after {
      content: "";
      position: absolute;

    }
  }
  .slick-list {
    padding: 30px 350px;
    height: 350px;
    .slick-track .slick-slide:focus {
      outline: none;
    }
  }
  .slick-dots li button {
    display: none;
  }
  ul.slick-dots li.slick-active {
    filter: grayscale(0);
    opacity: 1;
  }
  .slick-dots li:nth-child(1) {
    background-image: url('/assets/images/firefield.png');
    background-size: 100px;
    background-repeat: no-repeat;
    width: 100px;
    height: 30px;
    filter: grayscale(100%);
    opacity: 0.3;
    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }
  .slick-dots li:nth-child(2) {
    background-image: url('/assets/images/format.png');
    background-size: 100px 50px;
    width: 100px;
    height: 40px;
    margin-top: 3px;
    filter: grayscale(100%);
    opacity: 0.3;
    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }
  .slick-dots li:nth-child(3) {
    background-image: url('/assets/images/apptegy.png');
    background-size: 100px;
    background-repeat: no-repeat;
    width: 100px;
    height: 23px;
    margin-top: 4px;
    filter: grayscale(100%);
    opacity: 0.3;
    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }
  .slick-dots li:nth-child(4) {
    margin-bottom: -15px;
    background-image: url('/assets/images/itm.png');
    background-size: 100px 50px;
    width: 100px;
    height: 55px;
    margin-top: 4px;
    filter: grayscale(100%);
    opacity: 0.3;
    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }
  .carousel-item {
    display: block;
    box-shadow: 0 8px 32px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 40px;
    font-weight: 200;
    padding: 10px 120px 90px 50px;
    .item-info {
      width: 100%;
      float: left;
      text-align: center;
      .mike {
        width: 120px;
      }
      img {
        max-width: 120px;
        margin: -50px auto 15px;
        border-radius: 50%;
        box-shadow: 0 8px 32px 0 rgba(179,104,0,0.15);
      }
    }
    .item-opinion {
      float: left;
      width: 100%;
      .firefield {
        padding-top: 5px;
      }
      .apptegy {
        padding-top: 15px;
      }
      .item-company {
        max-width: 100px;
        margin: 25px 0;
      }
    }
  }
}


@media (min-width: 992px) {
  .main-carousel .carousel-item {
    height: 200px;
    margin: 0 20px;
    width: 720px;
    .item-opinion {
      width: 73%;
      padding-left: 7%;
    }
    .item-info {
      margin-top: 15px;
      padding-left: 3%;
      width: 17%;
    }
  }
}

@media (max-width: 1550px) {
  .main-carousel {
    .slick-list {
      padding: 30px 150px;
    }
  }
}

@media (max-width: 1120px) {
  .main-carousel {
    .slick-list {
      padding: 30px 80px;
    }
  }
}

@media (max-width: 991px) {
  .main-carousel {
    .slick-list {
      padding: 20px 0 200px 0;
    }
  }
}

@media (max-width: 692px) {
  .main-carousel {
    .slick-list {
      height: 500px;
      padding: 20px 0 110px 0;
    }
    .carousel-item {
      padding: 10px 15px 90px 15px;
    }
    .slick-dots li {
      margin: 0 10px;
    }
  }
}

@media (max-width: 539px) {
  .main-carousel {
    .slick-list {
      height: 500px;
    }
  }
}

@media (max-width: 480px) {
  .main-carousel {
    .carousel-item {
      padding: 10px 10px 30px 10px;
    }
    .slick-list {
      height: 570px;
    }
    .slick-dots li {
      margin: 0;
    }
    .slick-dots li:nth-child(1) {
      width: 50%;
    }
    .slick-dots li:nth-child(3) {
      width: 50%;
    }
  }
}
