.owl-stage {
  padding: 35px 0;
}
.main-carousel {
  .carousel-item {
    box-shadow: 0 8px 32px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 40px;

    font-weight: 200;
    padding: 10px 120px 90px 50px;

    .item-info {
      width: 100%;
      float: left;
      text-align: center;
      img {
        max-width: 150px;
        margin: -50px auto 15px;
        border-radius: 50%;
        box-shadow: 0 8px 32px 0 rgba(179,104,0,0.15);
      }
    }
    .item-opinion {
      float: left;
      width: 100%;
      .firefield {
        padding-top: 5px;
      }
      .apptegy {
        padding-top: 15px;
      }
      .item-company {
        max-width: 80px;
        margin: 25px 0;
      }
    }
  }
  .owl-dots {
    .owl-dot {
      height: 30px;
      margin: 40px 40px;
      .dot-1 {
        background-image: url('/assets/images/firefield.png');
        background-size: 100px;
        background-repeat: no-repeat;
        width: 100px;
        filter: grayscale(0100%);
        opacity: 0.3;
        &:hover {
          filter: grayscale(0);
          opacity: 1;
        }
      }
      .dot-2 {
        background-image: url('/assets/images/carousel2.png');
        width: 100px;
        margin-top: 3px;
        filter: grayscale(0100%);
        opacity: 0.3;
        &:hover {
          filter: grayscale(0);
          opacity: 1;
        }
      }
      .dot-3 {
        background-image: url('/assets/images/carousel3.png');
        background-size: 100px;
        background-repeat: no-repeat;
        width: 100px;
        margin-top: 4px;
        filter: grayscale(0100%);
        opacity: 0.3;
        &:hover {
          filter: grayscale(0);
          opacity: 1;
        }
      }
      .dot-4 {
        background-image: url('/assets/images/carousel4.png');
        width: 100px;
        margin-top: 4px;
        filter: grayscale(0100%);
        opacity: 0.3;
        &:hover {
          filter: grayscale(0);
          opacity: 1;
        }
      }
      div {
        background-position: center;
        background-size: cover;
        height: 35px;
      }
    }
  }
}
.carousel-point {
  text-align: center;
  margin: 130px 0 100px 0;
}

@media (min-width: 992px) {
  .main-carousel .carousel-item {
    height: 200px;
    margin: 0 10px;
    width: 720px;
    .item-opinion {
      width: 73%;
      padding-left: 7%;
    }
    .item-info {
      margin-top: 15px;
      padding-left: 3%;
      width: 17%;
    }
  }
}
