.clutch {
  padding: 60px 0;
  width: 620px;
  margin: 0 auto;
  font-weight: 200;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 150px 220px 250px;
  button {
    margin-left: 20px;
    height: 40px;
    a {
      font-size: 0.75rem;
      text-decoration: none;
      color: $color-primary;
    }
  }
}
