.clutch {
  padding: 60px 0;
  width: 620px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 200;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 150px 230px 250px;

  a {
    text-decoration: none;
    color: $color-primary;
    text-align: center;
  }
}

@media (max-width: 714px) {
  .clutch {
    width: auto;
    grid-template-columns: 1fr;
    justify-items: center;
    &-widget {
      margin: 20px 0 20px 115px;
    }
  }
}

@media (max-width: 469px) {
  .clutch-widget {
    margin: 20px 0 20px 85px;
  }
}
