.pipedriveWebForms {
  display: flex;
  justify-content: center;
}

.l-main-form {
  position: relative;
  margin-bottom: 85px;
  margin-top: 100px;
  padding-top: 60px;

  .main-point {
    display: block;
  }

  .form-wave {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    z-index: -1;
    max-width: none;
    height: 640px;
    min-width: 100%;
  }

  h2 {
    padding-bottom: 30px;
    padding-top: 20px;
  }

  @media (max-width: 640px) {
    margin-bottom: 120px;
    .form-wave {
      height: 750px;
    }
  }
}


.l-career-form {
  @extend .l-main-form;
  padding-top: 0;

  .form-wave {
    height: 545px;

    @media (max-width: 640px) {
      height: 605px;
    }
  }
}
