.gallery {
  margin-top: 30px;
  padding-bottom: 20px;
  grid-gap: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow: hidden;

  a {
    grid-column: 1 / 6;
    margin: 0 auto;
    text-decoration: none;
    color: $color-secondary;

    button {
      margin: 30px;
    }
  }

  .small-img {
    width: 90px;
  }

  .medium-img {
    width: 300px;
  }

  .large-img {
    width: 300px;
  }
}

@media (max-width: 991px) {
  .gallery {
    grid-gap: 15px;
  }
}
