@import "../variables";

.resources {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 150px);
  grid-gap: 30px;

  .main-point {
    grid-column: 1 / 13;
    grid-row: 1;
  }
  .resources-title {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    font-weight: 600;
    font-size: 35px;
  }
  .resources-text {
    grid-column: 1 / 13;
    grid-row: 3 / 5;
    padding-left: 40px;
    font-weight: 300;
  }
  .resources-tile {
    background: $color-white;
    box-shadow: 0 8px 32px 0 rgba(179,104,0,0.15);
    border-radius: 4px;
    font-weight: 300;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: end;
    .tile-text {
      margin-bottom: 15px;
    }
  }
  .web-tile {
    grid-column: 3 / 11;
    grid-row: 4 / 5;
    color: $color-orange;
  }
  .mobile-tile {
    grid-column: 3 / 11;
    grid-row: 5 / 6;
    color: $color-yellow;
  }
  .ux-tile {
    grid-column: 3 / 11;
    grid-row: 6 / 7;
    color: $color-purple;
  }
  .resources-btn {
    grid-column: 1 / 13;
    grid-row: 7 / 8;
  }
}

@media (min-width: 992px) {
  .resources {
    .resources-title {
      grid-column: 1 / 9;
      grid-row: 2 / 3;
    }
    .resources-text {
      grid-column: 1 / 7;
      grid-row: 3 / 5;
    }
    .web-tile {
      grid-column: 7 / 9;
      grid-row: 3 / 5;
    }
    .mobile-tile {
      grid-column: 9 / 11;
      grid-row: 2 / 4;
    }
    .ux-tile {
      grid-column: 9 / 11;
      grid-row: 4 / 6;
      margin-left: 30px;
      margin-right: -30px;
    }
    .resources-btn {
      grid-column: 1 / 7;
      grid-row: 4 / 6;
    }
  }
}

@media (min-width: 530px) {
  .resources {
    grid-template-rows: repeat(6, 100px);
  }
}
