@import "../variables";

.resources {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 90px);
  grid-gap: 30px;

  .main-point {
    grid-column: 1 / 13;
    grid-row: 1;
  }
  &-title {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
  }
  &-text {
    grid-column: 1 / 13;
    grid-row: 3 / 5;
    padding-left: 40px;
    font-weight: 200;
    padding-top: 20px;
  }
  &-tile {
    background: $color-white;
    box-shadow: 0 8px 32px 0 rgba(179,104,0,0.15);
    border-radius: 4px;
    font-weight: 300;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: end;
    .tile-text {
      margin-bottom: 15px;
    }
  }
  .web-tile {
    grid-column: 3 / 11;
    grid-row: 4 / 5;
    color: $color-secondary;
  }
  .mobile-tile {
    grid-column: 3 / 11;
    grid-row: 5 / 6;
    color: $color-accent-yellow;
  }
  .ux-tile {
    grid-column: 3 / 11;
    grid-row: 6 / 7;
    color: $color-accent-purple;
  }
  &-btn {
    grid-column: 1 / 13;
    grid-row: 7 / 8;
  }
}

@media (min-width: 992px) {
  .resources {
    &-title {
      grid-column: 1 / 7;
      grid-row: 2 / 3;
    }
    &-text {
      grid-column: 1 / 5;
      grid-row: 3 / 5;
    }
    .web-tile {
      grid-column: 7 / 9;
      grid-row: 3 / 5;
    }
    .mobile-tile {
      grid-column: 9 / 11;
      grid-row: 2 / 4;
    }
    .ux-tile {
      grid-column: 9 / 11;
      grid-row: 4 / 6;
      margin-left: 30px;
      margin-right: -30px;
    }
    &-btn {
      grid-column: 1 / 7;
      grid-row: 5 / 6;
    }
  }
}



@media screen and (max-width: 991px) {
  .resources {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px 100px 100px 100px;
    margin-top: 100px;

    &-text {
      margin: 40px 0;
      padding: 0;
    }

    .web-tile {
      grid-column: 1 / 7;
      grid-row: 5 / 7;
    }
    .mobile-tile {
      grid-column: 7 / 13;
      grid-row: 4 / 6;
    }
    .ux-tile {
      grid-column: 7 / 13;
      grid-row: 6 / 8;
    }

    &-btn {
      text-align: center;
    }
  }
}
