.results {

  &-wave {
    display: none;
  }

  &-assets {

    .asset-care {
      margin-top: 20px;
    }
  }
}

@media (min-width: 992px) {
  .results {

    &-wave {
      position: absolute;
      top: 15px;
      display: block;
    }

    &-assets {
      .asset {

        &-listen {
          margin-top: 5px;
        }

        &-act {
          margin-top: 70px;
        }

        &-care {
          margin-top: 40px;
        }
      }
    }
  }
}

@media (min-width: 1080px) {
  .results {

    &-wave {
      top: -10px;
    }

    &-assets {
      .asset {

        &-listen {
          margin-top: 15px;
        }

        &-act {
          margin-top: 75px;
        }
      }
    }
  }
}

@media (min-width: 1180px) {
  .results {

    &-wave {
      top: -30px;
    }

    &-assets {
      .asset {

        &-listen {
          margin-top: 15px;
        }

        &-act {
          margin-top: 90px;
        }

        &-care {
          margin-top: 45px;
        }
      }
    }
  }
}

@media (min-width: 1310px) {
  .results-wave {
    top: -60px;
  }
}

@media (min-width: 1400px) {
  .results {

    &-wave {
      top: -80px;
    }

    &-assets {

      .asset-listen {
        margin-top: 5px;
      }
    }
  }
}

@media (min-width: 1480px) {
  .results {

    &-wave {
      top: -115px;
    }

    &-assets {
      .asset {

        &-act {
          margin-top: 85px;
        }

        &-care {
          margin-top: 35px;
        }
      }
    }
  }
}

@media (min-width: 1570px) {
  .results {

    &-wave {
      top: -140px;
    }

    &-assets {

      .asset-listen {
        margin-top: 15px;
      }
    }
  }
}

@media (min-width: 1670px) {
  .results {

    &-wave {
      top: -165px;
    }

    &-assets {

      .asset-listen {
        margin-top: 25px;
      }
    }
  }
}

@media (min-width: 1760px) {
  .results {

    &-wave {
      top: -200px;
    }

    &-assets {

      .asset-care {
        margin-top: 25px;
      }
    }
  }
}

@media (min-width: 1860px) {
  .results {

    &-wave {
      top: -225px;
    }

    &-assets {

      .asset-listen {
        margin-top: 35px;
      }
    }
  }
}

@media (min-width: 1970px) {
  .results {

    &-wave {
      top: -265px;
    }

    &-assets {
      .asset {

        &-act {
          margin-top: 75px;
        }

        &-care {
          margin-top: 10px;
        }
      }
    }
  }
}

@media (min-width: 2080px) {
  .results-wave {
    top: -300px;
  }
}

@media (min-width: 2170px) {
  .results {

    &-wave {
      top: -335px;
    }

    &-assets {
      .asset {

        &-act {
          margin-top: 70px;
        }

        &-care {
          margin-top: 0;
        }
      }
    }
  }
}

@media (min-width: 2280px) {
  .results {

    &-wave {
      top: -360px;
    }

    &-assets {

      .asset-listen {
        margin-top: 50px;
      }
    }
  }
}

@media (min-width: 2390px) {
  .results-wave {
    top: -395px;
  }
}

@media (min-width: 2500px) {
  .results {

    &-wave {
      top: -420px;
    }

    &-assets {

      .asset-listen {
        margin-top: 60px;
      }
    }
  }
}
