.technology {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 160px;
  margin-bottom: 150px;

  .main-point {
    margin-top: 100px;
  }
  &-title {
    margin-top: 40px;
  }
  &-text {
    padding: 40px 50px 0 30px;
    font-weight: 300;
  }
  &-items {
    grid-column: 1 / 2;
    margin-top: 100px;

    .item {
      background: $color-white;
    	border-radius: 4px;
      background-color: $color-white;
      box-shadow: 0 8px 32px 0 rgba(0,0,0,0.1);
      font-weight: 300;
      text-align: center;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      height: 90px;
      width: 390px;
      margin-bottom: 20px;
      &.right {
        margin-left: 65px;
      }
      &.ios {
        margin-left: 100px;
      }
      img {
        max-height: 90px;
      }
    }
  }
}

@media (min-width: 992px) {
  .technology {
    grid-template-columns: 1fr 0.9fr;
    .main-point {
      margin-top: 100px;
      grid-column: 2;
    }
    &-items {
      margin-top: 200px;
    }
  }
}
