.technology {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 160px;
  margin-bottom: 150px;

  .main-point {
    margin-top: 100px;
    margin-bottom: 70px;
  }
  &-title {
    margin: 40px 0;
  }
  &-text {
    padding: 0 50px;
    font-weight: 200;
  }
  &-items {
    .tech-carousel .technology-carousel {
      .slick-arrow {
        visibility: hidden;
      }
      .slick-list {
        width: 350px;
        .slick-track .slick-slide {
          box-shadow: none;
        }
      }
    }
    .right {
      margin-left: 70px;
    }
    .ios {
      margin-left: 70px;
    }
    .left {
      margin-left: 15px;
    }
    .item {
      background: $color-white;
      border-radius: 4px;
      background-color: $color-white;
      box-shadow: 0 8px 10px 0 rgba(0,0,0,0.1);
      font-weight: 200;
      text-align: center;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      height: 90px;
      max-width: 350px;
      margin-bottom: 20px;
      .vue {
        margin-left: 15px;
      }
      .react {
        margin-left: -10px;
      }
      img {
        max-height: 90px;
      }
    }
  }
}

@media (min-width: 992px) {
  .technology {
    grid-template-columns: 1fr 0.9fr;
    .main-point {
      margin-bottom: 0;
      grid-column: 2;
    }
    &-items {
      margin-top: 200px;
      .ios {
        margin-left: 100px;
      }
    }
  }
}

@media (max-width: 469px) {
  .technology {
    .technology-item {
      width: 81%;
    }
    .technology-texts {
      width: 80%;
      text-align: center;
    }
  }
}
