.tools {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 100px);
  align-items: center;
  justify-items: center;
  grid-gap: 40px;

  .main-point {
    grid-column: 1 / 7;
  }
  img {
    max-height: 100px;
  }
  .slack {
    max-height: 120px;
  }
}

@media (min-width: 992px) {
  .tools {
    padding: 0 10%;
  }
}
