.tools {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 100px);
  align-items: center;
  justify-items: center;

  .main-point {
    grid-column: 1 / 6;
  }
  img {
    max-height: 100px;
  }
}

@media (min-width: 992px) {
  .tools {
    padding: 0 15%;
  }
}
