---
layout: default
---

<div class="about__wave"></div>

<h2 class="l-content l-about-header">
  <span class="big-point">Jacy jesteśmy?</span>
  Współpracujemy, naturalnie.
</h2>

<div class="l-full-page l-collaborate" id="hooverScroll">
  {% include about-collaborate.html %}
</div>
<div class="wave aboutus-wave-1">
  <div class="wave-tail"></div>
  <img src="/assets/images/blue-wave.png">
</div>
<div class="l-content">
  {% include about-whoarewe.html %}
</div>
<div class="l-content">
  {% include about-faces.html %}
</div>
<div class="wave aboutus-wave-3">
  <div class="wave-tail"></div>
  <img src="/assets/images/cream-wave.png">
</div>
<div class="l-content">
  {% include about-values.html %}
</div>
<div class="wave aboutus-wave-1">
  <div class="wave-tail"></div>
  <img src="/assets/images/blue-wave.png">
</div>
<div class="l-content">
  {% include about-values2.html %}
</div>
<div class="wave aboutus-wave-2">
  <div class="wave-tail"></div>
  <img src="/assets/images/cream-wave.png">
</div>
<div class="l-content">
  <div class="text-center about-gallery-titles">
    <span class="main-point">Natu-life</span>
    <h2>Zobacz co u nas!</h2>
  </div>
</div>
<div class="l-full-page">
  {% include gallery.html %}
</div>
<div class="l-content">
  <div class="aboutus-footer">
    <h1>Podoba Ci się?!</h1>
    <p>Chcesz pracować w spokoju, w rodzinnej atmosferze,jeść banany i pić kraftowe piwa ;)</p>
    <span>Dołącz do Naturaily!</span>
    <button type="button" class="btn btn-secondary">
      zobacz oferty pracy
    </button>
  </div>
</div>
