---
layout: default
---

<div class="about__wave"></div>

<h2 class="l-content l-about-header">
  <span class="big-point">Jacy jesteśmy?</span>
  Współpracujemy, naturalnie.
</h2>

<div class="l-content">
  {% include about-collaborate.html %}
</div>
<div class="l-content">
  {% include about-whoarewe.html %}
</div>
<div class="l-content">
  {% include about-faces.html %}
</div>
<div class="l-content">
  {% include about-values.html %}
</div>
<div class="l-content">
  {% include about-values2.html %}
</div>
