---
layout: default
---

<div class="about__wave"></div>

<h2 class="l-content l-about-header">
  <span class="big-point">Who we are?</span>
  We work together, naturally.
</h2>

<div class="l-content">
  {% include about-collaborate.html %}
</div>
<div class="wave aboutus-wave-1">
  <div class="wave-tail"></div>
  <img src="/assets/images/blue-wave.png">
</div>
<div class="l-content">
  {% include about-whoarewe.html %}
</div>
<div class="l-content">
  {% include about-faces.html %}
</div>
<div class="wave aboutus-wave-3">
  <div class="wave-tail"></div>
  <img src="/assets/images/cream-wave.png">
</div>
<div class="l-content">
  {% include about-values.html %}
</div>
<div class="wave aboutus-wave-1">
  <div class="wave-tail"></div>
  <img src="/assets/images/blue-wave.png">
</div>
<div class="l-content">
  {% include about-values2.html %}
</div>
<div class="wave aboutus-wave-2">
  <div class="wave-tail"></div>
  <img src="/assets/images/cream-wave.png">
</div>
<div class="l-content">
  <div class="text-center about-gallery-titles">
    <span class="main-point">Natu-life</span>
    <h2>Check out how we're doing!</h2>
  </div>
</div>
<div class="l-full-page">
  {% include gallery.html %}
</div>
<div class="l-content">
  <div class="aboutus-footer">
    <h2>Do you like us?</h2>
    <p>Do you want to work in calm, family atmosphere, eat bananas and drink craft beer?</p>
    <span>Join Naturaily!</span>
    <a href="/career" type="button" class="btn btn-secondary">
      See job offers
    </a>
  </div>
</div>

<img id="scrollUp" class="scroll-up" src="/assets/images/arrow-orange.png">
<script type="text/javascript">
  {% include scroll-up.js %}
</script>

<div class="l-full-page">
  {% include form.html %}
</div>
