---
layout: default
---

<div class="career__wave"></div>
<div class="l-content">
  <div class="big-point">
    Naturalnie,
  </div>
  <h2>Każdy znajdzie coś dla siebie!</h2>
</div>
<div class="l-content">
  {% include career-programming.html %}
</div>
<div class="l-content">
  {% include career-other.html %}
</div>
<div class="l-content">
  {% include career-more.html %}
</div>
<div class="l-content">
  <div class="main-point">
    Wpadnij na najlepszą kawę na wrocławskim rynku :)
  </div>
</div>
