---
layout: default
---
{% assign types = site.career | map: "type" %}
{% assign carrer_types = types | uniq | join: ' ' %}

<div class="career__wave"></div>

<div class="l-content l-career-header">
  <h1>Love coding? You’ll fit right in!</h1>
  <h3>
    We’re looking for talented, passionate people to join us in
    <br>
    making useful, reliable and beautiful digital products, while
    <br>
    keeping coding fun. Is that you?
  </h3>
  <button type="button" name="button" class="btn btn-primary btn-arrow" data-scroll-more>
    CHECK CURRENT POSITIONS
    <img src="/assets/images/btn-arrow.png" alt="arrow">
  </button>
</div>

<div class="l-content">
  <div class="l-career-container no-gutters">
    <div class="main-point work-as-a-team">
      It’s people that matter - work and be yourself
    </div>
    <h2 class="career-header">
      We work as a team
    </h2>
    <h3 class="full margin-left text-right">
      Naturaily is only just over 30 people large, which means less people work
      on individual projects. A smaller team allows for everyone to know what
      their role is, transparent communication and active participation in
      making the best product possible. We build our products together. We don’t
      punish innovation and curiosity - we nurture it. We respect the expertise
      of our developers and always try to implement their best ideas into our
      projects. Every week brings new challenges, and every week we work
      together to meet them.
    </h3>
    <img class="full" src="/assets/images/career-image-1.jpg" alt="">
    <h2 class="career-header margin-top">
      We notice potential
    </h2>
    <div class="margin-left career-header">
      <h3>
        We know how to spot potential and a will to grow professionally. We
        encourage employees who want to work and develop their skills. We take
        care of less experienced team members and guide them on their
        professional journey.
      </h3>
      <blockquote class="margin-top">
        I liked that the interview was straightforward and to the point. I
        immediately knew what to expect and what my role within the company would
        be. They weren’t afraid to take a chance on a less experienced tester
        and support my professional development. From day one I could count on
        the support of my team manager who helped me navigate the job and explain
        more complicated processes.
        <br><br>
        ~Bartek (QA)
      </blockquote>
    </div>
  </div>
</div>

<div class="l-content">
  <div class="l-career-container no-gutters career-space big">
    <h2 class="career-header">
      We like you - for you!
    </h2>
    <div class="margin-left career-header">
      <h3>
        What makes us unique is our respect for individuality. We created an open
        and honest work environment that encourages everyone to be themselves. Our
        teams are a true mix of personalities, which makes for a productive and
        fun day at work. We value honesty and open communication between all team
        members. Everyone’s opinion is equally important and considered. We
        combine the best from both worlds - a friendly and relaxed atmosphere
        with strong work ethics.
      </h3>
      <blockquote class="margin-top">
        What made me choose Naturaily was the feeling that my opinion mattered and
        I had a real impact on the project I was working on. I stayed because I’d
        wake up with a smile on my face and not drag going to work, I was actually
        excited about it!
        <br><br>
        ~Kuba (RoR Developer)
      </blockquote>
    </div>
    <div class="jakub">
      <img class="career-image" src="/assets/images/career-image-2.jpg" alt="">
    </div>
  </div>
</div>

<div class="l-content l-career-container no-gutters l-career-container-benefits">
  {% include career-benefits.html %}
</div>

<div class="wave main-wave-2">
  <div class="wave-tail"></div>
  <img src="/assets/images/blue-wave.png" alt="blue-wave">
</div>

<div class="l-content">
  <div class="l-career-container no-gutters career-space career-space-bottom-small">
    <h2 class="full font-big dupa">
      When you come to work with us you will most likely have to assemble your
      own workstation, it’s our special way of welcoming you into our ranks!
    </h2>
    <img class="full" src="/assets/images/career-image-3.jpg" alt="">
  </div>
</div>

<div class="l-content">
  <div class="l-career-container no-gutters">
    <div class="main-point">
      Grow professionally while staying true to your values
    </div>
    <h2 class="career-header">
      Company culture
    </h2>
    <h3 class="full margin-left text-right">
      At Naturaily we value individuality, professionalism, open communication
      and honesty. We strive to provide our clients with the best, stable,
      reliable and beautiful digital products. We achieve that by avoiding
      technical debt and being thorough. After years of working with digital
      products we’re still excited by new technologies, creative solutions and
      overcoming challenges. We pride ourselves in knowledge of Vue.js, Ruby on
      Rails and Internet of Things.
    </h3>
    <img class="full" src="/assets/images/career-image-4.jpg" alt="">
  </div>
</div>

<div class="l-content">
  {% include career-recruitment.html %}
</div>

<div class="wave main-wave-3">
  <div class="wave-tail"></div>
  <img src="/assets/images/cream-wave.png" alt="cream-wave">
</div>

<div class="l-content">
  <div class="l-career-container no-gutters career-space">
    <div class="career-header">
      <blockquote>
        While I was still at University I took part in a group project competition.
        The premise was to build an application under the guidance of a real
        company. I was always passionate about Ruby on Rails and curious about
        Vue.js. Naturaily already worked with those frameworks so I applied to
        develop my project with them. With their help my team won the competition
        and I got a chance at a real internship. It’s been almost 2 years and I’m
        still here - I believe that speaks for itself.
        <br><br>
        ~Adrian (RoR Developer)
      </blockquote>
    </div>
    <div class="ader">
      <img class="career-image" src="/assets/images/career-image-5.jpg" alt="">
    </div>
  </div>
</div>

<div class="l-content">
  <div class="l-career-container no-gutters">
    <div class="main-point">
      Interested? We’re hiring.
    </div>
    <h2 class="career-header dupa">
      We’re always searching for
      <br>
      amazing people to join our
      <br>
      team. Take a look at our
      <br>
      current openings below:
    </h2>
  </div>
</div>

{% for carrer_type in carrer_types %}
  <div class="l-content mvb-3">
    {% if carrer_type contains "Development" %}
      <div class="l-career-container aba">
        <div class="main-point pt-3">
          Development
        </div>
        {% for job in site.career %}
          {% if job.type contains "Development" %}
            {% include career-box.html %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if carrer_type contains "UX/UI" %}
      <div class="l-career-container aba">
        <div class="main-point blue-dot">
          UX/UI
        </div>
        {% for job in site.career %}
          {% if job.type contains "UX/UI" %}
            {% include career-box.html %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if carrer_type contains "Sales&Marketing" %}
      <div class="l-career-container aba">
        <div class="main-point green-dot">
          Sales&Marketing
        </div>
        {% for job in site.career %}
          {% if job.type contains "Sales&Marketing" %}
            {% include career-box.html %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if carrer_type contains "Business Development" %}
      <div class="l-career-container aba">
        <div class="main-point">
          Business Development
        </div>
        {% for job in site.career %}
          {% if job.type contains "Business Development" %}
            {% include career-box.html %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if carrer_type contains "Operations" %}
      <div class="l-career-container aba">
        <div class="main-point blue-dot">
          Operations
        </div>
        {% for job in site.career %}
          {% if job.type contains "Operations" %}
            {% include career-box.html %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if carrer_type contains "Other" %}
      <div class="l-career-container aba">
        <div class="main-point green-dot">
          Other
        </div>
        {% for job in site.career %}
          {% if job.type contains "Other" %}
            {% include career-box.html %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endfor %}

<div class="wave main-wave-2">
  <div class="wave-tail"></div>
  <img src="/assets/images/blue-wave.png" alt="blue-wave">
</div>

<div class="l-content">
  <div class="l-career-container career-space">
    <h2 class="full font">
      We’re working to build something meaningful and lasting. We try to
      approach everything we do thoughtfully - and if you feel the same about
      your? work, we’d love to hear from you. Use the form below and start your
      adventure at Naturaily.
    </h2>
  </div>
</div>

<div class="l-full-page">
  {% include career-form.html %}
</div>

<div class="l-content">
  <div class="l-career-container no-gutters ">
    <div class="main-point">
      Read more about working at Naturaily on our blog:
    </div>
    <h2 class="career-header margin-bottom-big">
      Our specialists share their knowledge
      <br>
      and experience on our blog.
    </h2>
  </div>
</div>

<div class="l-full-page career-carousel">
  {% include career-carousel.html %}
</div>

<script type="text/javascript">
  $('[data-scroll-more]').click(() => {
      $('html, body').animate({
          scrollTop: $('.work-as-a-team').offset().top
      }, 200);
  });
</script>
