---
layout: default
---
<div class="blog__wave"></div>

<div class="l-content l-blog">
  <div class="container">
    <div class="row">
      <section>
        {% if site.categories[page.filter_category] %}
          {% for post in site.categories[page.filter_category] %}
            <div class="post-preview">
              <a class="post-link" href="{{ post.url | relative_url }}">
                {% if post.image %}
                  <img class="post-image" src="{{post.image}}" alt="Post image">
                {% endif %}
              </a>
              <div class="post-meta">
                {% if post.avatar %}
                  <img class="avatar" src="{{ post.avatar }}" alt="Post author">
                {% endif %}
                <p class="author">
                  {% if post.author %}
                    <a href="/blog/authors/{{ post.author | replace: " ", "-" | downcase }}/">{{ post.author }}</a>
                  {% endif %}
                  <time>
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    {{ post.date | date: date_format }}
                  </time>
                </p>
                <div class="post-tags">
                  {% for tag in post.tags %}
                    <a href="/blog/tags/{{ tag | replace: " ", "-" }}/">{{ tag }}</a>
                  {% endfor %}
                </div>
                {% if post.readtime %}
                  <span class="read-time">{{ post.readtime }} min read</span>
                {% endif %}
              </div>
              <a class="post-link" href="{{ post.url | relative_url }}">
                <h1 class="post-title">{{ post.title | escape }}</h1>
              </a>
              {% if post.text-preview %}
                <div class="text-preview">
                  {{ post.text-preview }}
                </div>
                <a class="read-more" href="{{ post.url | relative_url }}">
                  read more
                </a>
              {% endif %}
              <hr>
            </div>
          {% endfor %}
        {% else %}
          <h2>No posts to display.</h2>
        {% endif %}
      </section>
    </div>
  </div>
  <div class="right-column">
    {% include blog-categories.html %}
    {% include blog-recentpost.html %}
    {% include blog-meetus.html %}
  </div>
</div>
<div class="l-content l-blog-pager">
  <ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: 'index.html', '' }}" rel="prev">&larr;</a>
    </li>
    {% endif %}
    {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
    <li {% if page.url == trail.path %}class="selected"{% endif %}>
      <a href="{{ trail.path | prepend: site.baseurl | replace: 'index.html', '' }}" title="{{trail.title}}">{{ trail.num }}</a>
    </li>
    {% endfor %}
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: 'index.html', '' }}" rel="next">&rarr;</a>
    </li>
    {% endif %}
  </ul>
</div>
<div class="l-full-page">
  {% include form.html %}
</div>

<script type="text/javascript">
  {% include blog-sticky.js %}
</script>
