---
layout: default
---

<div class="about__wave"></div>

<div class="l-content">
  <div class="eu-header">
    <div class="eu-logos">
     <img src="/assets/images/eu-logo-1.png" alt="European Funds">
     <img src="/assets/images/eu-logo-2.png" alt="Republic of Poland">
     <img src="/assets/images/eu-logo-3.png" alt="PARP">
     <img src="/assets/images/eu-logo-4.png" alt="European Union">
    </div>
    <div class="eu-description">
      Naturaily is implementing the project <b>Intensification of export
      activities of Naturaily Sp. z o. o. on foreign markets</b> within the
      sub-measure 3.3.3. SME SUPPORT IN PROMOTION OF PRODUCT BRANDS - GO TO
      BRAND The Intelligent Development Operational Program co-financed from the
      European Regional Development Fund.
    </div>
  </div>
</div>

<div class="l-content">
  <span class="big-point">
    About the project
  </span>
  <div class="eu-project">
    <div class="eu-about">
      The goal of the project is performing activities aimed at intensifying the
      export operations of Naturaily on foreign markets, focusing on promising
      markets and the European Union. Market analysis and global trends indicate
      that the services planned to be promoted will allow the company to become
      recognizable on selected promising and EU markets.
    </div>
    <div class="eu-poster">
      <img src="assets/images/eu-poster.jpg" alt="poster">
      <div>
        <p>
          Naturaily will take part in 6 trade and exhibition events in Israel,
          Japan, USA, Portugal and Finland as part of the project. Participation
          of Naturaily representatives in the IT / ICT industry promotion
          program will allow to promote IT services, in particular in the field
          of digital transformation.
        </p>
        <p>
          The implementation of planned activities is expected to allow for the
          presence on foreign markets, including those not yet serviced, which
          will increase the number of clients served and will be reflected in
          the growing revenues of the company. Participation in fairs and
          meetings with potential partners will allow us to better understand
          clients' needs and gain a strong position on foreign markets.
        </p>
      </div>
    </div>
  </div>
</div>
