<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include top-bar.html %}
    <div class="l-main-container">

      {% include home-header.html %}

      {{ content }}

    </div>
    {% include footer.html %}

    <script type="text/javascript" src="https://static1.clutch.co/sites/all/modules/custom/clutch_widget/js/widget.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script type="text/javascript">
      {% include home-page-scroll.js %}
    </script>
  </body>
  {% seo %}
</html>
