---
layout: default
---
<div class="main__wave"></div>

<div class="main__baner">
  <img class="natu__logo" src="/assets/images/logo_naturaily.png">
  <div class="oval"></div>
  <div class="baner__text">
    Twoje profesjonalne wsparcie IT na żądanie. Zapewniliśmy klientom <b>30 654 godzin</b> pracy naszych programistów i projektantów.
  </div>
  <button type="button" name="button" class="btn btn__primary baner__btn">
    zróbmy coś dla ciebie
  </button>
</div>

<div class="latest-projects">
  <div class="project project__main">
    <div class="project__image">
      <img src="/assets/images/kupiese.png">
    </div>
    <div class="project__text">
      Kupie.se
      <span class="project__subtext">Ruby on Rails, PostgreSQL, Ember.js, Node.js, Android</span>
    </div>
  </div>
  <div class="project project__second">
    <div class="project__image">
      <img src="/assets/images/shuttlefare.png">
    </div>
    <div class="project__text">
      Shuttlefare
    </div>
  </div>
  <div class="project project__third">
    <div class="project__image">
      <img src="/assets/images/motoceny24.png">
    </div>
    <div class="project__text">
      Motoceny24
    </div>
  </div>
</div>

<div class="resources">
  <div class="resources__title">
    Dostępne zawsze gdy tego potrzebujesz
  </div>
  <div class="resources__text">
    Bez względu na to czy potrzebujesz partnera do kompleksowej realizacji swojego pomysłu, czy też stałego lub chwilowego wsparcia zespołu developerskiego i projektowego, jesteśmy do Twojej dyspozycji, właśnie wtedy i zawsze wtedy gdy nas potrzebujesz.
  </div>
  <div class="web-tile tile">

  </div>
  <div class="mobile-tile tile">

  </div>
  <div class="ux-tile tile">

  </div>
  <div class="resources__btn">
    <button type="button" class="btn btn__secondary">poznaj naszą ofertę</button>
  </div>
</div>

<div class="technology">
  <div class="technology__title">
    Tworzymy nowoczesne aplikacje webowe i mobilne
  </div>
  <div class="technology__text">
    w oparciu o godne zaufania, stabilne technologie
    i frameworki oraz o transparentną komunikację
    i skuteczny proces realizacji.
    <br>
    <br>
    Powierzane nam produkty szyjemy na miarę Twoich idei i potrzeb Twoich klientów, korzystając
    z rozwiązań, po które sięgają najlepsi programiści
    i architekci software’u na całym świecie
  </div>
  <div class="technologies">
    <div class="item left">
      Ruby on Rails
    </div>
    <div class="item right">
      Ember
    </div>
    <div class="item left">
      Android
    </div>
    <div class="item right">
      iOS
    </div>
  </div>
</div>

<div class="tools">
  <img src="/assets/images/gitlab.png">
  <img src="/assets/images/jenkins.png">
  <img src="/assets/images/slack.png">
  <img src="/assets/images/breeze.png">
  <img src="/assets/images/trello.png">
</div>

<div class="values">
  <div class="values__title">
    To co ważne dla Ciebie, jest ważne dla nas!
  </div>
  <div class="values__nav">
    <ul class="values__nav-list">
      <li>Jakość <span>01</span></li>
      <li>Transparentność <span>02</span></li>
      <li>Fair Play <span>03</span></li>
      <li>Komunikacja <span>04</span></li>
    </ul>
  </div>
</div>

<div class="resaults">

</div>

<div class="competences">
  <div class="competences__title">
    Twoi najlepsi programiści i projektanci UX/UI na zlecenie
  </div>
  <div class="competences__text">
    Skorzystaj z naszych zasobów wtedy gdy ich potrzebujesz, rozpocznij z nami wdrożenie swojej aplikacji webowej lub mobilnej, lub rozwijaj z nami istniejące już oprogramowanie. Przekonaj się o jakości naszych usług w trakcie miesiąca testowego!
  </div>
  <div class="competences__btn">
    <button type="button" class="btn btn__primary">powiedz nam czego potrzebujesz</button>
  </div>
  <div class="competences__offers">
    <div class="offer offer--1">

    </div>
    <div class="offer offer--2">

    </div>
    <div class="offer offer--3">

    </div>
    <div class="offer offer--4">

    </div>
    <div class="offer offer--5">

    </div>
    <div class="offer offer--6">

    </div>
    <div class="offer offer--7">

    </div>
  </div>
</div>
