---
layout: home-default
---
<div class="main__wave"></div>

<div class="l-content">
  {% include banner.html %}
</div>

<div class="l-content l-content-home">
  {% include projects.html %}
</div>

<div class="l-content l-content-home">
  {% include resources.html %}
</div>

<div class="wave main-wave-1">
  <div class="wave-tail"></div>
  <img src="/assets/images/cream-wave2.png" alt="cream-wave">
</div>

<div class="l-content l-content-home">
  {% include technology.html %}
</div>

<div class="l-content l-content-home">
  {% include tools.html %}
</div>

<div class="wave main-wave-2">
  <div class="wave-tail"></div>
  <img src="/assets/images/blue-wave.png" alt="blue-wave">
</div>

<div class="l-content l-content-home">
  {% include values.html %}
</div>

<div class="wave main-wave-2">
  <img src="/assets/images/results-wave.png" alt="results wave" class="results-wave">
</div>

<div class="l-content l-content-home">
  {% include results.html %}
</div>

<div class="l-content l-content-home">
  {% include competence.html %}
</div>

<div class="wave main-wave-3">
  <div class="wave-tail"></div>
  <img src="/assets/images/cream-wave.png" alt="cream-wave">
</div>

<div class="l-content l-content-home">
  {% include aboutus.html %}
</div>

<div class="l-full-page">
  {% include gallery.html %}
</div>

<div class="l-full-page">
  {% include carousel.html %}
</div>

<div class="l-content">
  {% include clutch.html %}
</div>

<div class="l-full-page">
  {% include form.html %}
</div>
