---
layout: home-default
---
<div class="main__wave"></div>

<div class="l-content">
  {% include banner.html %}
</div>

<div class="l-content">
  {% include projects.html %}
</div>

<div class="l-content">
  {% include resources.html %}
</div>

<div class="wave main-wave-1">
  <div class="wave-tail"></div>
  <img src="/assets/images/cream-wave2.png" alt="">
</div>

<div class="l-content">
  {% include technology.html %}
</div>
<div class="l-content">
  {% include tools.html %}
</div>

<div class="wave main-wave-2">
  <div class="wave-tail"></div>
  <img src="/assets/images/blue-wave.png" alt="">
</div>

<div class="l-content">
  {% include values.html %}
</div>

<div class="l-full-page">
  {% include results.html %}
</div>

<div class="l-content">
  {% include competence.html %}
</div>

<div class="wave main-wave-3">
  <div class="wave-tail"></div>
  <img src="/assets/images/cream-wave.png" alt="">
</div>

<div class="l-content">
  {% include aboutus.html %}
</div>

<div class="l-full-page">
  {% include gallery.html %}
</div>

<div class="l-full-page">
  {% include carousel.html %}
</div>

<div class="l-content">
  {% include clutch.html %}
</div>

<div class="l-full-page">
  {% include form.html %}
</div>

<img id="scrollUp" class="scroll-up home-scroll-up" src="/assets/images/arrow-orange.png">
<script type="text/javascript">
  {% include scroll-up.js %}
</script>

<script src="https://embed.small.chat/T02TB4RKNG9BNWGMMJ.js" async></script>
