---
layout: on-tour-head
---

<div class="l-tour-header">
  {% include eu-bar.html %}
  {% include on-tour-top-bar.html %}
</div>


<div class="tour-circles-big">
  <span class="tour-circle red"></span>
  <span class="tour-circle orange"></span>
  <span class="tour-circle blue"></span>
  <img src="/assets/images/on-tour-circles.svg" alt="circles">
</div>

<div class="l-content">
  {% include on-tour-top.html %}
</div>

<div class="hangover-line left"><div></div></div>
<div class="hangover-line right"><div></div></div>

<div class="l-content">
  {% include on-tour-hangover.html %}
</div>

<div class="l-content">
  {% include on-tour-logos.html %}
</div>

<div class="l-content">
  {% include on-tour-videos.html %}
</div>

<div class="tour-circles-right">
  <div>
    <span class="tour-circle red"></span>
    <span class="tour-circle orange"></span>
    <span class="tour-circle blue"></span>
    <img src="/assets/images/on-tour-circles.svg" alt="circles">
  </div>
</div>

<div class="l-content">
  {% include on-tour-rhythm.html %}
</div>

<div class="l-content-right">
  {% include on-tour-greatest-hits.html %}
</div>

<div data-right class="tour-map">
  <img src="/assets/images/on-tour-map.png" alt="map">
</div>

<div class="l-content">
  {% include on-tour-cooperation.html %}
</div>

<div class="l-content">
  {% include on-tour-our-band.html %}
</div>

<div class="l-content-right">
  {% include on-tour-dates.html %}
</div>

<div class="l-content">
  {% include on-tour-form.html %}
</div>

<div class="l-content">
  {% include on-tour-photos.html %}
</div>
