---
layout: default
---

<div class="opensource__wave"></div>
<div class="l-content l-opensource">
  <span class="big-point">
    Discover Vue Resources the new...
  </span>
</div>

<div class="l-content">
  {% include vue-community.html %}
</div>
<div class="l-content">
  {% include vue-influencers.html %}
</div>
<div class="l-content">
  {% include vue-tutorials.html %}
</div>
<div class="l-content">
  {% include vue-newsletters.html %}
</div>
<div class="l-content">
  {% include vue-conferences.html %}
</div>

<div class="l-content">
  <div class="opensource-footer">
    <h1>To Ci się spodoba!</h1>
    <p>Chcesz pracować w spokoju, w rodzinnej atmosferze,jeść banany i pić kraftowe piwa ;)</p>
    <span>Dołącz do Naturaily!</span>
    <button type="button" class="btn btn-secondary">
      zobacz oferty pracy
    </button>
  </div>
</div>
