---
layout: default
---
<div class="blog__wave"></div>

<div class="l-content l-blog">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      {% if page.image %}
        <img src="{{page.image}}" alt="Post image">
      {% endif %}
      <div class="post-meta">
        {% if page.avatar %}
          <img class="avatar" src="{{ page.avatar }}" alt="Author avatar">
        {% endif %}
        <p class="author">
          {% if page.author %}
            <a href="/blog/authors/{{ page.author | replace: " ", "-" | downcase }}/">{{ page.author }}</a>
          {% endif %}
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
          </time>
        </p>
        <div class="post-tags">
          {% for tag in page.tags %}
            <a href="/blog/tags/{{ tag | replace: " ", "-" }}/">{{ tag }}</a>
          {% endfor %}
        </div>
        {% if page.readtime %}
          <span class="read-time">{{ page.readtime }} min czytania</span>
        {% endif %}
      </div>
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}

        {% include disqus_comments.html %}
      </div>

    </article>
    <div class="right-column">
      {% include blog-categories.html %}
      {% include blog-recentpost.html %}
      {% include blog-meetus.html %}
    </div>
    <div class="post-navigation">
      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}" rel="next">
          <img src="/assets/images/arrow-brown.png" alt="arrow">
          {{page.next.title}}
        </a>
      {% endif %}
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}" rel="prev">
          {{page.previous.title}}
          <img src="/assets/images/arrow-brown.png" alt="arrow">
        </a>
      {% endif %}
    </div>
    <div class="post-footer">
      <h2>You’re going to like it!</h2>
      <p>Do you want to work in calm, family atmosphere, eat bananas and drink craft beer? ;)</p>
      <span>Join Naturaily!</span>
      <a href="/careers" type="button" class="btn btn-secondary">
        see job offers
      </a>
    </div>

</div>

<div class="l-full-page">
  {% include form.html %}
</div>
<script type="text/javascript">
  {% include blog-sticky.js %}
</script>
