---
layout: services-layout
---
<div class="main__wave"></div>

<div class="l-content">
  <div class="banner">
    <h1 class="banner-text">
      {{page.heading}}
    </h1>
    <p class="banner-text">
      <small>
        {{page.desc}}
      </small>
    </p>
    <div class="banner-btn">
      <button type="button" name="button" class="btn btn-primary btn-arrow" data-scroll-more>
        Learn more
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </button>
    </div>
    <div class="banner-oval"></div>
  </div>

</div>

<div class="l-content">
  <div class="resources">
    <div class="main-point">
      Technology
    </div>
    <h2 class="resources-title">
      {{page.tech-head}}
    </h2>
    <p class="resources-text">
      {{page.tech-desc-one}}
      <br>
      <br>
      {{page.tech-desc-two}}
    </p>
    {%- unless page.tech-name-first == nil -%}
      <div class="web-tile resources-tile" data-reveal-resources=''>
        <img src="{{page.tech-logo-first}}" alt="Tech logo">
        <span class="tile-text">{{page.tech-name-first}}</span>
      </div>
    {%- endunless -%}
    {%- unless page.tech-name-second == nil -%}
      <div class="mobile-tile resources-tile" data-reveal-resources=''>
        <img src="{{page.tech-logo-second}}" alt="Tech logo">
        <span class="tile-text">{{page.tech-name-second}}</span>
      </div>
    {%- endunless -%}
    {%- unless page.tech-name-third == nil -%}
      <div class="ux-tile resources-tile" data-reveal-resources=''>
        <img src="{{page.tech-logo-third}}" alt="Tech logo">
        <span class="tile-text">{{page.tech-name-third}}</span>
      </div>
    {%- endunless -%}

  </div>
</div>
<div class="wave main-wave-2 wave-technology">
  <div class="wave-tail"></div>
  <img src="/assets/images/blue-wave.png" alt="wave">
</div>


<div class="l-content">
  <div class="values">
    <div class="main-point about-values-point">
      Advantages of {{page.advantage-head}}
    </div>
    <h2 class="values-title about-values-title">
      {{page.advantage-subtitle}}
    </h2>
    <div class="values-texts-wrapper">
      <div class="values-texts values-texts--tech scrollTo-container">
        <div class="value-text" id="quality">
          <div class="text-number">
            01
          </div>
          <div class="text-title">
            <span>{{page.advantage-desc-one-title}}</span>

          </div>
          <p class="text-content">
            {{page.advantage-desc-one}}
          </p>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="value-text" id="transparency">
          <div class="text-number">
            02
          </div>
          <div class="text-title">
            <span>{{page.advantage-desc-two-title}}</span>

          </div>
          <p class="text-content">
            {{page.advantage-desc-two}}
          </p>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="value-text" id="fair-play">
          <div class="text-number">
            03
          </div>
          <div class="text-title">
            <span>{{page.advantage-desc-three-title}}</span>

          </div>
          <p class="text-content">
            {{page.advantage-desc-three}}
          </p>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="value-text value-text-last" id="comunication">
          <div class="text-number">
            04
          </div>
          <div class="text-title">
            <span>{{page.advantage-desc-four-title}}</span>

          </div>
          <p class="text-content">
            {{page.advantage-desc-four}}
          </p>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wave main-wave-1 wave-advantages">
  <div class="wave-tail"></div>
  <img src="/assets/images/cream-wave.png" alt="wave">
</div>

<div class="l-content">
  <div class="whoarewe">
    <img src="/assets/images/logo_naturaily.svg" alt="Naturaily logo">
    <div class="whoarewe-texts">
      <h2>{{page.projects-slogan}}</h2>
    </div>
  </div>
</div>
<div class="l-content">
  <div class="main-point">
    {{page.projects-head}}
  </div>
</div>
<div class="l-full-page">
  {% include tech-projects.html %}
</div>

<div class="l-content">
  <div class="main-point">
    See recent posts
  </div>
  <div class="whoarewe-texts">
    <h2 class="values-title about-values-title">{{page.blog-desc}}</h2>
  </div>
</div>

<div class="l-full-page">
  {% include tech-posts.html %}
</div>

<div class="l-full-page opinions-carousel">
  {% include carousel.html %}
</div>

<div class="l-content">
  {% include clutch.html %}
</div>
<div class="wave main-wave-2 wave-technology">
  <div class="wave-tail"></div>
  <img src="/assets/images/blue-wave.png" alt="wave">
</div>

<div class="l-content">
  <div class="technology">
    <div class="main-point">
      Our competences
    </div>
    <div class="technology-items">
      {% for competence in page.competences %}
        <div class="item left" data-reveal-technology=''>
          <img class="carousel-logo" src="/assets/images/{{competence.tech-name}}-logo.png" alt="Tech logo">
          {{competence.tech-name}}
        </div>
      {% endfor %}
    </div>
    <div class="technology-texts">
      <h2 class="values-title about-values-title">
        Looking for different<br>technology?
      </h2>
      <div class="technology-text">
        <p>
          We offer a wide variety of technologies. Are you looking for something different than {{page.competences-text}}?<br>We love working with:
        </p>
      </div>
      <div class="results-circle">
        <div class="results-circle__content">
          <span>
            Let’s talk about <br> how awesome your project <br> is going to be!
          </span>
          <a href="/#contactForm" class="btn btn-secondary">Let’s talk</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wave main-wave-1 wave--last">
  <div class="wave-tail"></div>
  <img src="/assets/images/cream-wave.png" alt="wave">
</div>

<div class="l-full-page">
  {% include form.html %}
</div>
