---
layout: default
---

<div class="opensource__wave"></div>
<div class="l-content l-opensource-top">
  <span class="big-point">
    Discover <b>Vue Resources</b> the new...
  </span>
</div>

<div class="l-content l-opensource">
  {% include vue-community.html %}
</div>
<div class="l-content l-opensource">
  {% include vue-influencers.html %}
</div>
<div class="l-content l-opensource">
  {% include vue-tutorials.html %}
</div>
<div class="l-content l-opensource">
  {% include vue-newsletters.html %}
</div>
<div class="l-content l-opensource">
  {% include vue-conferences.html %}
</div>

<div class="l-content l-opensource">
  <div class="opensource-footer">
    <h1>You’re going to like it!</h1>
    <p>Do you want to work in calm, family atmosphere, eat bananas and drink craft beer? ;)</p>
    <span>Join Naturaily!</span>
    <a href="/career" type="button" class="btn btn-secondary">
      see job offers
    </a>
  </div>
</div>

<img id="scrollUp" class="scroll-up" src="/assets/images/arrow-orange.png">
<script type="text/javascript">
  {% include scroll-up.js %}
</script>

<div class="l-full-page">
  {% include form.html %}
</div>
