.dimonds {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 100px;

  .dimond {
    margin-bottom: 50px;

    img {
      display: none;
    }

    h2 {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 992px) {
  .dimonds {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 60px;

    .dimond {
      margin-top: 50px;

      img {
        display: block;
      }

      h2 {
        margin: 0;
      }

      p {
        margin: 40px 0 0 30px;
        font-weight: 300;
        max-width: 1000px;
      }

      &-steam {
        margin-top: 50px;
      }

      &-crystal {
        margin-top: 240px;
      }
    }
  }
}

@media (min-width: 1400px) {
  .dimonds .dimond-crystal {
    margin-top: 340px;
  }
}
