.dimonds {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
  padding-bottom: 60px;
}

.dimond {
  max-width: 700px;
  p {
    margin: 40px 0 0 30px;
    font-weight: 300;
  }
  &.down {
    margin-top: 200px;
  }
}

.l-collaborate {
  overflow-x: scroll;
  padding: 0 50px;
}

@media (max-width: 751px) {
  .dimonds {
    grid-template-columns: 1fr;

    .dimond {
      margin-top: 50px;
    }
  }
}
